/* Reset CSS
**********************************************************************************************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {border:0; outline:0; font-size:100%; background:transparent; margin:0; padding:0;}
body {line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
:focus {outline:none;}
*{outline:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}
a, input:focus, input{-o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; transition:.5s;}

/* Grid CSS
**********************************************************************************************/
@font-face {
    font-family:'helvetica_condreg';
    src: url('../fonts/helveticaltstd-cond-webfont.eot');
    src: url('../fonts/helveticaltstd-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-cond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-cond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-cond-webfont.svg#helvetica_lt_std_condregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fl{ float:left;}
.fr{ float:right;}
.clear{clear:both;}
.hide{display:none;}
.aleft{text-align:left;}
.aright{text-align:right;}
.c0{clear:both; font-size:0; height:0px; line-height:0;}
.c5{clear:both; font-size:0; height:5px; line-height:0;}
.c8{clear:both; font-size:0; height:8px; line-height:0;}
.c10{clear:both; font-size:0; height:10px; line-height:0;}
.c12{clear:both; font-size:0; height:12px; line-height:0;}
.c15{clear:both; font-size:0; height:15px; line-height:0;}
.c20{clear:both; font-size:0; height:20px; line-height:0;}
.c23{clear:both; font-size:0; height:23px; line-height:0;}
.c25{clear:both; font-size:0; height:25px; line-height:0;}
.blue_12{color: #024770; font-size: 12px;}
.blue_12 a{color:#075584; text-decoration: underline;}
.blue_12 a:hover{text-decoration: none;}
.orange_light{color: #EF6027; font-size: 12px; text-decoration: none;}
.orange_12_link{font-size:12px;color:#ff8537;text-decoration:underline;}
.orange_12_link:hover{font-size:12px;color:#ff8537;text-decoration:none;}
.blue_11_link{font-size:11px;text-decoration:underline;color:#075786;}
.blue_11_link:hover{font-size:11px;text-decoration:none;color:#075786;}
.orange_11 {color: #EF6027; font-size: 11px; text-decoration: none;}

.w100p{width:100%; float:left;}

.afmain{width:970px; margin:0 auto; background-color:#ffffff; color: #454545; font-family: Georgia,"Times New Roman",Times,serif; font-size: 11px; }

/* Header CSS
**********************************************************************************************/
.afmain header{width:957px; height:69px; padding:0 8px 0 5px; margin-bottom:10px; position:relative; background:url(../images/top_rpt.jpg) repeat-x top left; -webkit-border-radius:0 0 12px 12px; -moz-border-radius:0 0 12px 12px; border-radius:0 0 12px 12px;}
.afmain header .logo{position:absolute; left:5px; top:0;}
.afmain header .welcome{color: #FFFFFF; float: left; font-family: Trajan Pro; font-size: 13px; font-weight: bold; height: 59px; line-height: 18px; margin: 5px 0 0 142px; padding: 3px 0 0; text-align: center; text-transform: uppercase; width: 202px;}
.afmain header .songs_praise{float:left; width:350px; height:37px; line-height:37px; margin:0 0 0 61px; background:url(../images/blue_rpt.jpg) repeat-x top left;}
.afmain header .songs_praise .leftcurve{float:left; width:42px; height:37px; background:url(../images/blue_c1.jpg) repeat-x top left;}
.afmain header .songs_praise .rightcurve{float:right; width:42px; height:37px; background:url(../images/blue_c2.jpg) repeat-x top left;}
.afmain header .songs_praise .cntarea{width:265px; float:left}
.afmain header .songs_praise .cntarea .txt{float:left; color: #024770; font-size: 12px; text-decoration: none; margin-left:13px;}
.afmain header .songs_praise .cntarea .music{float:left;}
.afmain header .searchbox{float:right; margin:16px 0 0 0; width:202px;}
.afmain header .searchbox .inputbox{float:left; width:134px;  padding:0 3px; height:15px; border: 1px solid #05649E; font-size: 11px; margin-right:6px;}
.afmain header .searchbox .login_bg{float:left; cursor:pointer; width:54px; overflow:visible; border: 1px solid #0476BA; color: #024770; font-size: 11px; font-weight: bold; height: 17px; padding: 0 0 4px; text-decoration: none; background: #bde5ff; background: -moz-linear-gradient(top,  #bde5ff 0%, #69b8fb 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bde5ff), color-stop(100%,#69b8fb)); background: -webkit-linear-gradient(top,  #bde5ff 0%,#69b8fb 100%); background: -o-linear-gradient(top,  #bde5ff 0%,#69b8fb 100%); background: -ms-linear-gradient(top,  #bde5ff 0%,#69b8fb 100%); background: linear-gradient(to bottom,  #bde5ff 0%,#69b8fb 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde5ff', endColorstr='#69b8fb',GradientType=0 );}

/* section CSS
**********************************************************************************************/
.afmain section{width:735px; float:left; margin:0 5px 0 7px;}
.afmain section h3 {color: #EF7C27; font-family: Trebuchet MS; font-size: 20px; font-weight: normal;  margin: 0;  padding: 0;  text-decoration: none;}
.afmain section .inner_bnr_bg{background: url(../images/innner_bnr_bg.jpg) left top no-repeat; padding:0 7px 12px 0; width:728px; height:163px;}
.afmain section .fourbtn{width:728px; height:27px; overflow:hidden;}

.afmain section .fourbtn div{height: 25px; width: 175px; margin-left:6px; float:left; position:relative; font-family: trebuchet ms,arial; font-size: 15px; font-weight: bold; line-height:23px; text-decoration:none; background: rgb(209,39,56);}
.afmain section .fourbtn div a{text-decoration:none;  padding: 0px 48px 2px 7px;}
.afmain section .fourbtn div:after {-moz-transform: rotate(45deg);  -ms-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); background: none repeat scroll 0 0 white; content: ""; height: 33px; left: 154px; position: absolute; top: -16px; width: 40px; }

.afmain section .fourbtn .btn1{margin-left:0px; border:1px solid #66b3c9; background: #7ec5d9; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlYzVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzliZDhlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2U4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #7ec5d9 0%, #9bd8ea 50%, #b3e8f8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ec5d9), color-stop(50%,#9bd8ea), color-stop(100%,#b3e8f8)); background: -webkit-linear-gradient(top,  #7ec5d9 0%,#9bd8ea 50%,#b3e8f8 100%); background: -o-linear-gradient(top,  #7ec5d9 0%,#9bd8ea 50%,#b3e8f8 100%); background: -ms-linear-gradient(top,  #7ec5d9 0%,#9bd8ea 50%,#b3e8f8 100%); background: linear-gradient(to bottom,  #7ec5d9 0%,#9bd8ea 50%,#b3e8f8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec5d9', endColorstr='#b3e8f8',GradientType=0 ); }
.afmain section .fourbtn .btn1:hover{background: #7ec5d9;}
.afmain section .fourbtn .btn2{border:1px solid #7a79b7; background: #8a89c2; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhODljMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzk0OTNkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmQwZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #8a89c2 0%, #9493df 50%, #cfd0fe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a89c2), color-stop(50%,#9493df), color-stop(100%,#cfd0fe)); background: -webkit-linear-gradient(top,  #8a89c2 0%,#9493df 50%,#cfd0fe 100%); background: -o-linear-gradient(top,  #8a89c2 0%,#9493df 50%,#cfd0fe 100%); background: -ms-linear-gradient(top,  #8a89c2 0%,#9493df 50%,#cfd0fe 100%); background: linear-gradient(to bottom,  #8a89c2 0%,#9493df 50%,#cfd0fe 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a89c2', endColorstr='#cfd0fe',GradientType=0 );}
.afmain section .fourbtn .btn2:hover{background: #8a89c2;}
.afmain section .fourbtn .btn3{border:1px solid #80a7a2; background: #9bb8b4; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliYjhiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2I5ZDJjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGU3ZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #9bb8b4 0%, #b9d2ce 50%, #d4e7e3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb8b4), color-stop(50%,#b9d2ce), color-stop(100%,#d4e7e3)); background: -webkit-linear-gradient(top,  #9bb8b4 0%,#b9d2ce 50%,#d4e7e3 100%); background: -o-linear-gradient(top,  #9bb8b4 0%,#b9d2ce 50%,#d4e7e3 100%); background: -ms-linear-gradient(top,  #9bb8b4 0%,#b9d2ce 50%,#d4e7e3 100%); background: linear-gradient(to bottom,  #9bb8b4 0%,#b9d2ce 50%,#d4e7e3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb8b4', endColorstr='#d4e7e3',GradientType=0 );}
.afmain section .fourbtn .btn3:hover{background: #9bb8b4;}
.afmain section .fourbtn .btn4{border:1px solid #63a6d8; background: #81bfee; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxYmZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzllY2VmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWQ5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #81bfee 0%, #9ecef4 50%, #b5d9f9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81bfee), color-stop(50%,#9ecef4), color-stop(100%,#b5d9f9)); background: -webkit-linear-gradient(top,  #81bfee 0%,#9ecef4 50%,#b5d9f9 100%); background: -o-linear-gradient(top,  #81bfee 0%,#9ecef4 50%,#b5d9f9 100%); background: -ms-linear-gradient(top,  #81bfee 0%,#9ecef4 50%,#b5d9f9 100%); background: linear-gradient(to bottom,  #81bfee 0%,#9ecef4 50%,#b5d9f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bfee', endColorstr='#b5d9f9',GradientType=0 );}
.afmain section .fourbtn .btn4:hover{background: #81bfee;}

.afmain section .fourbtn .btn1 a{color:#144c5a}
.afmain section .fourbtn .btn2 a{color:#3c3e77}
.afmain section .fourbtn .btn3 a{color:#35655d}
.afmain section .fourbtn .btn4 a{color:#2b4b64} 

.afmain section  .livevideo{width:728px; float:left;}
.afmain section  .livevideo p{margin:12px 0;}
.afmain section  .livevideo video {width: 460px; height: 340px; border: 1px solid #cccccc;}
.afmain section  .livevideo .video-container {display: inline-block; text-align: center;}


/* Aside CSS
**********************************************************************************************/
.afmain aside{width:215px; float:left}

.afmain aside nav{width:100%; float:left;}
.afmain aside nav .home{border-right:7px solid #5C89DE;}
.afmain aside nav .about{border-right: 7px solid #A8984B;}
.afmain aside nav .resources{border-right: 7px solid #FF76BE;}
.afmain aside nav .new_event{border-right: 7px solid #42BED8;}
.afmain aside nav .outreach{border-right: 7px solid #DE7B40;}
.afmain aside nav .youth{border-right: 7px solid #E8C243;}
.afmain aside nav .contact{border-right: 7px solid #4BA7A2;}

.afmain aside div#nav div#mainnav{width:100%; float:left;} 
.afmain aside div#nav div#mainnav div{margin-bottom:1px; float:left; width:208px;}
.afmain aside div#nav div#mainnav div a{background: url(../images/nav/blue_arrow.png) 6px center no-repeat; height:24px; border-bottom: 1px solid #FFFFFF; line-height:24px; color:#072885; text-decoration:none; background-color:#e6e3e3; padding:0 0 0 30px; float:left; width:172px;  font-size: 12px;}
.afmain aside div#nav div#mainnav div a:hover{background: url(../images/nav/white_arrow.png) 6px center no-repeat; color:#fff; border-bottom: 1px solid transparent; width:178px;}

.afmain aside div#nav div#mainnav div.careers{border-right:7px solid #5C89DE;}
.afmain aside div#nav div#mainnav div.public{border-right: 7px solid #A8984B;}
.afmain aside div#nav div#mainnav div.complaints{border-right: 7px solid #FF76BE;}
.afmain aside div#nav div#mainnav div.whatwecover{border-right: 7px solid #42BED8;}
.afmain aside div#nav div#mainnav div.media{border-right: 7px solid #DE7B40;}
.afmain aside div#nav div#mainnav div.organisations{border-right: 7px solid #E8C243;}
.afmain aside div#nav div#mainnav div.tools{border-right: 7px solid #4BA7A2;}

.afmain aside div#nav div#mainnav div.careers.open{background-color:#a3c0fc;}
.afmain aside div#nav div#mainnav div.public.open{background-color:#d5c88e;}
.afmain aside div#nav div#mainnav div.complaints.open{background-color:#FBC3E2;}
.afmain aside div#nav div#mainnav div.whatwecover.open{background-color:#c4e7fd;}
.afmain aside div#nav div#mainnav div.media.open{background-color:#f8ab7e;}
.afmain aside div#nav div#mainnav div.organisations.open{background-color:#f5d771;}
.afmain aside div#nav div#mainnav div.tools.open{background-color:#d0f3f1;}

.afmain aside div#nav div#mainnav div.careers a:hover{background-color:#7da4f3;}
.afmain aside div#nav div#mainnav div.public a:hover{background-color:#b6a867;}
.afmain aside div#nav div#mainnav div.complaints a:hover{background-color:#fba8d6;}
.afmain aside div#nav div#mainnav div.whatwecover a:hover{background-color:#77dbf2;}
.afmain aside div#nav div#mainnav div.media a:hover{background-color:#f09662;}
.afmain aside div#nav div#mainnav div.organisations a:hover{background-color:#f7d564;}
.afmain aside div#nav div#mainnav div.tools a:hover{background-color:#6bbbb8;}

.afmain aside div#nav div#mainnav div.open{border:none; width:215px; padding:0px 0 10px 0;}
.afmain aside div#nav div#mainnav div.open a{font-weight:bold; border:none; background: url(../images/nav/white_arrow_open.png) 8px center no-repeat; width:185px; padding-bottom:1px; color:#ffffff; } 
.afmain aside div#nav div#mainnav div.careers.open a{background-color:#5C89DE;}
.afmain aside div#nav div#mainnav div.public.open a{background-color:#A8984B;}
.afmain aside div#nav div#mainnav div.complaints.open a{background-color:#FF76BE;}
.afmain aside div#nav div#mainnav div.whatwecover.open a{background-color:#42BED8;}
.afmain aside div#nav div#mainnav div.media.open a{background-color:#DE7B40;}
.afmain aside div#nav div#mainnav div.organisations.open a{background-color:#E8C243;}
.afmain aside div#nav div#mainnav div.tools.open a{background-color:#4BA7A2;}

.afmain aside div#nav div#mainnav div ul{display:none; float: left; margin: 0 0 0 30px; width: 185px;}
.afmain aside div#nav div#mainnav div.open ul{display: block; margin-top:5px;}
.afmain aside div#nav div#mainnav div.open ul li a{background-image:none; background-color:transparent !important; font-weight:normal; height:22px; line-height:22px; padding-left:0px; }
.afmain aside div#nav div#mainnav div.open ul li a:hover, .afmain aside div#nav div#mainnav div.open ul li.active a{font-weight:bold;}
.afmain aside div#nav div#mainnav div.open ul li.open a, .afmain aside div#nav div#mainnav div.open ul li.open ul li a:hover{font-weight:bold;}
.afmain aside div#nav div#mainnav div.open ul li ul{display:none; float: left; margin: 0 0 0 5px; width: 180px;}
.afmain aside div#nav div#mainnav div.open ul li.open ul{display:block;}
.afmain aside div#nav div#mainnav div.open ul li.open ul li a{font-weight:normal; width:auto; width:180px;}
.afmain aside div#nav div#mainnav div.open ul li.open ul li ul {margin-left:17px; float: left; width:163px;}
.afmain aside div#nav div#mainnav div.open ul li.open ul li.open ul li a{font-weight:normal; width:163px;}
.afmain aside div#nav div#mainnav div.open ul li.open ul li a.active, .afmain aside div#nav div#mainnav div.open ul li.open ul li ul li a:hover {font-weight:bold;}

.afmain aside div#nav div#mainnav div.careers.open ul li a{color:#4171cc;}
.afmain aside div#nav div#mainnav div.public.open ul li a{color:#8d7c2d;}
.afmain aside div#nav div#mainnav div.complaints.open ul li a{color:#EA4BA3;}
.afmain aside div#nav div#mainnav div.whatwecover.open ul li a{color:#3AA9C0;}
.afmain aside div#nav div#mainnav div.media.open ul li a{color:#ce6424;}
.afmain aside div#nav div#mainnav div.organisations.open ul li a{color:#cca00e;}
.afmain aside div#nav div#mainnav div.tools.open ul li a{color:#4BA7A2;}


.afmain aside .newslist, .afmain aside .eventlist{ width:100%; float:left; line-height:16px; }
.afmain aside .newslist .title, .afmain aside .eventlist .title{border-bottom: 1px solid #D2D1D1; width:100%;}
.afmain aside .newslist .title span.gray_bg, .afmain aside .eventlist .title span.gray_bg {background-color: #EBEBEB; color: #075584; display: block; font-size: 12px; font-weight: bold; padding: 5px 0; height:16px; line-height:16px; text-align: center; text-decoration: none; width: 85px;}
.afmain aside .newslist .news_bullet, .afmain aside .eventlist .news_bullet{margin:10px 0 0 0;}
.afmain aside .eventlist .event_item{border-bottom:1px dashed #acacac; padding-bottom:12px; width:100%; float:left;}
.afmain aside .eventlist .event_item .date_bg {background: url(../images/date_bg.jpg) left center no-repeat; float:left; color: #8F2E07; font-size: 10px;  font-weight: bold; height: 22px; line-height: 10px; padding:9px 0 3px;  text-align: center; width: 41px;}
.afmain aside .eventlist .event_item .event_info{float:left; width:164px; margin-left:10px;} 

.afmain aside .rhsbtn{width:206px; height:36px; line-height:36px; border:1px solid #92b5bb; box-shadow:0 2px 2px 1px #ccc; background: #f6feff; background: -moz-linear-gradient(top, #f6feff 0%, #e1faff 50%, #b6e5f9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6feff), color-stop(50%,#e1faff), color-stop(100%,#b6e5f9)); background: -webkit-linear-gradient(top, #f6feff 0%,#e1faff 50%,#b6e5f9 100%); background: -o-linear-gradient(top, #f6feff 0%,#e1faff 50%,#b6e5f9 100%); background: -ms-linear-gradient(top, #f6feff 0%,#e1faff 50%,#b6e5f9 100%); background: linear-gradient(to bottom, #f6feff 0%,#e1faff 50%,#b6e5f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6feff', endColorstr='#b6e5f9',GradientType=0 ); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.afmain aside .rhsbtn a{color: #0F3E58; float: left; font-family: trebuchet ms,arial; font-size: 17px; font-weight: bold; padding: 0 0 0 70px; text-decoration: none; width: 137px;}
.afmain aside .rhsbtn a:hover{color:#333;}
.afmain aside .rhsbtn a.church{background: url(../images/church_icon.png) 10px center no-repeat;}
.afmain aside .rhsbtn a.feedback{background: url(../images/feedback_icon.png) 10px center no-repeat;}
.afmain aside .rhsbtn:hover{background: #d5f6fb;}

/* Footer CSS
**********************************************************************************************/
.afmain footer{background: url(../images/btm_img.jpg) left bottom no-repeat; height:101px; margin:15px 0 0 0; padding:0 8px 0 7px; width:955px; float:left;}
.afmain footer nav{border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; margin-bottom:10px; height:31px; line-height:31px; text-align:center;}
.afmain footer nav a{color: #6D6D6D; text-decoration:none; margin:0 2px;}
.afmain footer nav a:hover{text-decoration:underline;}
.afmain footer .copyright{float:left; padding:9px 0 0 29px; }
.afmain footer .copyright strong{font-weight:bold; color:#024770; line-height:16px; font-size:12px; }
.afmain footer .zippro{float:right; margin:5px 0 0 0;}
