#slider1{width:200px;height:150px;}
#slider1 .contentdiv{width:200px;}
#paginate-slider1{width:200px;}
.sliderwrapper{position:relative;overflow:hidden;border:0px solid navy;border-bottom-width:0px;width:200px;height:150px;}
.sliderwrapper .contentdiv{visibility:hidden;position:absolute;left:0;top:0;padding:5px;background:white;width:200px;height:100%;filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);-moz-opacity:1;opacity:1;}
.pagination{display:none;width:200px;text-align:right;background-color:navy;padding:5px 10px;}
.pagination a{padding:0 5px;text-decoration:none;color:#00007D;background:white;}
.pagination a:hover, .pagination a.selected{color:#000;background-color:#FEE496;}