div#nav{clear:both;float:right;width:215px;}
div#nav span.skipjump{display:none;}
div#nav div#mainnav div{width:208px;min-height:24px;background:url(../images/nav/menuitem_bg.gif) no-repeat top left;margin-bottom:1px;}
* html div#nav div#mainnav div{width:215px;w\idth:215px;}
div#nav div#mainnav div a,
div#nav div#mainnav div a:link,
div#nav div#mainnav div a:visited,
div#nav div#mainnav div a:hover,
div#nav div#mainnav div a:active{display:block;color:#072885;text-decoration:none;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;padding:4px 0px 5px 30px;}
div#nav div#mainnav div a:hover{text-decoration:none;}
div#nav div#mainnav div.global{border-right:7px solid #7B7B7B;}
div#nav div#mainnav div.aboutus{border-right:7px solid #183789;}
div#nav div#mainnav div.microsite a:hover{text-decoration:none;background:url(../images/nav/menuitem_bg_hover_grey.gif) no-repeat top left;background-color:#7B7B7B;}
div#nav div#mainnav div.aboutus a:hover{background:url(../images/nav/menuitem_bg_hover_blue.gif) no-repeat top left;background-color:#284d99;text-decoration:none;color:#FFFFFF;}
div#nav div#mainnav div.open{width:215px;border-right:0;min-height:24px;margin-bottom:1px;}
div#nav div#mainnav div.open a,
div#nav div#mainnav div.open a:link,
div#nav div#mainnav div.open a:visited,
div#nav div#mainnav div.open a:hover,
div#nav div#mainnav div.open a:active{font-weight:bold;display:block;color:white;text-decoration:none;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;padding:4px 0px 5px 30px;}
div#nav div#mainnav div.open a:hover{text-decoration:none;}
div#nav div#mainnav div.open ul.open li a,
div#nav div#mainnav div.open ul.open li a:link,
div#nav div#mainnav div.open ul.open li a:visited,
div#nav div#mainnav div.open ul.open li a:hover,
div#nav div#mainnav div.open ul.open li a:active{color:white;}
div#nav div#mainnav div.open.openorganisations ul.open li a,
div#nav div#mainnav div.open.openorganisations ul.open li a:link,
div#nav div#mainnav div.open.openorganisations ul.open li a:visited,
div#nav div#mainnav div.open.openorganisations ul.open li a:hover,
div#nav div#mainnav div.open.openorganisations ul.open li a:active{color:#072885;}
div#nav div#mainnav div.open.openglobal{background:url(../images/nav/downarrow_grey.gif) no-repeat top left;background-color:#BDBDBD;}
div#nav div#mainnav div.open.openaboutus{background:url(../images/nav/downarrow_blue.gif) no-repeat top left;background-color:#DFE4F0;}
div#nav div#mainnav div.open li a.on,
div#nav div#mainnav div.open li a.on:link,
div#nav div#mainnav div.open li a.on:visited,
div#nav div#mainnav div.open li a.on:hover,
div#nav div#mainnav div.open li a.on:active,
div#nav div#sitetoolsnav li a.on,
div#nav div#sitetoolsnav li a.on:link,
div#nav div#sitetoolsnav li a.on:visited,
div#nav div#sitetoolsnav li a.on:hover,
div#nav div#sitetoolsnav li a.on:active{font-weight:bold;list-style:none;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;}
div#nav div#mainnav div.open ul{list-style:none;margin:0px 0 0 0;padding:2px 0 6px 10px;}
div#nav div#mainnav div.open ul li{margin:0 0 3px 0;padding:3px 3px 0 20px;}
div#nav div#mainnav div.open ul.open li{background:url(../images/nav/subnav_dash_white.gif) no-repeat 8px 3px;}
div#nav div#mainnav div.open ul li a,
div#nav div#mainnav div.open ul li a:link,
div#nav div#mainnav div.open ul li a:visited,
div#nav div#mainnav div.open ul li a:hover,
div#nav div#mainnav div.open ul li a:active{font-weight:normal;display:inline;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;margin:0;padding:0;}
div#nav div#mainnav div.open ul li ul{list-style:none;background:none;padding:0 0 3px 0;margin:3px 0;}
div#nav div#mainnav div.open ul li ul li ul{padding-left:10px;}
div#nav div#mainnav div.open ul.open li ul li,
div#nav div#mainnav div.open ul li ul li{background:none;padding:0;margin:2px 0;}
div#nav div#mainnav div.open.openglobal ul.open{background-color:#7B7B7B;}
div#nav div#mainnav div.open.openaboutus ul.open{background-color:#183789;}
div#nav div#mainnav div.open.openglobal ul li.open,
div#nav div#mainnav div.open.openglobal ul li.open ul{background-color:#BDBDBD;}
div#nav div#mainnav div.open.openaboutus ul li.open,
div#nav div#mainnav div.open.openaboutus ul li.open ul{background-color:#DFE4F0;}
div#nav div#sitetoolsnav ul{margin:10px 0 10px 3px;padding:0;list-style:none;}
div#nav div#sitetoolsnav ul li{margin:0;padding:2px 0 2px 10px;background:url(../images/nav/small_right_arrow.gif) no-repeat left;}
div#nav div#mainnav div.open ul li a.active{font-size:13px;font-weight:bold;}
div#nav div#mainnav div.complaints{border-right:7px solid #ff76be;}
div#nav div#mainnav div.complaints a:hover{background:url(../images/nav/menuitem_bg_hover_orange.gif) no-repeat top left;background-color:#fba8d6;text-decoration:none;color:#FFFFFF;}
div#nav div#mainnav div.open.opencomplaints{background:url(../images/nav/downarrow_orange.gif) no-repeat top left;background-color:#fbc3e2;}
div#nav div#mainnav div.open.opencomplaints ul.open{background-color:#fbc3e2;}
div#nav div#mainnav div.open.opencomplaints ul li.open,
div#nav div#mainnav div.open.opencomplaints ul li.open ul{background-color:#fbc3e2;}
div#nav div#mainnav div.open.opencomplaints ul li a{color:#ea4ba3;}
div#nav div#mainnav div.open.opencomplaints ul li a:hover{font-weight:bold;}
div#nav div#mainnav div.whatwecover{border-right:7px solid #42bed8;}
div#nav div#mainnav div.whatwecover a:hover{text-decoration:none;color:#072885;background:url(../images/nav/menuitem_bg_hover_lpink.gif) no-repeat top left;background-color:#77dbf2;color:#ffffff;}
div#nav div#mainnav div.open.openwhatwecover{background:url(../images/nav/downarrow_pink.gif) no-repeat top left;background-color:#c4e7fd;}
div#nav div#mainnav div.open.openwhatwecover ul.open{background-color:#c4e7fd;}
div#nav div#mainnav div.open.openwhatwecover ul li.open,
div#nav div#mainnav div.open.openwhatwecover ul li.open ul{background-color:#c4e7fd;}
div#nav div#mainnav div.open.openwhatwecover ul li a{color:#3aa9c0;}div#nav div#mainnav div.open.openwhatwecover ul li a:hover{font-weight:bold;}
div#nav div#mainnav div.campaign{border-right:7px solid #f66061;}
div#nav div#mainnav div.campaign a:hover{background:url(../images/nav/menuitem_bg_hover_purple.gif) no-repeat top left;background-color:#fb7b7a;text-decoration:none;color:#FFFFFF;}
div#nav div#mainnav div.open.opencampaign{background:url(../images/nav/downarrow_purple.gif) no-repeat top left;background-color:#f66061;}
div#nav div#mainnav div.open.opencampaign ul.open{background-color:#f66061;}
div#nav div#mainnav div.open.opencampaign ul li.open,
div#nav div#mainnav div.open.opencampaign ul li.open ul{background-color:#f66061;}
div#nav div#mainnav div.tools{border-right:7px solid #4ba7a2;}
div#nav div#mainnav div.tools a:hover{text-decoration:none;color:#FFFFFF;background:url(../images/nav/menuitem_bg_hover_pink.gif) no-repeat top left;background-color:#6bbbb8;}
div#nav div#mainnav div.open.opentools{background:url(../images/nav/downarrow_red.gif) no-repeat top left;background-color:#d0f3f1;}
div#nav div#mainnav div.open.opentools ul.open{background-color:#d0f3f1;}
div#nav div#mainnav div.open.opentools ul li.open,
div#nav div#mainnav div.open.opentools ul li.open ul{background-color:#d0f3f1;}
div#nav div#mainnav div.open.opentools ul li a{color:#4ba7a2;}
div#nav div#mainnav div.open.opentools ul li a:hover{font-weight:bold;}
div#nav div#mainnav div.public{border-right:7px solid #a8984b;}
div#nav div#mainnav div.public a:hover{text-decoration:none;color:#fff;}
div#nav div#mainnav div.public a:hover{text-decoration:none;background:url(../images/nav/menuitem_bg_hover_green.gif) no-repeat top left;background-color:#b6a867;color:#fff;}
div#nav div#mainnav div.open.openpublic{background:url(../images/nav/downarrow_green.gif) no-repeat top left;background-color:#a8984b;}
div#nav div#mainnav div.open.openpublic ul.open{background-color:#a8984b;}
div#nav div#mainnav div.open.openpublic ul li.open,
div#nav div#mainnav div.open.openpublic ul li.open ul{background-color:#a8984b;}
div#nav div#mainnav div.media{border-right:7px solid #de7b40;}
div#nav div#mainnav div.media a:hover{background:url(../images/nav/menuitem_bg_hover_darkgreen.gif) no-repeat top left;background-color:#f09662;text-decoration:none;color:#FFFFFF;}
div#nav div#mainnav div.open.openmedia{background:url(../images/nav/downarrow_darkgreen.gif) no-repeat top left;background-color:#ebc6b1;}
div#nav div#mainnav div.open.openmedia ul.open{background-color:#ebc6b1;}
div#nav div#mainnav div.open.openmedia ul li.open,
div#nav div#mainnav div.open.openmedia ul li.open ul{background-color:#ebc6b1;}
div#nav div#mainnav div.organisations{border-right:7px solid #e8c243;}
div#nav div#mainnav div.organisations a:hover{text-decoration:none;color:#fff;background:url(../images/nav/menuitem_bg_hover_yellow.gif) no-repeat top left;background-color:#e8c243;}
div#nav div#mainnav div.open.openorganisations{background:url(../images/nav/downarrow_yellow.gif) no-repeat top left;background-color:#fee281;}
div#nav div#mainnav div.open.openorganisations ul.open{background-color:#fee281;}
div#nav div#mainnav div.open.openorganisations ul li.open,
div#nav div#mainnav div.open.openorganisations ul li.open ul{background-color:#fee281;}
div#nav div#mainnav div.careers{border-right:7px solid #5c89de;}
div#nav div#mainnav div.careers a:hover{background:url(../images/nav/menuitem_bg_hover_lblue.gif) no-repeat top left;background-color:#7da4f3;text-decoration:none;color:#FFFFFF;}
div#nav div#mainnav div.open.opencareers{background:url(../images/nav/downarrow_blue.gif) no-repeat top left;background-color:#5c89de;}