@charset "utf-8";body{background-image:url(../images/bg.jpg);background-repeat:repeat-x;background-position:left top;background-color:#024770;margin:0px;padding:0px;}
.top_rpt{background-image:url(../images/top_rpt.jpg);background-position:left top;background-repeat:repeat-x;}
.login_bg{background-image:url(../images/login_bg.jpg);background-position:left top;border:1px solid #0476ba;background-color:#69b8fb;font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;text-decoration:none;font-weight:bold;height:17px;padding:0px 0px 4px 0px;color:#024770;}
.field_bdr{border:1px solid #05649e;font-size:11px;}
td{font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;line-height:16px;text-decoration:none;color:#454545;}
a{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:underline;color:#075584;}
.white_12{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#FFFFFF;}
.white_12_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#FFFFFF;}
.white_12_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:underline;color:#FFFFFF;}
.blue_12{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#024770;}
.menu_bg{background-image:url(../images/menu_bg2.jpg);background-position:left top;background-repeat:repeat-y;}
.white_bdr{border:2px solid #FFFFFF;}
img{border:none;behavior:url(iepngfix.htc);}
.orange_12{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#fda03c;text-decoration:none;}
.orange_12_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#ff8537;text-decoration:underline;}
.orange_12_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#ff8537;text-decoration:none;}
.orange_dark{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#d77904;text-decoration:none;}
.orange_light{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#ef6027;text-decoration:none;}
.orange_11{font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;color:#ef6027;text-decoration:none;}
a:focus{outline:none;}
.btn-slide{background:url(../images/white-arrow.gif) no-repeat left -35px;text-align:center;width:60px;height:22px;padding:0px 0px 0 0;margin:0 auto;display:block;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;color:#fff;text-decoration:none;}
.slide{padding:0px;width:86px;height:22px;background:url(../images/tab.jpg) no-repeat center top;float:right;text-align:center;margin-right:5px;}
.active{background-position:left 2px;}
p{margin:0px;padding:0px;}
.btm_gray_bdr{border-bottom:1px solid #d2d1d1;}
h2{margin:0px;padding:10px 0px 3px 0px;font-family:Trebuchet MS;font-size:15px;text-decoration:none;color:#075584;font-weight:normal;}
h3{margin:0px;padding:0px;font-family:Trebuchet MS;font-size:20px;text-decoration:none;color:#ef7c27;font-weight:normal;}
.gray_bdr{border:2px solid #bfbfbf;}
.blue_12_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:underline;color:#075786;}
.blue_12_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#075786;}
.blue_11_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;text-decoration:underline;color:#075786;}
.blue_11_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;text-decoration:none;color:#075786;}
.gray_12{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#676767;}
.times_italic{font-family:"Times New Roman", Times, serif;font-size:16px;color:#024770;text-decoration:none;line-height:20px;font-style:italic;}
.times_orange{font-family:"Times New Roman", Times, serif;font-size:18px;color:#ef6027;text-decoration:none;line-height:25px;font-style:italic;}
.times_blue_link{font-family:"Times New Roman", Times, serif;font-size:14px;color:#1388d5;text-decoration:none;}
.times_blue_link:hover{font-family:"Times New Roman", Times, serif;font-size:14px;color:#1388d5;text-decoration:underline;}
.gray_bg{width:85px;text-align:center;padding:5px 0px 5px 0px;display:block;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;font-weight:bold;color:#075584;background-color:#ebebeb;}
.black_11{font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;text-decoration:none;color:#454545;}
.date_bg{background-image:url(../images/date_bg.jpg);background-repeat:no-repeat;background-position:left center;font-family:Georgia, "Times New Roman", Times, serif;font-size:10px;font-weight:bold;line-height:10px;color:#8f2e07;width:41px;height:24px;text-align:center;padding:7px 0px 3px 0px;}
.dot_line{background-image:url(../images/dot_line.jpg);background-position:left center;background-repeat:repeat-x;}
.bdr_t_b{border-bottom:1px solid #d0d0d0;border-top:1px solid #d0d0d0;color:#6d6d6d;}
.footer_12_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#6d6d6d;padding:0px 2px 0px 2px;}
.footer_12_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:underline;color:#6d6d6d;padding:0px 2px 0px 2px;}
.mobile_bg{background-image:url(../images/mobile.jpg);background-position:right top;background-repeat:no-repeat;}
.anythingSlider{width:735px;height:286px;position:relative;margin:0px auto 0px;}
.anythingSlider .wrapper{width:728px;height:286px;margin:0px;position:absolute;top:0px;left:0px;overflow:hidden;}
.anythingSlider .wrapper ul{width:99999px;list-style:none;position:absolute;top:0px;padding-left:0px;margin:0px;}
.anythingSlider ul li{display:block;float:left;padding:0px;height:286px;width:728px;margin:0px;}
.anythingSlider .arrow{display:block;height:35px;width:30px;}
.anythingSlider .forward{background-position:0 0;right:0px;background:url(../images/right_arrow.gif) no-repeat 0 0;text-indent:-9999px;position:absolute;top:125px;cursor:pointer;}
.anythingSlider .back{background-position:-67px 0;left:1px;background:url(../images/left_arrow.gif) no-repeat 0 0;text-indent:-9999px;position:absolute;top:125px;cursor:pointer;}
#thumbNav{position:relative;top:250px;left:10px;text-align:center;float:right;margin-right:35px;}
#thumbNav a{font:11px/12px Georgia, Serif;text-decoration:none;display:inline-block;width:15px;padding:0px 0px 0px 0px;height:16px;margin:0 5px 0 0;background:#024770;text-align:center;color:white;}
#thumbNav a:hover{background-image:none;}
#thumbNav a.cur{background:#2c99d7;}
.slide_bg{background-image:url(../images/hdr_bg.png);background-position:left top;background-repeat:no-repeat;}
.menu{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#FFFFFF;font-weight:bold;text-transform:uppercase;}
.menu_link{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;color:#FFFFFF;border-bottom:1px solid #1d86bf;display:block;padding:8px 0px 8px 35px;font-weight:bold;text-transform:uppercase;}
.menu_link:hover{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;display:block;background-image:url(../images/menu_hover.jpg);background-position:left top;background-repeat:repeat-y;padding:8px 0px 8px 35px;border-bottom:1px solid #1d86bf;font-weight:bold;text-transform:uppercase;}
.inner_bnr_bg{background-image:url(../images/innner_bnr_bg.jpg);background-repeat:no-repeat;background-position:left top;}
.left_shadow{width:213px;float:left;background-image:url(../images/left_shadow.jpg);background-position:right bottom;background-repeat:no-repeat;padding-bottom:25px;}
.gray_rght_bdr{border-right:1px solid #efefef;}
.btm_img{background-image:url(../images/btm_img.jpg);background-position:left bottom;background-repeat:no-repeat;}
.blue_bdr{border:2px solid #628da6;padding:1px;}
.circle_main{width:383px;height:379px;margin:auto;text-align:left;}
#pink{width:236px;height:172px;position:absolute;z-index:15;margin-left:112px;}
#orange{width:171px;height:236px;position:absolute;z-index:12;margin-left:1px;padding-top:37px;}
#blue{width:232px;height:174px;position:absolute;z-index:9;margin-left:37px;margin-top:210px;}
#green{width:174px;height:247px;position:absolute;z-index:15;margin-left:210px;margin-top:100px;padding-top:5px;}
.menu_arrow{background-image:url(../images/menu_arrow.gif);background-position:12px 10px;background-repeat:no-repeat;}
.divo_box{width:500px;background-image:url(../images/div_rpt.jpg);background-repeat:repeat-y;background-position:left top;margin:auto;}
.divo_c1{width:500px;background-image:url(../images/div_c1.jpg);background-repeat:no-repeat;background-position:left top;}
.divo_c2{width:460px;background-image:url(../images/div_c2.jpg);background-repeat:no-repeat;padding:20px 20px 45px 20px;font-style:italic;background-position:left bottom;}
.btn-slide1{background:url(../images/white-arrow1.gif) no-repeat left -35px;text-align:center;width:60px;height:22px;padding:0px 0px 0 0;margin:0 auto;display:block;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;vertical-align:text-top;color:#fff;text-decoration:none;}
.active1{background-position:left 2px;}
.menu_link_act{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;display:block;background-image:url(../images/menu_hover.jpg);background-position:left top;background-repeat:repeat-y;padding:8px 0px 8px 35px;border-bottom:1px solid #1d86bf;font-weight:bold;color:#FFFFFF;text-transform:uppercase;}
.title_bg{font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;text-decoration:none;padding:5px 0px 5px 10px;background-color:#024770;color:#FFFFFF;font-weight:bold;text-transform:uppercase;}
.search_bg{background-image:url(../images/login_bg.jpg);background-repeat:no-repeat;background-position:left top;border:1px solid #0476ba;background-color:#69b8fb;font-family:Georgia, "Times New Roman", Times, serif;font-size:11px;text-decoration:none;font-weight:bold;height:17px;padding:0px 0px 4px 0px;color:#024770;}
.sub_menu_link{font-size:12px;color:#126cb2;font-weight:bold;padding-left:20px;vertical-align:middle;text-decoration:none;}
.sub_menu_link:hover{font-size:12px;color:#0a4777;font-weight:bold;padding-left:20px;vertical-align:middle;text-decoration:none;}
.sub_menu_link_act{font-size:12px;color:#0a4777;font-weight:bold;padding-left:20px;vertical-align:middle;text-decoration:none;}
.sub_menu_link1{font-size:12px;color:#a3faff;font-weight:bold;padding-left:12px;vertical-align:middle;text-decoration:none;}
.sub_menu_link1:hover{font-size:12px;color:#006666;font-weight:bold;padding-left:12px;vertical-align:middle;text-decoration:none;}
.sub_menu_link1_act{font-size:12px;color:#339999;font-weight:bold;font-family:Georgia, "Times New Roman", Times, serif;padding-left:12px;vertical-align:middle;text-decoration:none;}
.sub_menu_link2{font-size:12px;color:#FFFFFF;font-weight:bold;padding-left:12px;vertical-align:middle;text-decoration:none;}
.sub_menu_link2:hover{font-size:12px;color:#444444;font-weight:bold;padding-left:12px;vertical-align:middle;text-decoration:none;}
.sub_menu_link2_act{font-size:12px;color:#444444;font-weight:bold;padding-left:12px;vertical-align:middle;text-decoration:none;}
.highslide-maincontent{display:none;}
.highslide-html{background-color:white;}
.highslide-html-content{display:none;width:500px;padding:0 5px 5px 5px;}
.highslide-header{padding-bottom:5px;}
.highslide-header ul{margin:0;padding:0;text-align:right;}
.highslide-header ul li{display:inline;padding-left:1em;}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next{display:none;}
.highslide-header a{font-weight:bold;color:#FF9900;font-size:14px;text-decoration:none;}
.highslide-header a:hover{color:black;}
.highslide-header .highslide-move a{cursor:move;}
.highslide-footer{height:16px;}
.highslide-footer .highslide-resize span{display:none;}
.highslide-body{}
.highslide-resize{cursor:nw-resize;}
html*.anythingSlider .back{background-position:-67px 0;left:4px;background:url(../images/left_arrow.gif) no-repeat 0 0;text-indent:-9999px;position:absolute;top:125px;cursor:pointer;}
.LinkRed1{border:1px solid #0080FF;background-color:#D8F9FE;text-align:center;color:#0099CC;font-weight:bold;padding:3px;font-size:12px;display:inline-block;}
.LinkGray1{color:#CC0000;border:1px solid #FF8040;background-color:#FFE3D7;text-align:center;padding:3px;font-size:12px;display:inline-block;}
.LinkRed1:hover{border:1px solid #0080FF;background-color:#D8F9FE;text-align:center;color:#CC0000;text-decoration:none;font-weight:normal;padding:3px;font-size:12px;display:inline-block;}
h5{margin:0px;padding:10px 0px 3px 0px;font-family:Georgia, "Times New Roman", Times, serif;font-size:15px;text-decoration:none;color:#075584;font-weight:normal;}
a:hover{text-decoration:none;}
#map{width:500px;height:296px;position:absolute;z-index:594;margin-left:-415px;margin-top:-25px;visibility:hidden;}
#map2{width:445px;height:527px;position:absolute;z-index:594;margin-left:-415px;margin-top:-40px;visibility:hidden;}
.blue_rpt_top{background-image:url(../images/blue_rpt.jpg);background-position:left top;background-repeat:repeat-x;}
.lif_box{border-bottom:1px solid #6fafc0;border-left:1px solid #6fafc0;border-right:1px solid #6fafc0;}
.ref_box{border-bottom:1px solid #b2b2e0;border-left:1px solid #b2b2e0;border-right:1px solid #b2b2e0;}
.echo_box{border-bottom:1px solid #b1c7c3;border-left:1px solid #b1c7c3;border-right:1px solid #b1c7c3;}
.sun_box{border-bottom:1px solid #8dc1e8;border-left:1px solid #8dc1e8;border-right:1px solid #8dc1e8;}
.menu_rpt{background-image:url(../images/menu_rpt.jpg);background-position:left top;background-repeat:repeat-x;background-color:#dcf1ff;}
.nav_link{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/menu_arrowb.jpg);background-position:1px 5px;background-repeat:no-repeat;text-decoration:none;color:#034872;display:block;padding:3px 0px 3px 15px;}
.nav_link:hover{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/menu_arrowb_11.jpg);background-position:1px 5px;background-repeat:no-repeat;text-decoration:none;background-color:#1c78af;color:#ffffff;display:block;padding:3px 0px 3px 15px;}
.nav_link_act{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/menu_arrowb_11.jpg);background-position:1px 5px;background-repeat:no-repeat;text-decoration:none;background-color:#1c78af;color:#ffffff;display:block;padding:3px 0px 3px 15px;}
.sub1nav_link{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub1_arrow.jpg);background-position:1px 8px;background-repeat:no-repeat;text-decoration:none;color:#1c8ead;display:block;padding:3px 0px 3px 15px;}
.sub1nav_link:hover{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub1_arrow.jpg);background-position:1px 8px;background-repeat:no-repeat;text-decoration:none;color:#1c8ead;font-weight:bold;display:block;padding:3px 0px 3px 15px;}
.sub1nav_link_act{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub1_arrow.jpg);background-position:1px 8px;background-repeat:no-repeat;text-decoration:none;font-weight:bold;color:#1c8ead;display:block;padding:3px 0px 3px 15px;}
.sub2nav_link{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub2_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;color:#a3801b;display:block;padding:3px 0px 3px 13px;}
.sub2nav_link:hover{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub2_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;color:#a3801b;font-weight:bold;display:block;padding:3px 0px 3px 13px;}
.sub2nav_link_act{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/sub2_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;font-weight:bold;color:#a3801b;display:block;padding:3px 0px 3px 13px;}
.sub3nav_link{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/blue_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;color:#07517e;display:block;padding:3px 0px 3px 13px;}
.sub3nav_link:hover{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/blue_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;color:#07517e;font-weight:bold;display:block;padding:3px 0px 3px 13px;}
.sub3nav_link_act{border-bottom:1px solid #a2cae2;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;background-image:url(../images/blue_arrow.jpg);background-position:1px 7px;background-repeat:no-repeat;text-decoration:none;font-weight:bold;color:#07517e;display:block;padding:3px 0px 3px 13px;}
#play_btn{height:18px;width:17px;position:absolute;z-index:555;margin-left:37px;margin-top:26px;}
#play_btn1{height:18px;width:17px;position:absolute;z-index:555;margin-left:67px;margin-top:46px;}
.blue_18{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;text-decoration:none;color:#107990;}
.btn_bg_link{background-image:url(../images/btn_bg.jpg);background-position:left top;background-repeat:repeat-x;border:1px solid #409ab4;font-family:Arial, Helvetica, sans-serif;font-size:14px;text-decoration:none;color:#FFFFFF;padding:3px;}
.btn_bg_link:hover{background-image:url(../images/btn_bg11.jpg);background-position:left top;background-repeat:repeat-x;border:1px solid #409ab4;font-family:Arial, Helvetica, sans-serif;font-size:14px;text-decoration:none;color:#FFFFFF;padding:3px;}
.christmus_bg{background-image:url(../images/shadow.gif);background-repeat:repeat-y;background-position:center top;}
label.error {float: none;color: red;padding-left: .5em;vertical-align: top;}
.xstooltip {visibility: hidden;position: absolute;top: 0;left: 0;filter:alpha(opacity=90);opacity:0.9;-moz-opacity:0.9;padding: 5px;border: solid 1px #cccccc;overflow:auto;width:350px;height:350px;font-size:12px;font-family:Arial, Helvetica, sans-serif;background-color:#daf9fb;}
#logos{position:absolute;top:0;padding-left:5px;z-index:2;}
html* #logos{position:absolute;top:0;margin-left:-5px;z-index:2;}

.livevideo{width:728px; float:left;}
 .livevideo p{margin:12px 0;}
  .livevideo video {width: 460px; height: 340px; border: 1px solid #cccccc;}
  .livevideo .video-container {display: inline-block; text-align: center;}