@charset "utf-8";
body {
	background-color: #024770;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
}
.top_rpt{
	background-image:url(../images/top_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
.login_bg{
	background-image:url(../images/login_bg.jpg);
	background-position:left top;
	border:1px solid #0476ba;
	background-color:#69b8fb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	height:17px;
	padding:0px 0px 4px 0px;
	color:#024770;
}
.field_bdr{
	border:1px solid #05649e;
	font-size:11px;
}
td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#454545;
}

a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#075584;
}
.white_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
}
.white_12_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
}
.white_12_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#FFFFFF;
}
.blue_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#024770;}
.menu_bg{
	background-image:url(../images/menu_bg.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	background-color:#2789ba;
}
.white_bdr{
	border:2px solid #FFFFFF;
}
img{
	border:none;
}
.orange_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fda03c;
	text-decoration:none;
}
.orange_12_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ff8537;
	text-decoration:underline;
}
.orange_12_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ff8537;
	text-decoration:none;
}
.orange_dark{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d77904;
	text-decoration:none;
}
.orange_light{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ef6027;
	text-decoration:none;
}
.orange_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ef6027;
	text-decoration:none;
}
/*==================slide=======*/
a:focus {
	outline: none;
}

.btn-slide {
	background: url(../images/white-arrow.gif) no-repeat left -35px;
	text-align: center;
	width: 60px;
	height: 22px;
	padding: 0px 0px 0 0;
	margin: 0 auto;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #fff;
	text-decoration: none;
}
.slide {
	padding: 0px;
	width:86px;
	height:22px;
	background: url(../images/tab.jpg) no-repeat center top;
	float:right;
	margin-right:5px;
}
.active {
	background-position: left 2px;
}
p{
	margin:0px;
	padding:0px;}

/*==================End slide=======*/
.btm_gray_bdr{
	border-bottom:1px solid #d2d1d1;
}
h2{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	color:#075584;
	font-weight:normal;
}
h3{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#ef7c27;
	font-weight:normal;
}

.gray_bdr	{
	border:2px solid #bfbfbf;
}
.blue_12_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#075786;
}
.blue_12_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#075786;
}
.blue_11_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#075786;
}
.blue_11_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#075786;
}
.gray_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration: none;
	color:#676767;
}
.times_italic{
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	color:#024770;
	text-decoration:none;
	line-height:25px;
	font-style:italic;
}
.times_orange{
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	color:#ef6027;
	text-decoration:none;
	line-height:25px;
	font-style:italic;
}
.times_blue_link{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#1388d5;
	text-decoration:none;
}
.times_blue_link:hover{
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#1388d5;
	text-decoration:underline;
	
}
.gray_bg{
	width:85px;
	text-align:center;
	padding:5px 0px 5px 0px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#075584;
	background-color:#ebebeb;
}
.black_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#454545;
}
.date_bg{
	background-image:url(../images/date_bg.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	line-height:10px;
	color:#8f2e07;
	width:41px;
	height:24px;
	text-align:center;
	padding:7px 0px 3px 0px;
}
.dot_line{
	background-image:url(../images/dot_line.jpg);
	background-position:left center;
	background-repeat:repeat-x;
}
.bdr_t_b{
	border-bottom:1px solid #d0d0d0;
	border-top:1px solid #d0d0d0;
	color:#6d6d6d;
}
.footer_12_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#6d6d6d;
	padding:0px 2px 0px 2px;
}
.footer_12_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#6d6d6d;
	padding:0px 2px 0px 2px;
}
.mobile_bg{
	background-image:url(../images/mobile.jpg);
	background-position:right top;
	background-repeat:no-repeat;
}
/*=================================slider===============================*/
.anythingSlider                         { width: 735px; height: 286px; position: relative; margin:0px auto 0px; }
.anythingSlider .wrapper                { width: 728px;  height: 286px; margin:0px; position: absolute; top:0px; left:0px; }
.anythingSlider .wrapper ul             { width: 99999px; list-style: none; position: absolute; top:0px; padding-left:0px;  margin: 0px; }
.anythingSlider ul li                   { display: block; float: left; padding:0px; height:286px; width:728px; margin:0px; }
.anythingSlider .arrow                  { display: block; height: 35px; width:30px;   }
.anythingSlider .forward                { background-position: 0 0; right: 0px; background: url(../images/right_arrow.gif) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 125px; cursor: pointer;}
.anythingSlider .back                   { background-position: -67px 0; left: 0px; background: url(../images/left_arrow.gif) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 125px; cursor: pointer; }


#thumbNav                               { position: relative; top: 250px; left:10px; text-align: center; float:left; }
#thumbNav a                             { font: 11px/12px Georgia, Serif; text-decoration:none;display: inline-block; width:15px; padding:0px 0px 0px 0px; height: 16px; margin: 0 5px 0 0; background: #024770 ; text-align: center; color:white;}
#thumbNav a:hover                       { background-image: none; }
#thumbNav a.cur                         { background: #2c99d7; }
.slide_bg{
	background-image:url(../images/hdr_bg.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}
/*=================================End slider===============================*/
.menu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
.menu_link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	display:block;
	padding:10px 0px 10px 15px;
	font-weight:bold;
	text-transform:uppercase;
}
.menu_link:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:block;
	padding:10px 0px 10px 15px;
	background-color:#024770;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
.inner_bnr_bg{
	background-image:url(../images/innner_bnr_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
.left_shadow{
	width:213px;
	float:left;
	background-image:url(../images/left_shadow.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	padding-bottom:25px;
}
.gray_rght_bdr{
	border-right:1px solid #efefef;
}
.btm_img{
	background-image:url(../images/btm_img.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
}

/* Sejal */
.btn-slide1 {
	background: url(../images/white-arrow1.gif) no-repeat left -35px;
	text-align: center;
	width: 60px;
	height: 22px;
	padding: 0px 0px 0 0;
	margin: 0 auto;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #fff;
	text-decoration: none;
}
.active1 {
	background-position: left 2px;
}
/*======26-4-10=====*/
.blue_bdr{
	border:2px solid #628da6;
	padding:1px;
}
