h1, h2, h3, h4, h5
{   
    color: #F2683E;
}
/* ~~~ === POSITIONG SELECTORS ======================================= ~~~ */
#wrapper
{
    position: relative;
    width: 773px;
    height: 474px;
    background: url(../images/kiwisaver/body_bg.gif) no-repeat  0 0;
}
