body {
	background:#ADADAD;
	margin: 5px 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
/*html*body {
	background:#ADADAD;
	margin: 0;
}*/
.companytitle_red{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color:#DE442A;
}
.companytitle_gray{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color:#BBBBBB;
}
.footertxt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#333333
}
.ErrorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.SmallBlackHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#ffffff;
	padding-left:5px;
	padding-right:5px;
	background-color:#1A4D80;
}
.BottomBorder{
/*	border-bottom:1px solid #000033;*/

}
.TopBorder{
	/*border-top:1px solid #000033;*/
}

.SmallBlackNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:#333333;
	padding-left:5px;
	padding-right:5px;
}
.SmallBlackMedium {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}
.LinkRed1{
	border:1px solid #0080FF;
	background-color:#D8F9FE;
	text-align:center;
	color:#0099CC;
	font-weight:bold;
	padding: 3px;
	font-size:12px;
	display:inline-block;
}
.LinkRed1:hover{
	border:1px solid #0080FF;
	background-color:#D8F9FE;
	text-align:center;
	color:#CC0000;
	text-decoration:none;
	font-weight:normal;	
	padding: 3px;
	font-size:12px;
	display:inline-block;
}
.LinkGray1{
	color:#CC0000;
	border:1px solid #FF8040;
	background-color:#FFE3D7;
	text-align:center;
	padding: 3px;
	font-size:12px;
	display:inline-block;
}
.LinkGray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#246494;
	text-decoration:none;
}
.LinkGray:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #C10506;
	text-decoration:none;
}

.LinkRed{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight:bold;
	color : #FF0000;
	text-decoration : none;
}
.LinkRed:hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight:bold;
	color : #0000FF;
	text-decoration : none;
}

.Btn{
	font-family : Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#246494;
	font-weight:bold;
	height:20;
	cursor:pointer;
	border:1px solid ;
	background-image:url(../images/index_34.jpg);
}
.InputBox{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
	border : 1px solid #000033;
	height:20;
	padding : 2px 2px 2px 2px;
	background-image:url(../images/index_124.jpg);
}
.TextArea{
	font-family :Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #32160E;
	font-weight : normal;
	border : 1px solid #B37E6E;
	padding : 2px 2px 2px 2px;
}
.tbl_navigation
{
	border-top:1px solid #F3D9D1;
	border-left:1px solid #F3D9D1;
	border-bottom:2px solid #003366;
	border-right:2px solid #B37E6E;
}
.td_error_head
{
	border-bottom:1px solid #800001;
	background-color:#ffffff;
	padding:4px;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
.tbl_border
{
	/*border:1px solid #000033;*/
}
.tbl_head
{
	/*border-bottom:1px solid #800001;*/

	background-color:#ffffff;
	padding:4px;
	font-weight:bold;
	font-size:13px;
	color:#246494;
	font-family:Arial, Helvetica, sans-serif;
}
.MsgTxt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#336600;
}
.MsgErrorTxt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#FF0000;
}
.td_login_head
{
	border-bottom:1px solid #800001;
	background-color:#ffffff;
	padding:4px;
	font-weight:bold;
	font-size:17px;
	color:#666633;
	font-family:Arial, Helvetica, sans-serif;
}
.backtxt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#660000;
}
.backtxt a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#660000;
}
.content
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#32160E;
	padding:5px;
}
.LinkGray10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#666666;
	text-decoration:none;
}
.LinkGray10:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color:#666600;
	text-decoration:none;
}
.page_number
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	color:#990000;
	text-decoration:none;
}
.number
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#663300;
	text-decoration:none;
}
.column_head
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#A4171B;
	text-decoration:none;
}
.combo{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #000000;
	font-weight : normal;
	border:1px solid #000033;
	height:18;
}
.tbl_info
{
	background-color:#FEFEFE;
/*	border:1px solid #000033; */
	padding:4px;
}
.xstooltip 
{
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 100;		
    font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#D50000;
    padding: 3px; 
}
.Heading30{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	color:#000033;
}
.padding_10px
{
	padding:10px;
}
.RedStar{
	color:#A4171B;
}
.top2{
	 background-image:url(../images/RedAnimatedArrow.gif);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-color:#FDEBDE;
}
.top1{
	 background-repeat:no-repeat;
}
/* Menu Navigation */
#navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
  clear: both;
	background: #C1E4F8 url(../images/nav_bg.gif) repeat-x;
	text-align: left;
	margin: 0;
	padding: 0;
	float:left;
	height: 35px;
}
#navigation ul li a, #navigation ul li a:visited {
	color: #ACCBFF;
	text-decoration: none;
}
#navigation ul li a:hover, #navigation ul li.navbuttonover a, #navigation ul li.navbuttonover a:visited, #navigation ul li.navbuttonover a:hover {
	text-decoration: none;
	color: #00162C;
}
/* --------------------------------------------------------------
   LISTS
-------------------------------------------------------------- */

#navigation ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-image: none;
	color: #00162C;
	text-align: left;
	line-height: 35px;
	padding: 0;
	height: 35px;
	margin: 0 ;
	border:none;
}
#navigation ul li {
	background: url(../images/nav_inactive_bg.gif) no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	display: inline;
	width: 91px;
	height: 35px;
	color: #ACCBFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	margin: 0 1px 0 0;
}

#navigation ul li.navbuttonover {
	background: url(../images/nav_selected_bg.gif) no-repeat;
	text-decoration: none;
	color: #00162C;
}
#dropmenudiv a {
	font-family: Arial, Helvetica, sans-serif;
	
	width: 100%;
	background-color: #F5F5F5;
	display: block;
	text-indent: 6px;
	text-decoration: none;
	color: #666;
	font-size: 12px;
	line-height: 25px;
	font-weight: normal;
}
#dropmenudiv a:hover {
	background-color: #EBEBEB;
	color: #333;
}
#dropmenudiv {
	position: absolute;
	border: 1px solid #CCC;
	border-top: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	z-index: 100;
}
label {
	width: 10em;
	float: left;
}
label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}
.submit {
	margin-left: 12em;
}
em {
	font-weight: bold;
	padding-right: 1em;
	vertical-align: top;
}
/* 10-12-2009 */
h1.error, div.error {
background-image:url(../images/cancel.gif);
background-position:10px 50%;
background-repeat:no-repeat;
border:0.1em solid #FF0000;
margin:0.5em 0;
padding:10px 10px 10px 36px;
}
div.error h1 {
display:none;
background-color:#FFFFCC;
color:#FF0000;
font-size:24px;
border-bottom:0.1em solid #FF0000;
font-weight:bold;
margin:0 0 0.2em;
text-align:left;
}
div.error {
background-color:#FFFFCC;
color:#FF0000;
}
h1.notice, div.notice {
background-image:url(../images/ico_success.gif);
background-position:10px 50%;
background-repeat:no-repeat;
border:0.1em solid #FFD700;
font-size:12px;
margin:0.5em 0;
padding:10px 10px 10px 36px;
}
div.notice {
background-color:#FFFFDD;
color:#000000;
}
#tab_content {
	text-align: left;
	background-color: #F5F5F5;
	margin: 0px;
	padding: 10px;

}



/*Date picker*/ 
#calendar{ 
	height:205px; 
	overflow:hidden; 
	position:absolute; 
	bottom:7px; 
	right:-40px; 
	display:none; 
	background:#ffffff; 
} 
.hide_wk { 
	position:absolute; 
	z-index:9999; 
	top:31px; 
	width:27px; 
	height:180px; 
	background:#333333; 
} 
#calendar table{ 
	border-collapse:collapse; 
	width:15em; 
	position:relative; 
} 
#calendar table td{ 
	border:1px solid #999; 
	padding:5px; 
	text-align:center; 
	cursor:default; 
} 
#calendar table td.active{ 
	background-color:#3a3631; 
	color:#fff; 
	cursor:pointer; 
} 
#calendar table .next, #calendar table .prev { 
	cursor:pointer; 
}  
#calendar table .dow td{ 
	background-color:#3a3631; 
} 
#calendar table .header td{ 
	color:#fff; 
	background-color:#7E4B92; 
} 
.fieldlabel,.fieldarea{
background-color:EFEFEF;
font-size:12px;
color:#333333;
}
.form{
border:1px solid #CCCCCC; background-color:#EBEBEB;
font-size:13px;
}
/* Overlay */
#basic-modal-content {
	display:none;
}
#simplemodal-overlay {
	background-color:#000;
}
#simplemodal-container {
	position:absolute;
	top:0px;
	height:85%;
	width:45%;
	overflow:auto;	
	background-color:#FFFFFF;
	border:4px solid #444;
	/*padding:5px;*/
}
html* #simplemodal-container {
	position:absolute;
	top:0px;
	height:35%;
	width:45%;
	overflow:auto;	
	background-color:#FFFFFF;
	border:4px solid #444;
	/*padding:5px;*/
}
#simplemodal-container code {
	background:#141414;
	border-left:3px solid #65B43D;
	color:#bbb;
	display:block;
	/*margin-bottom:12px;*/
	/*padding:4px 6px 6px;*/
}
#simplemodal-container a {
	color:#ddd;
}
#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
}
#simplemodal-container #basic-modal-content {
	/*padding:8px;*/
}
.done,.user,.Email,.userEmail{background-color:#F0FFF0;background-image:url(../images/success-msg.png);background-repeat:no-repeat;background-position:center 10px;border:1px solid #33CC66;padding:50px 0px 0px 0px;height:75px;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:bold;color:#e65b55;display:none;}
.loading{float:right;background:url(../images/busy.gif) no-repeat 1px;height:28px;width:28px;display:none;}