/* --------------------------------------------------------------
   GLOBAL
-------------------------------------------------------------- */
body{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
form {
	margin: 0;
	padding: 0;
}
input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}

/* --------------------------------------------------------------
   LAYERS
-------------------------------------------------------------- */

#searchbox {
	position: absolute;
	top: 62px;
	left: 475px;
	width: 550px;
	border: 1px solid #999;
	background-color: #FFF;
	padding: 5px;
	text-align: center;
}
#topnav #welcome {
	text-align: left;
	margin: 0;
	padding: 0;
	float: left;
}
#topnav #date {
	text-align: right;
	margin: 0;
	padding: 0;
	float: right;
}
#logo_container #intellisearch {
	background: url(../images/intellisearch_bg.gif) no-repeat;
	text-align: left;
	width: 170px;
	height: 60px;
	margin: 22px 0 0 0;
	padding: 10px 15px 0 15px;
	float: right;
}
#logo_container #intellisearch #searchresults {
    position: relative;
    top: 28px;
    right: 170px;
    width: 350px;
    background-color: #FCF9D2;
	border: 1px solid #F9D43E;
	padding: 5px;
	margin: 0 10px 0 0;
	display: none;
	white-space: nowrap;
}
#dropmenudiv {
	position: absolute;
	border: 1px solid #CCC;
	border-top: 0;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	z-index: 100;
}
#left_side {
	text-align: left;
	width: 174px;
	margin:0;
	padding:0;
	float:left;
}

#content_padded {
	text-align: left;
	width: 100%;
	margin:0;
}
#content_padded #tab_content {
	text-align: left;
	background-color: #F5F5F5;
	margin: 0px;
	padding: 10px;
}
#footer {
	background-color: #ECECEC;
	border-top: 1px solid #DDD;
	text-align:center;
	padding: 15px;
}
#mynotes {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    text-align: center;
}

/* --------------------------------------------------------------
   HEADERS
-------------------------------------------------------------- */

h1 {
	display: block;
	background-color: #FFF;
	height: 35px;
	color: #2E6194;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #CCC;
}

/* --------------------------------------------------------------
   LINKS
-------------------------------------------------------------- */

a, a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
a img {
	border: 0;
}
a.highlight, a.highlight:visited {
	color: #8a0000;
	text-decoration: none;
}
a.highlight:hover {
	color: #8a0000;
}
#left_side ul.menu li a, #left_side ul.menu li a:visited {
	display: block;
	background-color: #F5F5F5;
	width: 169px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
	margin: 0;
	font-size: 11px;
	color: #666;
	text-decoration: none;
}
#left_side ul.menu li a:hover {
	background-color: #EBEBEB;
	color: #333;
}
#content_padded #tabs ul li a, #content_padded #tabs ul li a:visited, #content_padded #tabs ul li a:hover {
	background: url(../images/nav_inactive_bg1.gif) no-repeat;
	float: left;
	display: block;
	width: 75px;
	color: #ACCBFF;	
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 1px 5px;
	line-height: 25px;
	height: 25px;
	/*display: block;
	background-color: #F5F5F5;
	padding: 0 10px;
	margin: 0;
	line-height: 25px;
	height: 25px;
	color: #333;
	text-decoration: none;*/
}

#content_padded #tabs ul li.tabselected a, #content_padded #tabs ul li.tabselected a:visited,  #content_padded #tabs ul li.tabselected a:hover {
	background: url(../images/nav_selected_bg1.gif) no-repeat;
	text-decoration: none;
	color: #00162C;
	padding: 1px 5px;
	vertical-align:middle;
	text-align: center;
	
}
 #content_padded #clienttabs ul li a,  #content_padded #clienttabs ul li a:visited, #content_padded #clienttabs ul li a:hover {
	display: block;
	background-color: #F5F5F5;
	padding: 0 10px;
	margin: 0;
	line-height: 25px;
	height: 25px;
	color: #333;
	text-decoration: none;
}
#content_padded #clienttabs ul li.tabselected a,  #content_padded #clienttabs ul li.tabselected a:visited,  #content_padded #clienttabs ul li.tabselected a:hover {
	font-weight: bold;
	
}

table.datatable th, table.datatable th a, table.datatable th a:visited {
	color: #FFF;
	text-decoration: none;
}
table.datatable th a:hover {
	color: #FFF;
	text-decoration: underline;
}

/* --------------------------------------------------------------
   LISTS
-------------------------------------------------------------- */


#left_side ul.menu {
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
	border-top: 0;
	width: 187px;
	border-bottom: 1px solid #EBEBEB;
}
#content_padded #tabs ul, #content_padded #clienttabs ul {
	display: block;
	background-color: #FFF;
	height: 26px;
	line-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
}
#content_padded #tabs ul li, #content_padded #clienttabs ul li {
	float: left;
	padding: 0;
	margin: 0 0 0 7px;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
	background-color: #EBEBEB;
	padding: 0px;
	border: 1px solid #CCC;
}
table.form td {
	font-size: 12px;
}
table.form td.fieldlabel {
	background-color: #efefef;
}
table.form td.fieldarea {
	background-color: #efefef;
}
table.datatable {
	padding: 0;
	margin: 0;
}
table.datatable th {
	background-color: #1A4D80;
	font-weight: bold;
	text-align: center;
}
table.datatable td {
	background-color: #FFF;
	border-bottom: 1px solid #EBEBEB;
	font-size: 12px;
}
table.datatable tr.rowhighlight td {
	background-color: #EFF2F9;
}

/* --------------------------------------------------------------
   IMAGES
-------------------------------------------------------------- */

#logo_container img.banner {
	float: left;
	border: 0;
}

/* --------------------------------------------------------------
   SPECIAL CLASSES
-------------------------------------------------------------- */

.absmiddle {
	vertical-align: middle;
}
.clear {
	clear: both;
}
.smallfont {
	font-size: 11px;
}
.tablebg {
	background-color: #FFF;
}
#left_side .header {
	background: #FFF url(../images/leftside_top_bg.gif) no-repeat;
	color: #FFF;
	font-size: 12px;
	border-bottom: 0;
	display: block;
	width: 169px;
	text-align: left;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	padding: 0 10px;
	margin: 0;
}
#left_side .plain_header {
	display: block;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	width: 189px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #CCC;
	padding: 0;
	margin: 0 0 10px 0;
}

/* --------------------------------------------------------------
   INFO BOXES
-------------------------------------------------------------- */

.infobox {
	background-image: url('../images/warning.gif');
	background-repeat: no-repeat;
	background-position: 5px;
	margin: 10px 5px 10px 5px;
	padding: 5px 5px 5px 45px;
	background-color: #FCF9D2;
	border: 1px solid #F9D43E;
    text-align: left;
}
.contentbox {
	text-align: center;
	background-color: #f7f7f7;
	border: 1px dashed #cccccc;
	padding: 10px;
}
.errorbox {
	border: 1px dashed #cc0000;
	font-weight: bold;
	background-color: #FBEEEB;
	text-align: center;
	padding: 10px;
	color: #cc0000;
}
.invoicetooltip {
	background-color: #888888;
	color: #000000;
	padding: 5px;
	z-index: 100;
}

/* --------------------------------------------------------------
   TEXT COLORS
-------------------------------------------------------------- */

.textblack {
	color: #000000;
}
.textblue {
    color: #224488;
}
.textgreen {
	color: #779500;
}
.textgrey {
	color: #888888;
}
.textgold {
    color: #ffbb55;
}
.textorange {
	color: #ff6600;
}
.textred {
	color: #cc0000;
}

/* --------------------------------------------------------------
   DATE PICKER
-------------------------------------------------------------- */

.datepick {
    width: 100px;
}
.datepick + img {
    position: relative;
    left: -20px;
    top: 1px;
}

/* 10-12-2009 */
h1.error, div.error {
background-image:url(../images/cancel.gif);
background-position:10px 50%;
background-repeat:no-repeat;
border:0.1em solid #FF0000;
margin:0.5em 0;
padding:10px 10px 10px 36px;
}
div.error h1 {
display:none;
background-color:#FFFFCC;
color:#FF0000;
font-size:24px;
border-bottom:0.1em solid #FF0000;
font-weight:bold;
margin:0 0 0.2em;
text-align:left;
}
.error {
background-color:#FFFFCC;
color:#FF0000;
}
h1.notice, div.notice {
background-image:url(../images/ico_success.gif);
background-position:10px 50%;
background-repeat:no-repeat;
border:0.1em solid #FFD700;
margin:0.5em 0;
padding:10px 10px 10px 36px;
}
.notice {
background-color:#FFFFDD;
color:#000000;
}
