/*
 * Mootools Events Calendar - 600px x 400px
*/

/* Calendar Header/Controls */
/*.mooECal{margin:0; padding:0; width:720px; height:400px; border:1px solid #669999; border-left:none; text-align:center; border-collapse:separate; font-family:Arial, Helvetica, sans-serif;}
.mooECal li, .mooECal ul{list-style:none; display:block; margin:0; padding:0; padding-top:5px;}
thead tr{height:20px;}
.trControls{height:20px;}
.thControls, .ulControls{text-align:left;}
.thControls{ border-bottom:1px solid #999; border-left:1px solid #669999; height:20px;}
.mooECal .liHeaderCal{font-size:1.0em; float:right; width:52%; text-align:center; margin-right:2%; color:#669999;}
.aPrevCal,.aNextCal{text-decoration:none; font-size:1.2em; padding:2px; background-color:#f1f1f1; border:1px solid #CCCCCC;}
.mooECal .liNextCal{float:right; padding-top:0px;}

.mooECal .liLoading{font-size:0.8em; color:#999; letter-spacing:0.3em; margin-left:2%;}

.ulViewPicker li{float:right;}
.aViewCal{text-decoration:none; font-size:12px; display:block; padding:5px; background-color:#f1f1f1; border:1px solid #CCCCCC; margin-right:1.2em; color:#006699;} 
.aViewCal:hover{text-decoration:underline;}

.mooECal tr.dowRow{height:10px;}
.mooECal tr.dowRow th{border-left:1px solid #669999; font-size:12px; color:#ffffff; text-align:center; height:10px; background-color:#669999;}
.mooECal tr.dowRow th li{float:left; width:14.28%; vertical-align:text-top; padding-bottom:10px;}*/

 .mooECal{margin:0; padding:0; width:720px; height:500px; border:1px solid #669999; border-left:none; text-align:center; border-collapse:separate; font-family:Arial, Helvetica, sans-serif;}  
 .mooECal li, .mooECal ul{list-style:none; display:inline; margin:0; padding:0;}  
 thead tr{height:50px;}  
 .trControls{height:50px;}  
 .thControls, .ulControls{text-align:left;}  
 .thControls{ border-bottom:1px solid #999; border-left:1px solid #669999; height:50px;}  
 .mooECal .liHeaderCal{font-size:1.0em; float:right; width:52%; text-align:center; margin-right:2%; color:#669999;} /* date range of current view */  
 .aPrevCal,.aNextCal{text-decoration:none; font-size:1.2em;background-color:#f1f1f1; border:1px solid #CCCCCC;} /* left/right nav arrow */  
 html*.mooECal .liNextCal{float:right;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}  
 .mooECal .liNextCal{float:right;border-top:0px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}  
 .mooECal .liLoading{font-size:0.8em; color:#999; letter-spacing:0.3em; margin-left:2%;}/* "loading..." text */  
 /* month, week, day view links*/  
 .ulViewPicker li{float:right;}  
 .aViewCal{text-decoration:none; font-size:12px; margin-right:1.2em;  display:block; padding:5px; background-color:#f1f1f1; border:1px solid #CCCCCC;  color:#006699;}   
 .aViewCal:hover{text-decoration:underline;}  
 /* mon, tues, wed ... row */  
 .mooECal tr.dowRow{height:10px;}
.mooECal tr.dowRow th{border-left:1px solid #669999; font-size:12px; color:#ffffff; text-align:center; height:10px; background-color:#669999;}
.mooECal tr.dowRow th li{float:left; width:14.28%; padding-bottom:5px; padding-top:5px;}

/* Calendar Body */  
 .monthWeek{overflow:hidden;}  
 .weekWeek,.dayDay{height:90%;}  
 .monthDay,.weekDay,.dayDay{border:1px solid #669999; font-size:15px; border-right:none; border-bottom:none; width:14%; text-align:left; vertical-align:top;}  
 .mooECal td.dayDay{padding:2%;}  
 .mooECal td.hover{background-color:#99CCFF;} /* color when hovering a day */  
 .mooECal td.selected{background-color:#CCFFFF; font-size:17px;} /* color for the selected day */  
 .mooECal td span{color:#CC6600; font-size:0.8em;} /* day of the month (1-31) */  
 .monthDay div{height:65px; overflow:auto; cursor:default;}  
 .mooECal td div div{font-size:10px; color:#669999; height:17px; overflow:hidden; cursor:default;}  
 .mooECal td a{font-size:11px; color:#669999; text-decoration:underline;}  
 .mooECal td div.fullEvent{height:auto; overflow:auto; font-size:14px; border-bottom:1px solid #DDD;}  

/* tips styling */
.tip {color: #fff; font-style:normal; font-size:14px; z-index: 13000; background-color:#669999; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.tip-title {font-weight: bold;font-size: 14px; margin: 0;padding: 8px 8px 4px;}
.tip-text {font-size: 14px;padding: 4px 8px 8px; font-style:normal;}
.tip a{text-decoration:none; color:#FFF; font-size: 12px;font-weight: bold; font-style:normal;}