/* 
Title:      layout-interface.css
Author:     nurun.com
Updated:    April 2008

Content:	Grid base
			Skip nav
			Global nav
			Sliding nav
			Sub nav
			Sub nav *exception
			Content
			Footer
			MVNO
*/
/* ---[ Grid base ]-------------------------------- */
body {	
}
#doc4 {
}
#doc4 div#iemw {
	display: block;
	font-size: 0px;
	line-height: 0px;
	height: 0px;
	width: 970px;
	margin: 0px;
	clear: both;
}
div.spotlight-tag {
	position: absolute;
	left: -9999em;
}
#bd {
	position: relative;
  	min-height: 350px;
   	height: auto !important;
	height: 350px;
}
.accueil #bd {
  	min-height: 325px;
   	height: auto !important;
	height: 325px;	
}
/* hidden image for printer or other media */
#logo-ico {
	display: none;
}

/* ---[ Skip nav ]------------------------------- */
.skiplink {
	position: absolute;
	left: -9999px;
}

/* ---[ Global nav ]------------------------------- */
#global-nav {
  	height: 1.8em;	
	font-size: 85%;
	padding: 7px 10px 0px 1px;	
	border-bottom: 8px solid #000000;
}
#global-nav li {
	float: left;
}
#global-nav li#search {
	width: 40%;
}
#global-nav li#search li form {
	display: block;
	width: 100%;
	position: relative;
}
#global-nav li#search li form label {
	display: block;
	position: absolute;
	width: 168px;
	left: 1.5em;
	top: 0.1em;
	color: #707070;
	heigth: 1000px;
}
#global-nav li#links-videotron {
	width: 40%;
}
#global-nav li#login {
	width: 20%;
}
#global-nav li#accueil a {
	padding: 0 10px 0 12px;
	background: transparent url(/resources/legacy/img/interface/sep.gif) no-repeat 100% 0.25em;
}
#global-nav #search-input {
	display: inline;
	float: left;
	width: 168px;
	margin: -1px 0 0 10px;
	padding: 0 3px 0 4px;
	border: 1px solid #838383;
	color: #000;
	background-color: transparent;
}
#global-nav #search-button-input {
	float: left;
	width: 18px;
	height: 16px;
	margin: -1px -1px 0 5px;
	border: none;
	background: #fec611 url(/resources/legacy/img/interface/bt-search.gif) no-repeat 0 0;
	text-indent: -5000px;
}
#global-nav li#residentiel a {
	color: #000;
	font-weight: bold;
	cursor: default;
}
#global-nav #login ul li {
	float: right;
	}	
#global-nav li a {
	color: #646464;
	padding: 0 5px 0 7px;
	text-decoration: none;	
}
#global-nav li a:hover {
	color: #000;
}

/* ---[ Sliding nav ]------------------------------- */
.error-page #nav, 
body.en .error-page #nav {
	border-top: 8px solid #000000;
	font-size: 90%;
	background: #fff;
}
#nav {
	font-size: 90%;
	background: #fecb20 url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat-x 0 -80px;
}
	body.en #nav {
		background: #fecb20 url(/resources/legacy/img/interface/en/nav-int.jpg) repeat-x 0 -80px;
	}
#nav,
#nav .panel {	
   height: 4.8em;
}

#nav .panel .content {
	text-indent: -999em;
}
#acc-nav #nav .panel .content, 
#nav .panel.open .content {
	text-indent: 0;
}
/*.content {
    clear: both;
}*/
/* nav - panelmenu :: For top navigation */
.panel a.active {
	font-weight: bold;
}
#nav .content li,
#nav .content li a {
    float: left;
}
#nav a:hover {
    text-decoration: underline;
}
#produits .content a:hover {
   	text-decoration: underline;
}
#produits {
	position: relative;
	float: left;
	width:47em;
	overflow: hidden;
    background: url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat-x 0 -80px;
}
	body.en #produits {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) repeat-x 0 -80px;
	}
#produits .content {
	margin-left: 160px;
}
	body.en #produits .content {
		margin-left: 170px;
	}
/* hidden stuff */
#produits a.accueil,
#produits a.title {
   	position: absolute;
    top: 0;
    left: 0;
    display: block;
   	height: 59px;
    width: 100px;
    text-indent: -3000px;
    z-index: 7;
	float: left;
}
#produits a.title {
    left: 60px;
    width: 100px;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat -60px 0px;
}
	body.en #produits a.title {
	    width: 110px;
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat -60px 0px;
	}
#produits a.accueil {
    left: 0;
    width: 60px;
    height: 59px;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat 0 0;
}
	body.en #produits a.accueil {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat 0 0;
	}

/* PRODUITS: TELEVISION */
#produits .content a {
   	margin: 32px 15px 12px 0;
    display: inline;
    text-decoration: none;
	color: #000;
}
body.television #produits a#television {
	padding: 32px 30px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -913px;
}
	body.en.television #produits a#television {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat right -913px;
	}
/* PRODUITS: INTERNET */
body.internet #produits a#internet {
	padding: 32px 30px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -995px;
}
	body.en.internet #produits a#internet {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat right -995px;
	}
/* PRODUITS: TELEPHONIE */
body.telephonie #produits a#telephonie {
	padding: 32px 30px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -1073px;
}
	body.en.telephonie #produits a#telephonie {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat right -1073px;
	}
/* PRODUITS: SANS-FIL */
body.sans-fil #produits a#sans-fil {
	padding: 32px 30px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -1153px;
}
	body.en.sans-fil #produits a#sans-fil {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat right -1153px;
	}
/* PRODUITS: MOBILE */
body.mobile #produits a#mobile {
	padding: 32px 30px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -1153px;
}
	body.en.mobile #produits a#mobile {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) no-repeat right -1153px;
	}
/* PRODUITS: FORFAIT */
body.forfaits #produits a#forfaits {
	padding: 32px 60px 15px 0;
	margin: 0;
	font-weight: bold;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -1237px;
}
	body.en.forfaits #produits a#forfaits {
		background: url(/resources/legacy/img/interface/fr/nav-int.jpg) no-repeat right -1237px;
	}

/* DIVERTISSEMENTS */
#divertissement {
	position: relative;
	float: left;
 	width: 16em;
    overflow: hidden;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat 0 -383px;
}
	body.en #divertissement {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) repeat 0 -383px;
	}
#divertissement .content {
	width: 42em;
    overflow: hidden;
    height: 4.80em;
	margin: 0 40px 0 22px;
}
#divertissement .content a {
    margin: 32px 0 12px 0;
    display: block;
	text-decoration: none;
	color: #fff;
	padding-right: 15px;
}
#divertissement .content a:hover {
	text-decoration: underline;
}
#divertissement a.title {
   	position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 32px;
    width: 160px;
    margin-right: 25px;
    text-indent: -3000px;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat 0 -305px;
}
	body.en #divertissement a.title {
	    width: 160px;
	    margin-right: 15px;
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) repeat 0 -305px;
	}
/* ESPACE-CLIENT */
#espace-client {
	position: relative;
	float: left;
 	height: 4.8em; 
    overflow: hidden;
	width: 20.248em;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat 0 -688px;
}
	body.en #espace-client {
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) repeat 0 -688px;
	}
#espace-client .content {
    width: 100%;
	overflow: hidden;
    height: 4.80em;
	margin-left: 22px;
}
#espace-client a.title {
   	position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 32px;
    width: 210px;
    margin-right: 25px;
    text-indent: -3000px;
	background: url(/resources/legacy/img/interface/fr/nav-int.jpg) repeat 0 -608px;
}
	body.en #espace-client a.title {
	    width: 180px;
	    margin-right: 70px;
		background: url(/resources/legacy/img/interface/en/nav-int.jpg) repeat 0 -608px;
	}
#espace-client .content a {
    margin: 32px 0 12px 0;
    display: block;
  	text-decoration: none;
	color: #fff;
	padding-right: 16px;
}
#espace-client .content a:hover {
	text-decoration: underline;
}

/* ---[ nav accueil ]------------------------------- */
#acc-nav {
	position: absolute;
	top: 1.8em;
	padding-top: 10px;
	left: 0;
}
#acc-nav #nav {
	background: #fecb20 url(/resources/legacy/img/interface/fr/nav-acc.jpg) repeat-x 0 -141px;
}
	body.en #acc-nav #nav {
		background: #fecb20 url(/resources/legacy/img/interface/en/nav-acc.jpg) repeat-x 0 -141px;
	}
#acc-nav #nav {
	position: relative;
   	height: auto;
	zoom:1;
	width: 100%;
}
#acc-nav #nav:after {
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
#acc-nav #nav .panel {
	position: relative;
   	height: 12em;
}
#acc-nav #produits {
	width: 100%;
	float: left;
	overflow: hidden;
    background: #FECB20 url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat 0 0;
}
	body.en #acc-nav #produits {
		background: #FECB20 url(/resources/legacy/img/interface/en/nav-acc.jpg) no-repeat 0 0;
	}
#acc-nav #produits .content {
	margin-left: 35px;
}
#acc-nav #produits a.accueil,
#acc-nav #produits a.title {
    display: block;
   	width: 75px;
	height: 35px;
    text-indent: -3000px;
    z-index: 7;
	float: left;
}
#acc-nav #produits a.title {
    left: 60px;
	background: url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat -60px 0px;
}
	body.en #acc-nav #produits a.title {
		background: url(/resources/legacy/img/interface/en/nav-acc.jpg) no-repeat -60px 0px;
	}
#acc-nav #produits a.accueil {
    width: 75px;
    height: 35px;
	background: url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat 0 0;
}
	body.en #acc-nav #produits a.accueil {
		background: url(/resources/legacy/img/interface/en/nav-acc.jpg) no-repeat 0 0;
}
#acc-nav #produits .content a {
	display:block;
	display:inline-block;
   	margin: 40px 40px 0 0;
	padding: 75px 0 0 0;
}

#acc-nav #produits .content a#forfaits {
   	margin: 40px 40px 0 0;	
	padding: 75px 0 0 0;
	width: 7em;
	text-indent: 23px;
}
/* divertissement */
#acc-nav #divertissement {
	float: left;
  	width: 100%; 
	height: 12em;
    overflow: hidden;
	background: #313843 url(/resources/legacy/img/interface/fr/nav-acc.jpg) repeat-x 0 -545px;
	color: #fff;
}
	body.en #acc-nav #divertissement {
		background: #313843 url(/resources/legacy/img/interface/en/nav-acc.jpg) repeat-x 0 -545px;
	}
#acc-nav #divertissement a.title {
    display: block;
    height: 35px;
    width: 160px;
    margin-right: 75px;
    text-indent: -3000px;
	background: url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat 0 -405px;
	z-index: 7;
}
	body.en #acc-nav #divertissement a.title {
		background: url(/resources/legacy/img/interface/en/nav-acc.jpg) no-repeat 0 -405px;
	}
#acc-nav #divertissement .content {
	padding:10px 0 0 170px;
	margin:0;
	width:29em;
}
#acc-nav #divertissement .content li {
	display:inline;
	padding:0 20px .25em 0;
}
#acc-nav #divertissement .content a {
	display:inline;
	text-decoration:none;
	margin:0;
	white-space:nowrap;
}
#acc-nav #divertissement .content  li a {
	text-decoration: none;
	background-color: transparent;
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-repeat: no-repeat;
	background-position: 0% -8077px;
	padding: 0 0 0 10px;
}
#acc-nav #divertissement .content  li a:hover {
	text-decoration: underline;
}
#acc-nav #divertissement ul#photos-nav {
	position: absolute;
	display: block;
	padding: 0;
	top: 38px;
	left: 17px;
	margin-top: 1.2em;
	width: 500px;
	z-index: 10;
}
#acc-nav #divertissement ul#photos-nav li {
	float: left;
}
#acc-nav #divertissement ul#photos-nav li a {
	display:block;
	width:94px;
	height:63px;
	margin-right:24px;
	border:1px solid #abaaaa;
	text-decoration:none;
	color:#fff;
}
#acc-nav #divertissement ul#photos-nav li a:hover {
	border: 1px solid #fff;
}
#acc-nav #divertissement ul#photos-nav li a span {
	position:absolute;
	margin:68px 0 0 0;
	white-space:nowrap;
	padding:0;
	visibility:hidden;
	left:0;
	top:0;
	z-index:11;
}
#acc-nav #divertissement ul#photos-nav li a:hover span {
	visibility:visible;
}
#acc-nav #divertissement ul#photos-nav li#div-etc {
	margin-top: 3px;
	display: none;
}
/* espace-client */
#acc-nav #espace-client {
	float: left;
 	width: 100%;
	height: 12em;
    overflow: hidden;
	background: #4f5762 url(/resources/legacy/img/interface/fr/nav-acc.jpg) repeat-x 0 -950px;
	color: #fff;
	z-index: 12;
}
	body.en #acc-nav #espace-client {
		background: #4f5762 url(/resources/legacy/img/interface/en/nav-acc.jpg) repeat-x 0 -950px;
	}

#acc-nav #espace-client.closed a.title, #acc-nav #espace-client a.title {
    display: block;
    height: 140px;
    width: 210px;
    margin-right: 25px;
    text-indent: -3000px;
	background: url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat 0 -810px;
	z-index: 13;
}
#acc-nav #espace-client.open a.title {
    display: block;
    height: 140px;
    width: 210px;
    margin-right: 25px;
    text-indent: -3000px;
	background: url(/resources/legacy/img/interface/fr/nav-acc.jpg) no-repeat 0 -810px;
}
	body.en #acc-nav #espace-client a.title {
	    width: 210px;
		background: url(/resources/legacy/img/interface/en/nav-acc.jpg) no-repeat 0 -810px;
	}
#acc-nav #espace-client .inline {
	position:absolute;
	z-index:14;
	margin:0;
	padding:0;
	top:40px;
	left:0;
	width:35em;
	overflow:visible;
	height:auto;
}
#acc-nav #espace-client .inline li {
	float:left;
	display:block;
	width:100%;
	clear:both
}
#acc-nav #espace-client .inline a {
	float:left;
	width:50%;
	text-align:right;
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	margin:0;
	padding:0 10px .5em 0;
}
#acc-nav #espace-client .inline a:hover {
	text-decoration:underline;
}
#acc-nav #espace-client .inline ul {
	width:auto;
	text-align:left;
	text-transform:none;
}
#acc-nav #espace-client .inline ul li {
	float:none;
	clear:none;
	display:inline;
	width:auto;
	text-align:left;
	padding:0;
	text-transform:none;
}
#acc-nav #espace-client .inline ul li a {
	float:none;
	display:inline;
	width:auto;
	text-align:left;
	margin:0;
	padding:0 0 .5em 0;
	text-transform:none;
	old_font-size:93%;
}

/* ---[ Sub nav ]------------------------------- */
/* niv 1 - under topnav */
#sub-nav {
	position: relative;
	float: left;
	padding: 7px 0 7px 0;	
	border-bottom: 1px solid #cccccc;
	font-size: 85%;
	width: 100%;
}
#sub-nav li {
	float: left;
	color: #646464;
}
#sub-nav li a, li#links-videotron li.sub-nav a {
	color: #646464;
	padding: 0 10px 0 11px;
	text-decoration: none;	
	background: transparent url(/resources/legacy/img/interface/sep.gif) no-repeat 100% 0.25em;
}
#sub-nav li.last a, li#links-videotron li.last a {
	background-image: none;
}
#sub-nav li.selected a, 
#sub-nav li.open a {
	color: #000;
	font-weight: bold;
}
#sub-nav li a:hover {
	color: #000;
}

/* niv 2 - first level side-nav */
#side-nav-wrapper {
	position: relative;
	display: block;
	clear: none;
	float: left;
 	width: 19.45%;
	margin: 33px 2% 1em 0;
	font-size: 85%;
}
#side-nav-wrapper ul#side-nav {
	margin: 0 0 1em 0;
	zoom:1;
}
#side-nav-wrapper ul#side-nav:after { content:".";display:block;height:0;clear:both;visibility:hidden; }
#side-nav-wrapper ul li {
	float: left;
	clear: both;
	list-style-position: outside;
	width: 100%;
	margin: 0;
	padding: 1px 0 0 0;
	background: url(/resources/legacy/img/interface/sep-horizontal.gif) repeat-x 0 0;
}
#side-nav-wrapper ul li a, 
#side-nav-wrapper ul li a:link, 
#side-nav-wrapper ul li a:visited {
	display: block;
	float: none;
	color: #000;
	background-color: #fff;
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-repeat: no-repeat;
	background-position: 5% -72px;
	width: 81.5%;
	margin: 0;
	padding: 5px 2.5% 5px 16%;
	text-decoration: none;
}
#side-nav-wrapper ul li a:hover {
	color: #000;
	background-color: #dde2e4;
}	
#side-nav-wrapper ul li a:active {
	color: #568;
	background-color: #dde2e4;
	background-position: 5% -232px;
}
#side-nav-wrapper ul li.selected a,
#side-nav-wrapper ul li.open a {
	color: #000;
	background-color: #fff;
	background-position: 5% -152px;
	font-weight: bold;
	cursor: default;
}

/* niv 3 - second level side-nav */
#side-nav-wrapper ul li ul li {
	list-style-position: outside;
	width: 100%;
	padding: 1px 0 0 0;
	background: url(/resources/legacy/img/interface/bt-nav.gif) repeat-x 0 0;
}
#side-nav-wrapper ul li ul li a, 
#side-nav-wrapper ul li ul li a:link, 
#side-nav-wrapper ul li ul li a:visited {
	display: block;
	color: #646464;
	background-color: #fff;
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-repeat: no-repeat;
	background-position: 16% -871px;
	font-weight: normal;
	cursor: pointer;
	width: 76.5%;
	padding: 5px 2.5% 5px 20.5%;
	text-decoration: none;
}
#side-nav-wrapper ul li ul li a:hover {
	color: #000;
	background-color: #dde2e4;
	background-position: 16% -951px;
}	
#side-nav-wrapper ul li ul li a:active {
	color: #568;
	background-color: #dde2e4;
	background-position: 16% -1031px;
}
#side-nav-wrapper ul li.open ul li.selected a,
#side-nav-wrapper ul li ul li.selected a {
	color: #000;
	background-color: #fff;
	font-weight: bold;
	background-position: 16% -1111px;
	cursor: default;
}

/* ---[ Sub nav *exception ]------------------------------- */
/* View phone list button - see inial state*/
#side-nav-wrapper ul li#view-phone,
#side-nav-wrapper ul li#img-view-phone {
	display: none;
	cursor: pointer;
}

/* ---[ Image Side nav ]------------------------------- */
#side-nav-wrapper ul#side-nav-image {
	display: none;
	padding-top: 8px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url(/resources/legacy/img/interface/sep-horizontal.gif);
	background-repeat: repeat-x;
	background-position: 0 0;
}
#side-nav-wrapper ul#side-nav-image li.nav-image {
	background-color: #fff;
	width: 42px;
	clear: none;
	float: left;	
	margin: 0;
	padding: 0;
}
#side-nav-wrapper ul#side-nav-image li.nav-image a {
	background-color: #fff;
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
   	width: 42px;
    height: 60px;
	background-position: top left;
	background-repeat: no-repeat;
}
#side-nav-wrapper ul#side-nav-image li.nav-image a span {
	display: none;
}
#side-nav-wrapper ul#side-nav-image li.nav-image a:hover {
	background-position: bottom left;
	}

/* side nav icon*/
#side-nav-wrapper ul li#view-phone a,
#side-nav-wrapper ul li#view-phone a:link,
#side-nav-wrapper ul li#view-phone a:visited {
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-position: 5% -1274px;
}
	#side-nav-wrapper ul li#view-phone a:hover {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -1274px;
	}
	#side-nav-wrapper ul li#view-phone a:active {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -1434px;
	}
#side-nav-wrapper ul li#img-view-phone a, 
#side-nav-wrapper ul li#img-view-phone a:link, 
#side-nav-wrapper ul li#img-view-phone a:visited {
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-position: 5% -1672px;
}
	#side-nav-wrapper ul li#img-view-phone a:hover {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -1672px;
	}
	#side-nav-wrapper ul li#img-view-phone a:active {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -1832px;
	}
#side-nav-wrapper ul li#compare-phone a,
#side-nav-wrapper ul li#compare-phone a:link,
#side-nav-wrapper ul li#compare-phone a:visited,
#side-nav-wrapper ul li#img-compare-phone a, 
#side-nav-wrapper ul li#img-compare-phone a:link, 
#side-nav-wrapper ul li#img-compare-phone a:visited,
#side-nav-wrapper ul li#compare-element-link a,
#side-nav-wrapper ul li#compare-element-link a:link,
#side-nav-wrapper ul li#compare-element-link a:visited,
#side-nav-wrapper ul li#compare-element-link a, 
#side-nav-wrapper ul li#compare-element-link a:link, 
#side-nav-wrapper ul li#compare-element-link a:visited {
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-position: 5% -2072px;
}
	#side-nav-wrapper ul li#compare-phone a:hover,
	#side-nav-wrapper ul li#img-compare-phone a:hover {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -2072px;
	}
	#side-nav-wrapper ul li#compare-phone a:active,
	#side-nav-wrapper ul li#img-compare-phone a:active {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -2232px;
	}
#side-nav-wrapper ul li#compare-forfait a, 
#side-nav-wrapper ul li#compare-forfait a:link, 
#side-nav-wrapper ul li#compare-forfait a:visited {
	background-image: url(/resources/legacy/img/interface/bt-nav.gif);
	background-position: 5% -2072px;
}
	#side-nav-wrapper ul li#compare-forfait a:hover {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -2072px;
	}
	#side-nav-wrapper ul li#compare-forfait a:active {
		background-image: url(/resources/legacy/img/interface/bt-nav.gif);
		background-position: 5% -2232px;
	}


/* side-nav : options */
#side-nav-wrapper h2 {
	font-size:108%;
	font-weight:bold;
	padding: 0 0 .25em 5%;
}
#side-nav-wrapper .options h2 {
	font-size:100%;
	padding: 0 0 .25em 0;
}
#side-nav-wrapper .options {
	width:90%;
	padding: 1em 5% 1em;
	font-size: 108%;
}
#side-nav-wrapper #top-options {
	padding: 0 5% 1em;
}
#side-nav-wrapper #bottom-options {
	padding: 1em 5% 0;
}
#side-nav-wrapper .options img {
	margin-left: 1em;
}
#side-nav-wrapper .options ul.links {
	margin: 0 0 1em 0;
	padding: 0;
	padding-left: 0;
	font-size:100%;
}
#side-nav-wrapper .options ul.links li {
	background: none;
	float:none;
}
#side-nav-wrapper .options ul.bullet-a li a, 
#side-nav-wrapper .options ul.bullet-a li a:link, 
#side-nav-wrapper .options ul.links li.bullet-a a, 
#side-nav-wrapper .options ul.links li.bullet-a a:link {
	display: inline-block;
	padding: 0 0 0 10px;
	color: #568;
	old_font-size:93%;
	text-decoration: none;
	background-color: transparent;
	background-image: url(/resources/legacy/img/interface/bt-next.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}
#side-nav-wrapper .options ul.bullet-a li a:visited, 
#side-nav-wrapper .options ul.links li.bullet-a a:visited {
	text-decoration: underline;
	color: #646464;
	background-position: 0px -78px;
}
#side-nav-wrapper ul.bullet-a li a:hover, 
#side-nav-wrapper ul.links li.bullet-a a:hover {
	text-decoration: underline;
}
#side-nav-wrapper ul.bullet-a li a:active, 
#side-nav-wrapper ul.links li.bullet-a a:active {
	text-decoration: underline;
	color: #646464;
	background-position: 0px -78px;
}

/* Templates to hide side-nav from */
.landing div#side-nav-wrapper, 
.offre div#side-nav-wrapper, 
.offre2 div#side-nav-wrapper, 
.sub-landing div#side-nav-wrapper, 
.disabled-script #side-nav-wrapper,{
	display: none;
}

/* ---[ Content ]------------------------------- */
.main-content {
	position: relative;
	old_font-size:93%;
}
.main-content #send-to-friend {
	position: absolute;
	margin-top:0;
	top: 1em;
	right: 2%;
	z-index: 2;
}
.sans-fil .couverture-itinerance .main-content #send-to-friend {
	right: -31%;
}

/* STF + Head Promo*/
.mobile .landing .main-content #send-to-friend {
	margin-top:1em;
	top:278px;
}

/* ---[ Footer ]------------------------------- */
#ft {
	float: left;
	width: 100%;
}
#ft-nav {
	position: relative;
	float: left;
	width: 100%;
	font-size: 85%;
  	min-height: 1em;
   	height: auto !important;
	height: 1em;	
	padding: 2.55em 0;
	background: #e2e5e8;
}
#ft-nav li {
	float: left;
	color: #000;
}
#ft-nav li a {
	float: left;
	color: #000;
	padding: 0 10px 0 12px;
	text-decoration: none;
	background: url(/resources/legacy/img/interface/sep.gif) no-repeat 100% .25em;
}
#ft-nav li.last a {
	background: none;
}
#ft-nav li#ft-logo {
	position: absolute;
	top: 1.8em;
	right: 1.5%;
}
#ft-nav li a:hover {
	color: #000;
}
#ft-sub-nav {
	float: left;
	width: 100%;
	font-size: 90%;
	background: #fff;
	padding: 17px 0px 18px 0;	
}
#ft-sub-nav li {
	float: left;
	color: #646464;
}
#ft-sub-nav li#copyright {
	float: right;
	padding-right: 25px;
}
#ft-sub-nav li a {
	float: left;
	color: #646464;
	padding: 0 10px 0 12px;
	text-decoration: none;	
	background: url(/resources/legacy/img/interface/sep.gif) no-repeat 100% .25em;
}
#ft-sub-nav li.last a {
	background: none;
}
#ft-sub-nav li a:hover {
	color: #000;
}
#ft-sub-nav li span.foot-span {
	padding: 0 10px 0 12px;
}
#ft-sub-nav li#decrease-text a {
	display: block;
	width: 27px;
	height: 16px;
	text-indent: -9999px;
	padding: 0 5px 0 0;
	background: url(/resources/legacy/img/interface/ico-decrease-text.gif) no-repeat;
	overflow: hidden;
}
#ft-sub-nav li#increase-text a {
	display: block;
	width: 27px;
	height: 16px;
	text-indent: -9999px;
	padding: 0 5px 0 0;
	background: url(/resources/legacy/img/interface/ico-increase-text.gif) no-repeat;
	overflow: hidden;
}
/* Javascript disabled */
#disabled-js {
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}
#disabled-js iframe {
	display: block;
	width: 100%;
	height: auto;
	clear: both;
}

/* contents for print only */
.print-media {
	display: none;
}
/*Acceuil*/
/* content for landing template */
#content {
	width:56.5%;
	float:left;
	padding:33px 2% 1em 0;
	display:inline;
}
.landing #content {
	width:96%;
	padding:33px 2% 1em 2%;
}
.accueil #content {
	position: relative;
	width:100%;
	margin:0;
   	padding: 35.2em 0 0 0;
}
.accueil .main-content #presentation-list {
	border:0;
	width:100%;
	margin:0;
	padding:0;
}
.accueil .main-content #presentation-list.compact dl {
	position:relative;
	width:100%;
	*width:99%;
	clear:none;
	margin:0;
	padding:0;
}
.accueil .main-content #presentation-list.compact dl dt {
	display:none;
}
.accueil .main-content #presentation-list.medium dl dd {
	width:100%;
	padding:0;
}
.accueil .main-content #presentation-list.medium dl dd a {
	display:block;
	width:100%;
	height: 100%;
}
/* Nav */
/* MVNO */
#ft #ft-sub-nav #links-sitemap-mvno {
	display:none;
}
.sans-fil #nav .content {
	display:none;
}
.sans-fil #nav .content {
	display:none;
}
.sans-fil #nav #divertissement {
	display:none;
}
.sans-fil #nav #espace-client {
	display:none;
}
.sans-fil #global-nav #login {
	display:none;
}
.sans-fil #produits a#sans-fil {
	display:none;
}
.sans-fil #produits a.title { 
  	width: 340px; 
 	background: url(/resources/legacy/img/interface/fr/nav-mvno.jpg) no-repeat 0px 0px;   
}
body.en.sans-fil #produits a.title {
	width: 340px;
	background: url(/resources/legacy/img/interface/en/nav-mvno.jpg) no-repeat 0px 0px;
}
body.fr.sans-fil #produits a.title {
	width: 340px;
	background: url(/resources/legacy/img/interface/fr/nav-mvno.jpg) no-repeat 0px 0px;
}	
.sans-fil #sub-nav li.open a {
	font-weight:bold;
}
.sans-fil #ft #ft-sub-nav #links-sitemap {
	display:none;
}
.sans-fil #ft #ft-sub-nav #links-sitemap-mvno {
	display:block;
}
