*{
	margin:0;
	padding:0;
}
.overlay-bg{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:0;
	background-color:#333;
	opacity:.4;
	filter:alpha(opacity=40) !important;/*ie fix*/
	display:none;
	z-index:100;
	
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;	
}
.overlay-open{
	top:0px;
	left:0px;
	width:100px;
	height:50px;
	color:#000;
}
.overlay-box{
	position:absolute;
	display:none;
	background-color:#fff;
	z-index:101;
}
.overlay-box a.overlay-btn-close{
	float:right;	
}
.overlay-box .overlay-content{
	clear:both;
	padding:20px;	
} 