@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open%20Sans:400,300,300italic,400italic,700,700italic,900,900italic);@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

/*------------------------------ 
BODY
------------------------------ */
body{
font-family:"Open Sans", Arial, Helvetica, sans-serif;
font-size:13px;
line-height:1.7em;
margin:0;
padding:0;
color:#888;
background:#fff;
text-shadow:none !important;
}

#wrapper{
	overflow:hidden;
}

/*------------------------------ 
HEADER
------------------------------ */
header{
position:absolute;
width:100%;
z-index:100;
}


header.clone .logo-1{
display:none;
}

header.clone .logo-2{
display:inline-block;
}

header .logo-2{
    display:none;
}

header.clone .title-2{
    color: #f6c200;
    font-family: "Montserrat";
}

header .title-2{
    color: white;
    font-family: "Montserrat";
}



header.clone {
background:rgba(255,255,255,.95);
width:100%;
position:fixed;
top:-180px;
transition:0.2s top ease-in;
margin-left:0;
border-bottom:solid 1px #eee;
}


body.down header.clone {
top:0;
left:0;
right:0;
z-index:999;
}

header .buttons{
	margin-top:35px;
	display:inline-block;
	float:right;
}

header .social{
	margin-top:40px;
	display:inline-block;
	float:right;
}

header.clone .social a{
	color:#333;
}

header .social a{
	color:#fff;
	font-size:18px;
	padding:0 8px 0 8px;
}

header .social a:hover{
color:#8ec92f;
}

header .animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}


/*- - - - - - - - - - - - - - - - - - - - 
	SUBHEADER
- - - - - - - - - - - - - - - - - - - - */
#subheader{
	padding:150px 0 70px 0;
	background:url(../img/bg-subheader.jpg) top;	
	background-size:cover;
	background-size:cover;
	text-align:center;
}
#subheader h1{
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing:5px;
	text-transform:uppercase;
	color:#fff;
	font-weight:400;
	font-size:32px;
	text-align:center;
	margin-bottom:20px;
    overflow: hidden;
    text-align: center;
	border-top:solid 1px rgba(255,255,255,.1);
	border-bottom:solid 1px rgba(255,255,255,.1);
	display:block;
	padding:10px;
}



/*- - - - - - - - - - - - - - - - - - - - 
	BREADCRUMB
- - - - - - - - - - - - - - - - - - - - */
.crumb{
	float:right;
	display:inline-block;
	font-size:13px;
}

.crumb .separator{padding:0 10px 0 10px;}


/*------------------------------ 
HEADING
------------------------------ */
h1,h2{font-weight:500; color:#333; font-family:"Montserrat"}
h3,h4,h5,h6{font-weight:lighter;; color:#333; font-family:"Montserrat"}
footer h3, footerh4, footerh5, footer h6{font-weight:500; color:#fff;}
h1.h1-style{
letter-spacing:-1px;
font-weight:lighter;
}
h1{
	font-size:28px;
	margin:0;
	margin-bottom:20px;
	letter-spacing:-1px;
}
h3.title{
font-weight:600;
padding-bottom:10px;
margin-bottom:20px;
}
h2{
	font-size:26px;
}
	

h2 {
    overflow: hidden;
    text-align: center;
}
h3{
font-size:20px;
}
h2:before,
h2:after {
    background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}

p.lead{
	font-size:16px;
	font-weight:500;
	margin-bottom:30px;
}

strong{
color:#333;
}
.slides{
margin:0;
padding:0;
}
.teaser{
	font-size:18px;
	line-height:1.7em;
}

.title-text{
	font-weight:bold;
	font-size:26px;
	text-align:center;
	margin-bottom:40px;
}

.title-text {
    overflow: hidden;
    text-align: center;
}
.title-text:before,
.title-text:after {
    border-top:solid 2px #8ec92f;

    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.title-text:before {
    right: 0.5em;
    margin-left: -50%;
}
.title-text:after {
    left: 0.5em;
    margin-right: -50%;
}

.title-area{
	vertical-align:middle;
	display:inline-block;
	text-align:left;
}
.title-area h1{
	color:#fff;
	font-family:"Montserrat", Arial, Helvetica, sans-serif;
	font-size:40px;
	font-weight:500;
	letter-spacing:5px;
	text-transform:uppercase;
	margin:0;
}

.title-area span{
	font-size:15px;
	color:#fff;
	letter-spacing:3px;
	text-transform:uppercase;
	font-weight:300;
}


.fx .item .overlay{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,.9);
	padding:20px 30px 20px 30px;
	width:100%;
	
}

.hover{
	height:200px;
	

}

.fx .item{
	overflow:hidden !important;
}

.item .overlay{
	background:#fff;
	display:block;
	position:absolute;
}

.item .overlay .desc{
	display:block;
	height:0px;
	overflow:hidden;
}

.item .overlay h3{
    font-size:18px;
	margin:0;
	padding:0;
}

.item .overlay .time{
	letter-spacing:1px;
	text-transform:uppercase;
}


/*------------------------------ 
/* link
/*------------------------------ */
a{
color:#8ec92f;
text-decoration:none;
}
a:hover{
color:#222;
}

footer a:hover{
color:#fff;
}

/*------------------------------ 
/* logo
/*------------------------------ */
#logo{
text-align:center;
}
#logo .inner{
 	display:table-cell;
     vertical-align:middle;
     height:100px;
}


/*------------------------------ 
/* content
/*------------------------------ */
#content{
padding:80px 0 80px 0;
background:#f8f8f8;
}

/* columns */
.fullwidth{
	display:table;
	width:100%;
	table-layout: fixed;
	border-collapse:collapse;
	padding:0 !important;
	margin:0 !important;
	overflow:hidden;
}

.one-fourth{
	width:24.9%;
	display:table-cell;
	vertical-align:middle;
}

.one-third{
	width:33.3%;
	float:left;
}


.three-fourth{
	width:74.9%;
	height:100%;
	display:table-cell;
}

/* carousel */
.custom-carousel-1{
	padding:0 !important;
	margin:0 !important;
	background:#222;
}

.custom-carousel-1 .item{
}

.custom-carousel-1 .item img{
	width:100%;
	margin:0;
	padding:0;
	height:100%;
}


.custom-carousel-2{
}

.custom-carousel-2 .item-blog{
	padding:40px;
	background:#f5f5f5;
	border:solid 2px #f5f5f5;
}

.custom-carousel-2 .item-blog:hover{
border:solid 2px #8ec92f !important;
}

.custom-carousel-2 .item-blog .date{
	background:#8ec92f;
	padding:2px 10px 2px 10px;
	color:#fff;
}

.custom-carousel-2 .item-blog.even{
	background:#f0f0f0;
	border:solid 2px #f0f0f0;
}


.custom-carousel-2 .item-blog h3{
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:18px;
	margin:10px 0 10px 0;
	padding:0;
}

.custom-col-2{
	overflow:hidden;
	margin-bottom:30px;
}

.custom-col-2 .inner{
	background:#222;
}

.custom-col-2 img{
	width:100%;
	height:auto;
}

.custom-col-2 .overlay .desc{
	display:block;
	height:0px;
	overflow:hidden;
}

.custom-col-2 .overlay{
	position:absolute;
	display:block;
	bottom:0;
	padding:20px 30px 20px 30px;
}
.custom-col-2 .overlay h3{
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:18px;
	margin:0;
	padding:0;
	color:#fff;
}

.custom-col-2 .overlay .by{
	letter-spacing:2px;
	text-transform:uppercase;
	color:#fff;
}

.custom-col-3{
	display:table;
	width:100%;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:solid 1px #eee;
}

.custom-col-3:hover{
	border-bottom:solid 1px #8ec92f;
}

.custom-col-3 .left-col,
.custom-col-3 .mid-col,
.custom-col-3 .right-col{
	display:table-cell;
	padding-right:20px;
	vertical-align:middle;
}

.custom-col-3 .left-col{width:180px;}
.custom-col-3 img{ width:100%; height:auto;}
.custom-col-3 h3{margin:0;}

.custom-col-3 .right-col{text-align:right;}

.custom-col-3 .details span{
	margin-right:5px;
}

.custom-col-3 .details strong{
	font-weight:500;
}

.custom-col-3 i{
	color:#fff;
	font-size:24px;
	padding:18px;
	width:60px;
	height:60px;
	text-align:center;
	margin-left:10px;
	background:#555;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;	
}

.custom-col-3 i:hover{
	border-color:#8ec92f;
	color:#8ec92f;
}

#countdown-container{
	color:#fff;
	padding:70px 0 60px 0;
	background:#454545;
}

#countdown-container h3{
	color:#fff;
	display:block;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:1px;
	font-size:20px;
	padding-bottom:3px;
	margin:10px 0 3px 0;
	border-bottom:solid 2px #8ec92f;
}


#memoryverse-container h3{
    color:#454545;
    display:block;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:1px;
    font-size:20px;
    padding-bottom:3px;
    margin:10px 0 3px 0;
    border-bottom:solid 2px #f3be00;
}



#countdown-container .time{
	color:#ccc;
	display:block;
	font-family:"Montserrat";
	text-transform:uppercase;
}

.content-group-1{
	border:solid 1px #ddd;
	padding:20px;
	text-align:center;
	margin-bottom:30px;
	background:#fff;
}

.content-group-1 .date-wrap{
	text-align:center;
	border:none;
	margin:0 auto;
	display:block;
	color:#fff;
}

.content-group-1 .date-wrap .date:before{
	font-family:"FontAwesome";
	content: "\f073";
	margin-right:10px;
	color:#fff;
	display:inline-block;
	font-weight:normal;
}

.content-group-1 .date-wrap .date{
	font-size:20px;
	padding:0;
	font-weight:bold;
	background:#8ec92f;
	padding:10px;
}

.content-group-1 .date-wrap .month{
	font-size:16px;
	letter-spacing:2px;
	margin-top:10px;
}

.event-list{
	padding:40px 0 40px 0;
}

.event-list li{
	border-bottom:solid 1px #eee;
	padding-bottom:20px;
	margin-bottom:20px;
}

.event-list li:last-child{
	border-bottom:none;
	margin-bottom:0;
}

.event-list h3{
	margin:0;
}

.event-list span.time:before{
	font-family:"FontAwesome";
	content: "\f017";
	margin-right:10px;
	color:#8ec92f;
}

.event-item{
margin-bottom:30px;
}

.event-item .inner{
display:table;
background:#fff;
text-align:center;
}

.event-item:hover .right-col{
background:#111;
}

.event-item .desc{
padding:10px 25px 25px 25px;
background:#f2f2f2;
display:block;
border-bottom:solid 2px #eee;
}

.event-item .desc h3{
margin-bottom:10px;
}

.event-item .inner img{width:100%;}

.event-item .left-col, .event-item .right-col{
display:table-cell;
vertical-align:middle;
}
.event-item .left-col{
width:60%;
}
.event-item .right-col{
width:40%;
padding:20px;
color:#fff;
background:#8ec92f;
}
.event-item .right-col .date{
font-size:72px;
font-weight:800;
display:block;
line-height:72px;
}
.event-item .right-col .month{
margin-top:10px;
font-size:32px;
display:block;
letter-spacing:5px;
}
.event-item .right-col .time{
margin-top:30px;
display:block;
}

/*------------------------------ 
/* button
/*------------------------------ */
.btn{
padding:3px 20px 3px 20px;
}

.btn-custom{
background:#8ec92f;
color:#fff;
}

.btn-custom-2{
background:#57647e;
color:#fff;
}

a.btn:hover{
background:#ddd;
color:#333 !important;
}

.btn-big{
	padding:10px 30px 10px 30px;
}

.btn-border {
	color:#333;
	border:solid 2px #333;
}


.btn-border.white {
	color:#fff;
	border:solid 2px #fff;
}

.btn-custom:hover{
color:#fff;
}

.no-margin{
	margin:0 !important;
	padding:0 !important;
}

#courses-carousel .course-item{
	margin:0 5px 0 5px;
}

.col-md-3.course-item{
	margin-bottom:30px;
}

#courses-carousel .course-item:hover{
	cursor:e-resize;
}

.course-item, .instructor .inner {
}

.course-item .price{
	font-weight:600;
	font-size:14px;
	display:inline-block;
	position:absolute;
	color:#fff;
	padding:2px 10px 2px 10px;
	background:#2fb2b6;
	margin:20px 0 0 20px;
}

.course-item .price.free{
	background:#e68740;
}

.course-item .pic img{
	width:100%;
	height:auto;
}

.course-item .info{
	background:#fff;
	padding:20px;
}

.course-item .info h4{
	font-size:14px;
	font-weight:700;
	margin:0;
}

.course-item .info .by{
	display:block;
	margin-bottom:10px;
}

.course-item .star{
	float:left;
}

.course-item .user{
	float:right;
}

.course-item .user:before{
	content: "\f007";
	font-family:"FontAwesome";
	padding-right:10px;
}

.course-att{
	font-weight:bold;
}

.course-att span.title{
	display:inline-block;
	width:100px;
	font-weight:normal;
}

.course-att .star{display:inline-block;}

.course-att .text{
	margin-bottom:10px;
}

.lessons-list {
    list-style: none;
    margin: 0;
	padding:0;
    background: #fff;
    border-radius: 3px;
	-moz-radius: 3px;
	-webkit-border-radius: 3px;
    font-size: 15px;
    border: solid 1px #ccc;
}

    .lessons-list li {
        padding: 15px 20px 15px 20px;
        border-bottom: solid 1px #ddd;
    }

    .lessons-list .media {
        float: right;
        display: inline-block;
        width: 150px;
        margin-top: -5px;
    }

        .lessons-list .media a {
            display: inline-block;
            width: 32px;
            height: 32px;
            float: left;
            margin-left: 15px;
            color: #fff;
            background: #8ec92f;
            text-align: center;
            padding: 5px;
            font-size: 16px;
			border-radius: 5px;
			-moz-radius: 5px;
			-webkit-border-radius: 5px;
 			
        }

            .lessons-list .media a.icon-quiz:before {
				font-family:"FontAwesome";
                content: "\f15c";
            }

            .lessons-list .media a.icon-video:before {
				font-family:"FontAwesome";
                content: "\f01d";
            }

            .lessons-list .media a.icon-audio:before {
				font-family:"FontAwesome";
                content: "\f001";
            }



/*------------------------------ 
pricing table
------------------------------ */

.pricing{
	text-align:center;
}

.pricing .title-row{
	font-size:24px;
	font-weight:bold;
	padding:20px;
	color:#fff;
	background:#3f485d;
}

.pricing .content{
	padding:20px;
	padding-bottom:30px;
	color:#fff;
	background:#555e72;
}

.pricing .price-row{
	font-size:64px;
	font-weight:300;
	padding:20px 0 35px 0;
	letter-spacing:-5px;
}

.pricing .features-row ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:20px;
}

.pricing .features-row ul li{
	line-height:2em;
}

/*------------------------------ 
section and parallax background settings
------------------------------ */

section{
	padding:60px 0 60px 0;
	background:#fff;
}

section.popular-course{
	background:#f2f2f2;
}

.section-title{
	text-align:center;
}

#page-events, #page-blog{
	background:#8ec92f;
}

.no-padding{
	padding:0 !important;
}
.no-padding-top{
	padding-top:0 !important;
}
.no-padding-bottom{
	padding-bottom:0 !important;
}
	
#section-testimonial{
	background:url(../img/bg_full_1.jpg) top fixed;
	background-size:cover;
}

#section-text-1{
background:#7fb32a;
color:#fff;
}

#section-text-1 h3{
color:#fff;
}

#section-text-2{
	background:url(../img/misc/pic-6.jpg) top fixed;
	background-size:cover;
}

#section-text{
background:#eee;
}

#latest-sermons,#section-gallery{
}

#latest-events{
	background:#e7dacd;
}


.owl-theme .owl-controls .owl-page span{
	background:#aaa !important;
}

#section-testimonial .owl-theme .owl-controls .owl-page span{
	background:#fff !important;
}

#section-pricing{
	background:#8c96ad;
}

#featured-box{
	background:url(../img/bg_full_3.html) center fixed;
}
	
h3{
	font-weight:500;
	margin-bottom:20px;
}


/*------------------------------ 
instructor
------------------------------ */
.instructor-list{
	margin:0;
	padding:0;
	list-style:none;
}
.instructor{
	margin-bottom:20px;
}

.instructor .inner{
	padding:20px;
	background:#fff;
}

.instructor .img-chef{
	width:80px;
	height:auto;
	position:absolute;
}

.instructor .social img{
	width:24px;
	height:auto;
}

.instructor .text{
	padding-left:100px;
}


/*------------------------------ 
MAINMENU
------------------------------ */
#mainmenu-container{
font-family:"Montserrat";
text-align:center;
height:60px;
margin-top:20px;
display:inline-block;
}

#mainmenu {
color:#8ec92f;
font-size:12px;
display:inline-block;
text-align:left;
text-transform:uppercase;
letter-spacing:1px;
}

#mainmenu a{
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

#mainmenu ul {
float:right;
margin:0px 0px;
padding:0px 0px;
height:30px;
padding-top:21px !important;
}

#mainmenu li {
margin:0px 0px;
padding:0px 0px;
float:left;
display:inline;
list-style:none;
position:relative;
}

#mainmenu li:last-child{
}

#mainmenu a {
display:block;
padding:20px 14px 17px 14px;
text-decoration:none;
color:#fff;
}

header.clone #mainmenu a {
color:#555;
}


#mainmenu a:hover{
color:#fff;
}

#mainmenu li:hover a {
color:#8ec92f;
}

#mainmenu li:hover li a {
color:#fff;
}


#mainmenu li li,#mainmenu li li:last-child {
font-size:14px;
border-left:none;
border-right:none;
}

#mainmenu li li a{
padding:10px 15px 10px 15px;
color:#fff;
background:#8ec92f;
border-top:none;
text-transform:none;
letter-spacing:normal;
}

#mainmenu li li a:hover{
border-top:none;
}

#mainmenu li li a:hover {
color:#fff;
background:#57647e;
}

#mainmenu li ul {
width:170px;
height:auto;
position:absolute;
top:100%;
left:0px;
z-index:10;
display:none;
}

#mainmenu li li {
display:block;
float:none;
}

#mainmenu li:hover > ul {
display:block;
}

#mainmenu li ul ul {
left:100%;
top:0px;
}

#mainmenu select {padding:10px; height:36px; font-size:14px; border:none; background:#ff4200; color:#fff;}
#mainmenu select option{padding:10px;}

.selectnav{
display:none;
width:80%;
font-size:16px;
border:solid 1px #ccc;
padding:5px;
}

/*------------------------------ 
/* footer
/*------------------------------ */
footer{
background:#111111;
color:#ccc;
padding:40px 0 40px 0;
}
footer a{
color:#ccc;
}
footer ul{
margin:0;
padding:0;
float:right;
}
footer li{
display:inline;
padding:0 10px 0 0;

}

 
.subfooter{
border-top:solid 1px #fff;
padding-top:30px;
margin-top:20px;
}
 
 
/*------------------------------ 
jquery toTop
------------------------------ */
#toTop { z-index:1555; display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:51px;height:51px;border:none;text-indent:-999px;background:url(../img/ui.totop.png) no-repeat left top;}
#toTopHover {background:url(../img/ui.totop.png) no-repeat left -51px;width:51px;height:51px;display:block;overflow:hidden;float:left;}
#toTop:active, #toTop:focus {outline:none;}


/*------------------------------ 
widget
------------------------------ */
.widget{margin-bottom:40px; border-bottom:solid 1px #ccc; padding-bottom:40px;}
.widget h3{ margin:0; padding-bottom:10px; text-transform:uppercase; font-size:18px;}
.widget ul{list-style:none; margin:0; padding:0;}
.widget_category li { margin-bottom:5px; padding:5px 0 5px 0;}
.widget_category li i{margin-right:10px;}
.widget_recent_post li { padding-left:20px; background:url(../images/list-arrow.html) left 2px no-repeat; border-bottom:solid 1px #4b1701; padding-bottom:7px; margin-bottom:5px;}
.widget_recent_post li a{color:#555;}
.widget .comments li { padding-left:20px; background:url(../images/list-arrow.html) left 2px no-repeat; border-bottom:solid 1px #4b1701; padding-bottom:7px; margin-bottom:5px;}
.widget_tags li{display:inline-block; margin-right:5px; margin-bottom:14px;}
.widget_tags li a{ text-decoration:none;text-shadow:none; margin-bottom:5px; padding:5px 10px 5px 10px; background:#8ec92f; color:#fff}
.widget_tags li a:hover{background:#fff; color:#333; }
.widget iframe{margin-bottom:20px; border:solid 1px #ddd;}

/*------------------------------ 
map
------------------------------ */
.map{margin-top:40px;}
.map iframe{width:100%; height:320px; border:solid 1px #ccc; padding:2px; background:#fff;}
#map-container iframe{width:100%; height:360px; margin-bottom:-6px;}

#map {
width: 100%;
height: 320px;
}

/*------------------------------ 
blockquote
------------------------------ */
blockquote {
background: #fff;
margin: 1.5em 10px;
font-family:'Merriweather',Georgia, "Times New Roman", Times, serif;
font-style:italic;
}
blockquote:before {
display:block;
text-align:center;
color:#8ec92f;
font-family:Georgia, "Times New Roman", Times, serif;
content: open-quote;
font-size: 4em;
line-height: 0.1em;
vertical-align: -0.4em;
content: "\201C";
}
blockquote p {
display inline;
}
blockquote span{
font-family:"Open Sans", Arial;
display:block;
}

#testi-carousel blockquote{
	font-size:26px;
	color:#fff;
	background:none;
	border:none;
	line-height: 1.2em;
	margin-top:60px;
}

.call-to-action{
	background:url(../img/bg_full_2.html) center fixed;
}
.call-to-action h2{
	margin:0;
	padding:0;

}


.testimonial { margin: 0; background: #B7EDFF; padding: 20px 50px; position: relative; font-family: Georgia, serif; color: #666; border-radius: 5px; font-style: italic; text-shadow: 0 1px 0 #ECFBFF; background-image: linear-gradient(#f2f2f2, #dddddd); 
font-size:16px; border:none;
} 
.testimonial:before, .testimonial:after { content: "\201C"; position: absolute; font-size: 80px; line-height: 1; color: #999; font-style: normal; } 
.testimonial:before { top: 0; left: 10px; } 
.testimonial:after { content: "\201D"; right: 10px; bottom: -0.5em; } 
.arrow-down { width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #dddddd; margin: 0 0 0 25px; } 
.testimonial-author { margin: 0 0 0 25px; font-family: Arial, Helvetica, sans-serif; color: #999; text-align:left; } .testimonial-author span { font-size: 12px; color: #666; 

}

/*------------------------------ 
/* blog */
/*------------------------------ */
.blog-list{ margin-top:-10px; margin:0; padding:0;}
.blog-list li{margin-bottom:20px; list-style:none;background:url(../images/dotwhite50.html);line-height:1.7em; padding-bottom:40px;}
/* blog list */
.blog-list li{margin-bottom:40px; width:48%; float:left; padding:20px; background:#fff; margin:0 10px 10px 0; border:solid 1px #f2f2f2;}
.blog-list li:hover{background:#eee; border-color:#8ec92f;}
.blog-list .info{position:absolute; width:60px; }
.blog-list h3{ font-size:20px; margin:0; margin-bottom:10px;}
.blog-list .date-box{ border:none; }
.blog-list .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-list .date h4{font-size:40px; margin-bottom:20px;}
.blog-list .date span{letter-spacing:8px; padding-left:5px;}
.blog-list a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.html) right center no-repeat #555;}
.blog-list a.readmore:hover{ background:url(../images/arrow-2.html) left center no-repeat #E1704B;}
.blog-list .preview{line-height:1.6em;}
.blog-list .meta-info{ text-align:center; background:#fff; margin:10px 0 0 0; font-size:11px; padding:5px; border:solid 1px #eee;}
.blog-list .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-list .preview img{width:100%; margin-bottom:20px; background:#fff;}
.blog-list .callbacks_container{margin-bottom:-35px;} 


/*------------------------------ 
/* blog single */
/*------------------------------ */
.blog-read{ margin-top:-10px; margin:0; padding:0;}
.blog-read{margin-bottom:20px; list-style:none;background:url(../images/dotwhite50.html);line-height:1.7em; padding-bottom:40px;}
.blog-header .by{display:inline-block; float:left;background:url(../images/icon-user.html) left center no-repeat; padding-left:24px;}
.blog-header .cat{ display:inline-block; float:left; background:url(../images/icon-folder.html) left center no-repeat; padding-left:24px;}
.blog-header .news-date{ display:inline-block; float:left; background:url(../images/icon-folder.html) left center no-repeat; padding-left:24px;}
/* blog list */
.blog-read {margin-bottom:40px;}
.blog-read h3{margin:0; margin-bottom:10px;}
.blog-read .info{position:absolute; width:60px; }
.blog-read .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-read .date h4{font-size:40px; margin-bottom:20px;}
.blog-read .date span{letter-spacing:8px; padding-left:5px;}
.blog-read a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.html) right center no-repeat #555;}
.blog-read a.readmore:hover{ background:url(../images/arrow-2.html) left center no-repeat #E1704B;}
.blog-read .preview{padding-left:80px; line-height:1.6em;}
.blog-read .meta-info{ background:#fff; margin:10px 0 0 80px; font-size:11px; padding:10px 20px 10px 20px; border:solid 1px #ddd;}
.blog-read .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-read .preview img{width:100%; margin-bottom:20px; background:#fff; padding:10px; border:solid 1px #ddd;}
.blog-read .callbacks_container{margin-bottom:-35px;}
/* blog comment */
#blog-comment{ margin-left:70px;}
#blog-comment h5{margin-bottom:10px;}
#blog-comment ul, #blog-comment li{list-style:none; margin-left:-30px; padding-left:0;}
#blog-comment li{min-height:70px; padding-bottom:10px; margin-bottom:10px; padding-bottom:20px; border-bottom: solid 1px #eee;}
#blog-comment li .avatar{position:absolute; margin-top:5px;}
#blog-comment li .avatar img{width:60px; height:60px;}
#blog-comment .comment{ margin-left:85px; }
#blog-comment li{min-height:70px; font-size:14px; line-height:1.6em; }
#blog-comment li li{ margin-left:55px; padding-bottom:0px; margin-top:20px; padding-top:10px; border-top: solid 1px #eee; border-bottom:none;}
#blog-comment li li .avatar{position:absolute; }
#blog-comment li li .comment{ }
.comment-info {margin-left:85px; margin-bottom:5px;}
.comment-info span{}
.comment-info .c_name{ display:block; font-weight:700; }
.comment-info .c_reply{padding-left:20px; margin-left:20px; border-left:solid 1px #ddd; font-size:12px;}
.comment-info .c_date{font-size:12px;}
/* comment form */
#commentform label{ display:block;}
#commentform input{width:290px; margin-bottom:20px;}
#commentform input:focus{border:solid 1px #999; background:#fff;}
#commentform textarea{width:97%; padding:5px; height:150px; margin-bottom:20px;}
#commentform textarea:focus{border:solid 1px #999; background:#fff;}
#commentform input.btn{ width:auto;}

/*------------------------------ 
/* BLOG LIST
/*------------------------------ */
.bloglist-small {
list-style: none;
margin: 0;
padding: 0;
}

.bloglist-small li {
padding-bottom: 10px;
margin-bottom: 10px;
}

.bloglist-small li h5 {
margin-bottom: 5px;
}

.bloglist-small li .txt {
padding-left: 80px;
}

.bloglist-small li .read {
display: block;
margin-bottom: 5px;
}

.bloglist-small li .info {
display: block;
margin: 0;
font-size: 11px;
color: #aaa;
}

.bloglist-small img {
position: absolute;
}

.date-box {
background:#8ec92f;
border:solid 1px #ddd;
width: 60px;
position: absolute;
text-align: center;
color:#fff;
}

.date-box .day {
display: block;
font-size: 32px;
padding: 12px 0 12px 0;
font-weight:500;
}

.date-box .month {
font-size:12px;
display: block;
letter-spacing:5px;
padding-left:5px;
background:#fff;
color:#222;
}




/*------------------------------ 
/* contact */
/*------------------------------ */
.error { width:280px; display: none;color:#C03; font-size:12px; margin-bottom:10px;}
.success { display: none; padding:2px 10px 2px 10px; background:#E5EAD4; color:#555; width:280px;font-size:12px;}
.error img { vertical-align:top; }
.full{ width:98%;}

#contact input[type="text"] , #contact textarea {
}
#contact select{
width:100%;
}
.contact_form_holder .form-control{
margin:20px 0 20px 0;
}

#contact input[type=text], #contact textarea{
background:none;
border:none;
border-bottom:solid 1px #ccc;
padding:10px 0 10px 0;
border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
}

#contact-form-wrapper {
background:#f2f2f2;
padding:20px 60px 40px 60px;
}

.contact-info .title{
display:block;
font-size:16px;
font-weight:800;
color:#222;
margin-bottom:10px;
}


.booking_form_holder .form-control{
margin-bottom:20px;
}

/* ------------------------------ 
gallery
/* ------------------------------ */
.blog-carousel{
	list-style:none;
	margin:0;
	padding:0;
}

.blog-carousel h4{
	line-height:1.5em;
	font-weight:bold;
	font-size:16px;
	margin-bottom:5px;
}

.blog-carousel img{
	margin-bottom:20px;
}

.blog-carousel .date-post{
	display:block;
	margin-bottom:15px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

#gallery .item{
text-align:center;
margin-bottom:30px;
font-size:12px;
}
#gallery .item h4{
font-size:16px;
margin-bottom:0;
}

#gallery-fullwidth .gallery-item{
width:16.65%;
float:left;
}

#gallery-fullwidth .gallery-item img{
width:100%;
}

#gallery-isotope .item{
	background:#333;
	margin:0 10px 10px 0;
	overflow:hidden;
}

#gallery-isotope img{
	width:100%;
	height:auto;
}


/* ------------------------------ 
jquery isotope
/* ------------------------------ */
.isotope,
.isotope .isotope-item {
/* change duration value to whatever you like */
-webkit-transition-duration: 0.8s;
 -moz-transition-duration: 0.8s;
-ms-transition-duration: 0.8s;
 -o-transition-duration: 0.8s;
transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
 -moz-transition-property: height, width;
-ms-transition-property: height, width;
 -o-transition-property: height, width;
transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
 -moz-transition-property:-moz-transform, opacity;
-ms-transition-property: -ms-transform, opacity;
 -o-transition-property:-o-transform, opacity;
transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
-webkit-transition-duration: 0s;
 -moz-transition-duration: 0s;
-ms-transition-duration: 0s;
 -o-transition-duration: 0s;
transition-duration: 0s;
}

#filters{padding:0; margin:0; margin-bottom:20px;}
#filters li{display:inline-block; margin-right:3px;margin-bottom:20px; }
#filters a{ background:#fff; padding:5px 10px 5px 10px; text-decoration:none;}
#filters a.selected{ background:#8ec92f; color:#FFF;}

.isotope-item {
z-index: 2;
}

.isotope-hidden.isotope-item {
pointer-events: none;
z-index: 1;
}


/*------------------------------ 
hr
------------------------------ */
hr{
border:none;
height:80px;
background:url(../img/divider-1.html) center no-repeat;
clear:both;
}

.divider{
clear:both;
height:60px;
}

.divider-single{
clear:both;
height:30px;
}

.divider-double{
clear:both;
height:60px;
}

.divider-line{
clear:both;
border-bottom:solid 1px #ddd;
margin-top:30px;
margin-bottom:30px;
}

/*------------------------------ 
address
------------------------------ */
address span{
display:block;
margin-bottom:5px;
}
address span strong{
display:inline-block;
width:60px;
}


/*------------------------------ 
title
------------------------------ */
.text-title{
margin-bottom:40px;
text-align:center;
}
.text-title h2{
font-family:'Open Sans';
color:#8ec92f;
font-size:16px;
padding:5px 0 5px 0;
letter-spacing:6px;
text-transform:uppercase;
border-top:solid 1px #ddd;
border-bottom:solid 1px #ddd;
}




/*------------------------------ 
/* FEATURED BOX
/*------------------------------ */
.f_box{
	width:49.9%;
	float:left;
	background:#8ec92f;
}

.f_box .text{
	float:left;
	position:absolute;
	color:#fff;
	font-size:20px;
	font-weight:600;
	text-align:center;
}

.f_box.f_right .text{
	float:right;
}

.f_box.f_right .pic{
	float:left;
}

.f_box.f_left .pic{
	float:right;
}

.f_box span{
	display:block;
	font-size:12px;
	text-transform:uppercase;
	font-weight:normal;
	margin-top:10px;
}

.f_box .border{
	width:30px;
	height:2px;
	background:#fff;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}

.f_box.even{
	background:#dba646;
}


.featured-box{
padding:20px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:solid 1px #ddd;
}

.featured-box h3{
margin-bottom:10px;
}

.featured-box i{
color:#888;
position:absolute;
}

.featured-box .text{
padding-left:70px;
}

.featured-box-pic img{
margin:0 0 20px 0;
}
.featured-box-pic .inner{
}
.featured-box-pic .inner h4{
margin-top:0;
font-size:22px;
}
.featured-box-pic .text{
margin-bottom:20px;
}
.featured-box-pic .btn-custom{
background:#8ec92f;
color:#fff;
padding:5px 20px 5px 20px;
}


.feature{
	text-align:center;
}

.feature h4{
}

.feature i{
	display:inline-block;
	margin-bottom:20px;
	float:none;
	border-radius:10px;
	text-align:center;
}

.feature .border{
	border:solid 1px #ddd;
	background:#fff;
	padding:30px;
}

.dark .feature{
	color:#fff;
}

.dark .feature h4{
	color:#fff;
}

.dark .feature i{
	color:#ccc;
}


/*------------------------------ 
event
------------------------------ */
.event-list{
	list-style:none;
	margin:0;
	padding:0;
}

.event-list li .inner{
	background:#4e3927;
}

.event-list .pic{
	width:40%;
	float:left;
	background:#fff;
}

.event-list .pic img{
	width:100%;
}


.event-list .text{
	width:60%;
	padding:0 10px 0 10px;
	float:left;
	text-align:center;
	font-size:16px;
	color:#fff;
}

.event-list .date{
	position:absolute;
	color:#fff;
	background:#84562f;
	font-weight:bold;
	text-align:center;
	width:60px;
	z-index:100;
}

.event-list .date .day{
	font-size:36px;
	padding:12px 0 12px 0;
}

.event-list .date .month{
	font-size:14px;
	padding:1px 0 1px 0;
	background:#8ec92f;
}

/*------------------------------ 
flickr
------------------------------ */
#flickr-photo-stream img{ width:50px; height:auto; margin:0 12px 12px 0; float:left;}
#flickr-photo-stream a img {border:solid 2px #fff;}
#flickr-photo-stream a:hover img {border:solid 2px #96C277;}

/*------------------------------ 
FLEXSLIDER
------------------------------ */
.flexslider {
margin:0;
padding:0;
border:none;
box-shadow:none;
}

#slider{
text-align:center;
height:100%;
}

.slider-info{
width:100%;
height:100%;
position:absolute;
z-index:10;
font-family:"Open Sans";
top:30%;
}

.callbacks_nav.prev{ left:0;}
.callbacks_nav.next{ right:0;}
.slider-info h1{ font-size:48px; color:#fff; display:inline-block; padding:20px 0 20px 0; font-weight:300; letter-spacing:-1px;
border-bottom:solid 3px #8ec92f;
}
.slider-info .btn{
	margin-top:10px;
}
.slider-info .text{color:#fff; font-size:14px;}

/* main slider */
.main-slider .flex-control-nav{
margin-left:-30px;
}
.main-slider .flex-control-paging li a{
width:60px;
height:5px;
background:#f4ebd8;
}
.main-slider .flex-control-paging li a.flex-active{
background:#8ec92f;
}

/* testi slider */
.testi-slider .slides li{
margin-bottom:30px;
}

.testi-slider .testi-by{
text-align:center;
display:block;
margin-bottom:30px;
color:#fff;
}

.testi-slider .flex-control-nav{
margin-left:-30px;
}
.testi-slider .flex-control-paging li a{
width:60px;
height:5px;
background:#f4ebd8;
}
.testi-slider .flex-control-paging li a.flex-active{
background:#8ec92f;
}


/*------------------------------ 
TAB
------------------------------ */
.lt_tab {
}

.lt_tab .lt_nav {
overflow: hidden;
padding-left: 0;
margin: 0;
padding: 0;
font-weight:bold;
}

.lt_tab .lt_nav li {
float: left;
list-style: none;
background: #EEE;
margin-right: 5px;
}

.lt_tab .lt_nav li span {
padding: 8px 16px 8px 16px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
display: block;
background: #f5f5f5;
text-decoration: none;
color: #646464;
font-size: 13px;
cursor: pointer;
}

.lt_tab .lt_nav li:first-child span {
border-left: 1px solid #ddd;
}

.lt_tab .lt_tab_content {
border: 1px solid #ddd;
padding: 15px 20px 20px 20px;
margin-top: -1px;
color:#555;
background: #fff;
}

.lt_tab .lt_nav li span.active {
background: #FFF;
border-bottom: 1px solid #fff;
color: #222;
margin-bottom: -3px;
}

#menu-parallax-bg{
padding:60px 0 60px 0;
margin:60px 0 60px 0;
background:url(../img/bg-big-1.html) top center;
}


/*------------------------------ 
control nav
------------------------------ */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; background: rgba(255,255,255,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #fff; background: rgba(255,255,255,0.7); }
.flex-control-paging li a.flex-active { background: #fff; background: rgba(255,255,255,0.9); cursor: default; }


.accordion-toggle,.accordion-inner{
background:#fff;
color:#555;
}
.accordion-inner{
background:#fff;
color:#555;
}

.star-full{
width:14px;
height:14px;
background:url(../img/star.html) center no-repeat;
display:inline-block;
}

.star-empty{
width:14px;
height:14px;
background:url(../img/star-empty.html) center no-repeat;
display:inline-block;
}


.hover {
font-size: 12px;
display: block;
width: 100%;
height: 100px;
background: #fff;
position: absolute;
overflow: hidden;
line-height: 1.5em;
text-align: center;
}

.hover .btn-view-details {
display:inline-block;
font-size:14px;
color:#8ec92f;
padding:10px 20px 10px 20px;
text-decoration:none;
margin:0 auto;
border:solid 1px #8ec92f;
}



#booking{
padding:30px 0 30px 0;
background:#655233;
}
#booking input, #booking button, #booking select{
width:100%;
color:#fff;
}

#booking button{
border:none;
border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
background:#8ec92f;
}

#booking select{
background:none;
}

#booking input, #booking select{
border:solid 1px #8ec92f;
border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
}


#booking input{
background:url(../img/icon-calendar.html) 10px center no-repeat;
padding-left:36px;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;/* Firefox, other Gecko */
box-sizing: border-box; /* Opera/IE 8+ */
}

.btn-book{
position:absolute;
z-index:100;
display:inline-block;
color:#fff;
background:#e08e79;
padding:5px 10px 5px 10px;
text-decoration:none;
}

.btn-book:hover{
color:#fff;
background:#8ec92f;
text-decoration:none;
}


.info-box{
font-size:14px;
position:absolute;
z-index:100;
display:inline-block;
text-decoration:none;
margin-top:4px;
}

.info-box:hover{
color:#fff;
background:#8ec92f;
text-decoration:none;
}

.info-box .book{
color:#fff;
background:#e08e79;
padding:5px 15px 5px 15px;
}

.info-box .price{
color:#fff;
background:#8ec92f;
padding:5px 15px 5px 15px;
}


.btn-book span{
font-size:16px;
margin-left:15px;
padding-left:15px;
border-left:solid 1px #fff;
}


.pull-left{
margin:0 20px 0 0;
}

.social-icons img{
	width:24px;
	height:auto;
	margin-right:5px;
}

.social-icons .fa{
font-size:32px;
margin:0 10px 0 10px;
}


/* overide */
.form-control{border-radius:2px;-moz-border-radius:2px; -webkit-border-radius:2px;}
.col-md-3{ margin-left:-1px;}
.pagination li a{color:#8ec92f;}
.pagination li.active a{background:#8ec92f; border:solid 1px #8ec92f;}
.pagination li.active a:hover{background:#8ec92f; border:solid 1px #8ec92f;}


/* misc */

/* animate */
a,
a:hover,
.custom-col-3 i,
.custom-col-3 i:hover,
.custom-carousel-2 .item-blog,
.custom-carousel-2 .item-blog:hover,
.custom-col-3,
.custom-col-3:hover,
.blog-list li,
.blog-list li:hover,
.event-item .right-col,
.event-item:hover .right-col
{
-o-transition: .5s;
-ms-transition: .5s;
-moz-transition: .5s;
-webkit-transition: .5s;
transition: .5s;
}

.custom-carousel-1,
.custom-carousel-2,
#testi-carousel{
cursor: move;
cursor: -webkit-grab; 
cursor: -moz-grab;
}

#calendar .fc-view{
background:#fff;
}

.st-btn{
text-decoration:none;
color:#fff;
font-family:"Montserrat";
text-transform:uppercase;
background:#8ec92f;
padding:8px 25px 8px 25px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.st-btn:hover{
text-decoration:none;
color:#fff;
background:#454545;
}

.fc-widget-header{
background:#8ec92f;
color:#fff;
}

.fc-day{
}

.fc-event-container a{
background:#7cb029;
border:none;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
padding:2px;

}

.latest h3.title{
	width:340px;
	text-align:center;
	padding:0;
	background:#4e3927;
	color:#fff;
	padding:10px;
	height:50px;
	margin:0 auto;
}

.no-margin-bottom{
margin-bottom:0 !important;
}

#preloader{
position:absolute;
z-index:100001;
width:100%;
height:100%;
background:url(../img/loader.gif) center no-repeat #fff;
}


@media (min-width: 992px) and (max-width: 1199px) {
header {display:none;}

header.clone {
display:block;
position:inherit;
margin:0;
padding:0;
margin-top:0;
height:auto;
}
	
header .col-md-9{
	text-align:right;
}
#mainmenu-container{
	display:inline-block;
	text-align:right;
	margin-right:20px;
}
#mainmenu{display:none;}
.selectnav{display:block; margin:0 auto; float:right; margin-top:10px; width:200px;}

}


@media (max-width: 992px) {
#slider .slider-info{display:none;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{ margin-bottom:30px;}

header {display:none;}

header.clone {
display:block;
position:inherit;
margin:0;
padding:0;
margin-top:0;
height:auto;
}

header.clone #logo{
padding-top:20px;
display:block;
}

#subheader{
padding:40px 0 40px 0;
}

#logo{margin:0 auto; width:100%; text-align:center;}
#logo .inner{ display:block; width:100%; height:auto; margin:20px 0 20px 0;}
#booking input,#booking select{width:100%; margin-bottom:10px;}
#mainmenu{display:none;}
.selectnav{display:block; margin:0 auto; margin-top:40px; margin-bottom:20px;}

#mainmenu-container{
	display:block;
}

header .buttons{
	width:100%;
	display:block;
	text-align:center;
	float:none;
	margin-top:0px;
}

header,#content,footer,#subheader,#booking{padding-left:20px; padding-right:20px;}
header,#mainmenu-container{border:none;}

footer nav{
display:inline-block;
}

.blog-list li{
width:100%;
}

.bloglist-small{
float:left;
}

.custom-col-3 {
display:block;
}

.custom-col-3 .left-col,
.custom-col-3 .mid-col{
	width:50%;
	background:#f2f2f2;
}

.custom-col-3 .right-col{
display:block;
text-align:center;
padding:40px 0 20px 0;
}

#section-text-1 img{
width:100%;
}


#subheader{
	padding-bottom:0;
}

.crumb{
	display:none;
}

header .social{
	width:100%;
	text-align:center;
	margin:40px 0 40px 0;
}

.one-fourth, .three-fourth{
	width:100%;
	display:block;
	float:none;
}

.one-fourth .title-area, .three-fourth .title-area{
	padding:20px 0 20px 0;
}

}

