/* ::::: https://www.dropboxstatic.com/static/javascript/external/pdf-js-e9072ac/web/viewer-vflVSkpMt.css ::::: */

.textLayer { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; }
.pdfViewer .canvasWrapper { overflow: hidden; }
.pdfViewer .page { direction: ltr; width: 816px; height: 1056px; margin: 25px auto -8px; position: relative; overflow: visible; background-clip: content-box; background-color: white; }
.pdfViewer .page .canvasWrapper { border: 1px solid rgb(226, 226, 226); }
.pdfViewer .page canvas { margin: 0px; display: block; }
:-moz-full-screen .pdfViewer .page { margin-bottom: 100%; border: 0px none; }
* { padding: 0px; margin: 0px; }
html { height: 100%; font-size: 10px; }
body { height: 100%; background-color: rgb(246, 248, 250); }
#close-x { position: absolute; top: 20px; right: 20px; display: none; z-index: 1; cursor: pointer; -moz-user-select: none; border-radius: 50%; height: 31px; width: 31px; background-color: rgba(0, 0, 0, 0.2); }
#close-x-icon { position: absolute; background-image: url('xclose-vfl52zsxl.png'); width: 11px; height: 11px; top: 10px; left: 10px; }
@media not all, (min-resolution: 120dpi) {
	#close-x-icon { background-image: url('xclose@2x-vflhlxch_.png'); background-size: 11px 11px; }
}
body, input, button, select { font: message-box; outline: medium none; }
.hidden { display: none ! important; }
[hidden] { display: none ! important; }
#viewerContainer:-moz-full-screen { top: 0px; border-top: 2px solid transparent; background-color: rgb(0, 0, 0); width: 100%; height: 100%; overflow: hidden; cursor: none; }
:-moz-full-screen a:not(.internalLink) { display: none; }
#outerContainer { width: 100%; height: 100%; position: relative; }
#mainContainer { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; min-width: 320px; transition-duration: 200ms; transition-timing-function: ease; }
#viewerContainer { overflow: auto; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; outline: medium none; }
html[dir="ltr"] #viewerContainer { box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset; }
#viewer { margin-bottom: 88px; }
#loadingBar { position: relative; width: 100%; height: 4px; background-color: rgb(51, 51, 51); border-bottom: 1px solid rgb(51, 51, 51); z-index: 1; }
#loadingBar .progress { position: absolute; top: 0px; left: 0px; width: 0%; height: 100%; background-color: rgb(221, 221, 221); overflow: hidden; transition: width 200ms ease 0s; }
.doorHanger::after, .doorHanger::before, .doorHangerRight::after, .doorHangerRight::before { bottom: 100%; border: medium solid transparent; content: " "; height: 0px; width: 0px; position: absolute; pointer-events: none; }
.doorHanger::after, .doorHangerRight::after { border-bottom-color: rgba(81, 81, 81, 0.99); border-width: 8px; }
.doorHanger::before, .doorHangerRight::before { border-bottom-color: rgba(0, 0, 0, 0.5); border-width: 1px; }
html[dir="ltr"] .doorHanger::after, html[dir="rtl"] .doorHangerRight::after { left: 13px; margin-left: -8px; }
html[dir="ltr"] .doorHanger::before, html[dir="rtl"] .doorHangerRight::before { left: 13px; margin-left: -9px; }
html[dir="rtl"] .doorHanger::after, html[dir="ltr"] .doorHangerRight::after { right: 13px; margin-right: -8px; }
html[dir="rtl"] .doorHanger::before, html[dir="ltr"] .doorHangerRight::before { right: 13px; margin-right: -9px; }
.toolbarButton, .secondaryToolbarButton, .overlayButton { border: 0px none; background: transparent none repeat scroll 0% 0%; width: 32px; height: 25px; }
.splitToolbarButton > .toolbarButton:hover, .splitToolbarButton > .toolbarButton:focus, .dropdownToolbarButton:hover, .overlayButton:hover, .toolbarButton.textButton:hover, .toolbarButton.textButton:focus { background-color: rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 1px rgba(255, 255, 255, 0.15) inset, 0px 0px 1px rgba(0, 0, 0, 0.05); z-index: 199; }
.toolbarButton, .dropdownToolbarButton, .secondaryToolbarButton, .overlayButton { min-width: 16px; padding: 2px 6px 0px; border: 1px solid transparent; border-radius: 2px; color: rgba(255, 255, 255, 0.8); font-size: 12px; line-height: 14px; -moz-user-select: none; cursor: default; transition-property: background-color, border-color, box-shadow; transition-duration: 150ms; transition-timing-function: ease; }
html[dir="ltr"] .toolbarButton, html[dir="ltr"] .overlayButton, html[dir="ltr"] .dropdownToolbarButton { margin: 3px 2px 4px 0px; }
.toolbarButton:hover, .toolbarButton:focus, .dropdownToolbarButton, .overlayButton, .secondaryToolbarButton:hover, .secondaryToolbarButton:focus { background-color: rgba(0, 0, 0, 0.12); background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); background-clip: padding-box; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.38) rgba(0, 0, 0, 0.42); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, 0px 0px 1px rgba(255, 255, 255, 0.15) inset, 0px 1px 0px rgba(255, 255, 255, 0.05); }
.toolbarButton:hover:active, .overlayButton:hover:active, .dropdownToolbarButton:hover:active, .secondaryToolbarButton:hover:active { background-color: rgba(0, 0, 0, 0.2); background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); border-color: rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.45); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px rgba(255, 255, 255, 0.05); transition-property: background-color, border-color, box-shadow; transition-duration: 10ms; transition-timing-function: linear; }
.toolbarButton::before, .secondaryToolbarButton::before { position: absolute; display: inline-block; top: 4px; left: 7px; }
html[dir="ltr"] .secondaryToolbarButton::before { left: 4px; }
html[dir="rtl"] .secondaryToolbarButton::before { right: 4px; }
html[dir="ltr"] #sidebarToggle.toolbarButton::before { content: url('toolbarbutton-sidebartoggle.png'); }
html[dir="rtl"] #sidebarToggle.toolbarButton::before { content: url('toolbarbutton-sidebartoggle-rtl.png'); }
html[dir="ltr"] #secondaryToolbarToggle.toolbarButton::before { content: url('toolbarbutton-secondarytoolbartoggle.png'); }
html[dir="rtl"] #secondaryToolbarToggle.toolbarButton::before { content: url('toolbarbutton-secondarytoolbartoggle-rtl.png'); }
html[dir="ltr"] .toolbarButton.findPrevious::before { content: url('findbarbutton-previous.png'); }
html[dir="rtl"] .toolbarButton.findPrevious::before { content: url('findbarbutton-previous-rtl.png'); }
html[dir="ltr"] .toolbarButton.findNext::before { content: url('findbarbutton-next.png'); }
html[dir="rtl"] .toolbarButton.findNext::before { content: url('findbarbutton-next-rtl.png'); }
html[dir="ltr"] .toolbarButton.pageUp::before { content: url('toolbarbutton-pageup.png'); }
html[dir="rtl"] .toolbarButton.pageUp::before { content: url('toolbarbutton-pageup-rtl.png'); }
html[dir="ltr"] .toolbarButton.pageDown::before { content: url('toolbarbutton-pagedown.png'); }
html[dir="rtl"] .toolbarButton.pageDown::before { content: url('toolbarbutton-pagedown-rtl.png'); }
.toolbarButton.zoomOut::before { content: url('toolbarbutton-zoomout.png'); }
.toolbarButton.zoomIn::before { content: url('toolbarbutton-zoomin.png'); }
.toolbarButton.presentationMode::before, .secondaryToolbarButton.presentationMode::before { content: url('toolbarbutton-presentationmode.png'); }
.toolbarButton.print::before, .secondaryToolbarButton.print::before { content: url('toolbarbutton-print.png'); }
.toolbarButton.openFile::before, .secondaryToolbarButton.openFile::before { content: url('toolbarbutton-openfile.png'); }
.toolbarButton.download::before, .secondaryToolbarButton.download::before { content: url('toolbarbutton-download.png'); }
.toolbarButton.bookmark::before, .secondaryToolbarButton.bookmark::before { content: url('toolbarbutton-bookmark.png'); }
#viewThumbnail.toolbarButton::before { content: url('toolbarbutton-viewthumbnail.png'); }
html[dir="ltr"] #viewOutline.toolbarButton::before { content: url('toolbarbutton-viewoutline.png'); }
html[dir="rtl"] #viewOutline.toolbarButton::before { content: url('toolbarbutton-viewoutline-rtl.png'); }
#viewAttachments.toolbarButton::before { content: url('toolbarbutton-viewattachments.png'); }
#viewFind.toolbarButton::before { content: url('toolbarbutton-search.png'); }
.secondaryToolbarButton.firstPage::before { content: url('secondarytoolbarbutton-firstpage.png'); }
.secondaryToolbarButton.lastPage::before { content: url('secondarytoolbarbutton-lastpage.png'); }
.secondaryToolbarButton.rotateCcw::before { content: url('secondarytoolbarbutton-rotateccw.png'); }
.secondaryToolbarButton.rotateCw::before { content: url('secondarytoolbarbutton-rotatecw.png'); }
.secondaryToolbarButton.handTool::before { content: url('secondarytoolbarbutton-handtool.png'); }
.secondaryToolbarButton.documentProperties::before { content: url('secondarytoolbarbutton-documentproperties.png'); }
.toolbarField { padding: 3px 6px; margin: 4px 0px; border-radius: 2px; background-color: rgba(255, 255, 255, 0.09); background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); background-clip: padding-box; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.38) rgba(0, 0, 0, 0.42); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.05); color: rgb(242, 242, 242); font-size: 12px; line-height: 14px; outline-style: none; transition-property: background-color, border-color, box-shadow; transition-duration: 150ms; transition-timing-function: ease; }
.toolbarField:hover { background-color: rgba(255, 255, 255, 0.11); border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.43) rgba(0, 0, 0, 0.45); }
.toolbarField:focus { background-color: rgba(255, 255, 255, 0.15); border-color: rgba(76, 183, 255, 0.8) rgba(76, 183, 255, 0.85) rgba(76, 183, 255, 0.9); }
.thumbnail:not([data-loaded]) { border: 1px dashed rgba(255, 255, 255, 0.5); margin-bottom: 10px; }
*::-moz-selection { background: rgba(0, 0, 255, 0.3) none repeat scroll 0% 0%; }
.textLayer *::-moz-selection { background: rgb(0, 0, 255) none repeat scroll 0% 0%; }
.textLayer { opacity: 0.2; }
#errorWrapper { background: rgb(255, 85, 85) none repeat scroll 0px 0px; color: white; left: 0px; position: absolute; right: 0px; z-index: 1000; padding: 3px; font-size: 0.8em; }
#errorMessageLeft { float: left; }
#errorMessageRight { float: right; }
#errorMoreInfo { background-color: rgb(255, 255, 255); color: black; padding: 3px; margin: 3px; width: 98%; }
.overlayButton { width: auto; margin: 3px 4px 2px ! important; padding: 2px 6px 3px; }
#overlayContainer { display: table; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); z-index: 40000; }
#overlayContainer > * { overflow: auto; }
#overlayContainer > .container { display: table-cell; vertical-align: middle; text-align: center; }
#overlayContainer > .container > .dialog { display: inline-block; padding: 15px; border-spacing: 4px; color: rgb(216, 216, 216); font-size: 12px; line-height: 14px; background-color: rgb(71, 71, 71); background-image: url('texture.png'), linear-gradient(rgba(81, 81, 81, 0.99), rgba(68, 68, 68, 0.95)); border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
.dialog > .row { display: table-row; }
.dialog > .row > * { display: table-cell; }
.dialog .toolbarField { margin: 5px 0px; }
.dialog .toolbarField:hover, .dialog .toolbarField:focus { border-color: rgba(0, 0, 0, 0.32) rgba(0, 0, 0, 0.38) rgba(0, 0, 0, 0.42); }
.dialog .buttonRow { text-align: center; vertical-align: middle; }
#passwordOverlay > .dialog { text-align: center; }
#passwordOverlay .toolbarField { width: 200px; }
.clearBoth { clear: both; }
.fileInput { background: white none repeat scroll 0% 0%; color: black; margin-top: 5px; visibility: hidden; position: fixed; right: 0px; top: 0px; }
.grab-to-pan-grab :not(input):not(textarea):not(button):not(select):not(:link) { cursor: inherit ! important; }
#printContainer { display: none; }
@media screen and (min-resolution: 2dppx) {
	.toolbarButton::before { transform: scale(0.5); top: -5px; }
	.secondaryToolbarButton::before { transform: scale(0.5); top: -4px; }
	html[dir="ltr"] .toolbarButton::before, html[dir="rtl"] .toolbarButton::before { left: -1px; }
	html[dir="ltr"] .secondaryToolbarButton::before { left: -2px; }
	html[dir="rtl"] .secondaryToolbarButton::before { left: 186px; }
	html[dir="ltr"] #sidebarToggle.toolbarButton::before { content: url('toolbarbutton-sidebartoggle@2x.png'); }
	html[dir="rtl"] #sidebarToggle.toolbarButton::before { content: url('toolbarbutton-sidebartoggle-rtl@2x.png'); }
	html[dir="ltr"] #secondaryToolbarToggle.toolbarButton::before { content: url('toolbarbutton-secondarytoolbartoggle@2x.png'); }
	html[dir="rtl"] #secondaryToolbarToggle.toolbarButton::before { content: url('toolbarbutton-secondarytoolbartoggle-rtl@2x.png'); }
	html[dir="ltr"] .toolbarButton.findPrevious::before { content: url('findbarbutton-previous@2x.png'); }
	html[dir="rtl"] .toolbarButton.findPrevious::before { content: url('findbarbutton-previous-rtl@2x.png'); }
	html[dir="ltr"] .toolbarButton.findNext::before { content: url('findbarbutton-next@2x.png'); }
	html[dir="rtl"] .toolbarButton.findNext::before { content: url('findbarbutton-next-rtl@2x.png'); }
	html[dir="ltr"] .toolbarButton.pageUp::before { content: url('toolbarbutton-pageup@2x.png'); }
	html[dir="rtl"] .toolbarButton.pageUp::before { content: url('toolbarbutton-pageup-rtl@2x.png'); }
	html[dir="ltr"] .toolbarButton.pageDown::before { content: url('toolbarbutton-pagedown@2x.png'); }
	html[dir="rtl"] .toolbarButton.pageDown::before { content: url('toolbarbutton-pagedown-rtl@2x.png'); }
	.toolbarButton.zoomIn::before { content: url('toolbarbutton-zoomin@2x.png'); }
	.toolbarButton.zoomOut::before { content: url('toolbarbutton-zoomout@2x.png'); }
	.toolbarButton.presentationMode::before, .secondaryToolbarButton.presentationMode::before { content: url('toolbarbutton-presentationmode@2x.png'); }
	.toolbarButton.print::before, .secondaryToolbarButton.print::before { content: url('toolbarbutton-print@2x.png'); }
	.toolbarButton.openFile::before, .secondaryToolbarButton.openFile::before { content: url('toolbarbutton-openfile@2x.png'); }
	.toolbarButton.download::before, .secondaryToolbarButton.download::before { content: url('toolbarbutton-download@2x.png'); }
	.toolbarButton.bookmark::before, .secondaryToolbarButton.bookmark::before { content: url('toolbarbutton-bookmark@2x.png'); }
	#viewThumbnail.toolbarButton::before { content: url('toolbarbutton-viewthumbnail@2x.png'); }
	html[dir="ltr"] #viewOutline.toolbarButton::before { content: url('toolbarbutton-viewoutline@2x.png'); }
	html[dir="rtl"] #viewOutline.toolbarButton::before { content: url('toolbarbutton-viewoutline-rtl@2x.png'); }
	#viewAttachments.toolbarButton::before { content: url('toolbarbutton-viewattachments@2x.png'); }
	#viewFind.toolbarButton::before { content: url('toolbarbutton-search@2x.png'); }
	.secondaryToolbarButton.firstPage::before { content: url('secondarytoolbarbutton-firstpage@2x.png'); }
	.secondaryToolbarButton.lastPage::before { content: url('secondarytoolbarbutton-lastpage@2x.png'); }
	.secondaryToolbarButton.rotateCcw::before { content: url('secondarytoolbarbutton-rotateccw@2x.png'); }
	.secondaryToolbarButton.rotateCw::before { content: url('secondarytoolbarbutton-rotatecw@2x.png'); }
	.secondaryToolbarButton.handTool::before { content: url('secondarytoolbarbutton-handtool@2x.png'); }
	.secondaryToolbarButton.documentProperties::before { content: url('secondarytoolbarbutton-documentproperties@2x.png'); }
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 900px) {
}
@media all and (max-width: 860px) {
}
@media all and (max-width: 770px) {
}
@media all and (max-width: 700px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 600px) {
}
@media all and (max-width: 510px) {
}
html body .textLayer { opacity: 1; }
html body .textLayer > div:not(.db-annotation-layer):not(.db-annotation-canvas-layer) { opacity: 0.2; }
.annotation-region.is-modifying .annotation-region-side-handle::after, .annotation-region:hover .annotation-region-side-handle::after { position: relative; display: table-cell; vertical-align: middle; content: "···"; }
.annotation-region.is-modifying .annotation-region-side-handle--left::after, .annotation-region.is-modifying .annotation-region-side-handle--right::after, .annotation-region:hover .annotation-region-side-handle--left::after, .annotation-region:hover .annotation-region-side-handle--right::after { transform: rotate(-90deg); }
#mozPrintCallback-shim { position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 9999999; display: block; text-align: center; background-color: rgba(0, 0, 0, 0.5); }
#mozPrintCallback-shim[hidden] { display: none; }
#mozPrintCallback-shim .mozPrintCallback-dialog-box { display: inline-block; margin: -50px auto 0px; position: relative; top: 45%; left: 0px; min-width: 220px; max-width: 400px; padding: 9px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 2px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); background-color: rgb(71, 71, 71); color: rgb(216, 216, 216); font-size: 16px; line-height: 20px; }
#mozPrintCallback-shim .progress-row { clear: both; padding: 1em 0px; }
#mozPrintCallback-shim progress { width: 100%; }
#mozPrintCallback-shim .relative-progress { clear: both; float: right; }
#mozPrintCallback-shim .progress-actions { clear: both; }
