.Accordion {
	overflow: hidden;
	outline:none;
}
.AccordionPanel {
	margin: 0px;
	padding: 0px;
}
.AccordionPanelTab {
	margin: 0px 0px 3px 0px;
	padding: 7px 2px 7px 4px;
	cursor: pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	background-image:url(../images/tab_bg.jpg);
	background-position:left bottom;
	background-repeat:repeat-x;
	border-bottom:1px solid #CCCCCC;
	border-right:2px solid #CCCCCC;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.tab_bg{
	background-image:url(../images/tab_bg.jpg);
	background-position:left bottom;
	background-repeat:repeat-x;}
.AccordionPanelContent {
	overflow: auto;
	height:500px;
	margin: 0px;
	padding: 0px 0px 0px 18px;
}
.AccordionPanelOpen .AccordionPanelTab {
	color:#FF9933;
}
.AccordionPanelTabHover {
	color:#FF9933;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #FF9933;
}
.AccordionFocused .AccordionPanelTab {
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {

}
