@charset "UTF-8";.TabbedPanels{margin:0px;padding:0px;float:left;clear:none;width:100%;outline:none;}
.TabbedPanelsTabGroup{margin:0px;padding:0px;}
.TabbedPanelsTab{position:relative;top:1px;float:left;width:87px;height:18px;padding:3px 0px 2px 0px;margin:0px 4px -2px 0px;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-align:center;display:block;color:#044b76;list-style:none;background-position:left top;background-repeat:no-repeat;-moz-user-select:none;-khtml-user-select:none;cursor:pointer;outline:none;}
.TabbedPanelsTabHover{background-image:url(../images/tab_hover.jpg);background-position:left top;background-repeat:no-repeat;}
.TabbedPanelsTabSelected{background-image:url(../images/tab_hover.jpg);background-position:left top;background-repeat:no-repeat;}
.TabbedPanelsTab a{color:#044b76;text-decoration:none;background-position:left top;background-repeat:no-repeat;}
.TabbedPanelsContentGroup{clear:both;}
.TabbedPanelsContent{padding:0px;}
.TabbedPanelsContentVisible{}
.VTabbedPanels .TabbedPanelsTabGroup{float:left;width:10em;height:20em;background-color:#EEE;position:relative;border-top:solid 1px #999;border-right:solid 1px #999;border-left:solid 1px #CCC;border-bottom:solid 1px #CCC;}
.VTabbedPanels .TabbedPanelsTab{float:none;margin:0px;border-top:none;border-left:none;border-right:none;}
.VTabbedPanels .TabbedPanelsTabSelected{background-color:#EEE;border-bottom:solid 1px #999;}
.VTabbedPanels .TabbedPanelsContentGroup{clear:none;float:left;padding:0px;width:30em;height:20em;}