body{
	background-color: #111;
	color: #bbb;
}
a{
	color: #f70;
}
h2 {
	color: #ccc;
}
div#page {
	background-color: #000;
	border-color: #222;
}
div#footer {
	color: #888;
}
div.caption-container {
	color: #eee;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	color: #888;
}
div.navigation a.prev {
	background-image: url(prevPageArrowWhite.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrowWhite.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	border-color: #333;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}
div.nav-controls a.prev {
	outline:none;	
}
div.nav-controls a.next {
	outline:none;	
}