.button 			{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #FFFFFF; height: 18px;	width: 60px; background-color: #666666;	border-top: 1px solid #FFFFFF; border-right: 1px solid #666666;	border-bottom: 1px solid #666666; border-left: 1px solid #FFFFFF;}
.button2 			{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #FFFFFF; height: 18px;	width: 80px; background-color: #666666;	border-top: 1px solid #FFFFFF; border-right: 1px solid #666666;	border-bottom: 1px solid #666666; border-left: 1px solid #FFFFFF;}
.formbox1			{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000; height: 18px; width: 230px; border: 1px solid; background-color: #EFEFEF; border-color: #000000 solid;}
.formbox2			{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000; height: 18px; width: 300px; border: 1px solid; background-color: #EFEFEF; border-color: #000000 solid;}
.header 			{font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none;}
.hyperlink1 		{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;}
.hyperlink1:hover 	{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: underline;}
.text1 				{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: none;}
.text2 				{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; text-decoration: none;}
.text2:hover		{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-decoration: underline;}
.title 				{font-family: "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; color: #4C68BD; font-style: normal;}
