/* ::::: https://bank.barclays.co.uk/ftb/css/scss-compiled/barclays-ftb-login.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: outside none none; }
q::before, q::after, blockquote::before, blockquote::after { content: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
body { font-family: "Verdana","Arial","Helvetica","Sans Serif"; }
a.button:focus, a.bluebutton:focus, .snippet a.snippetbluebutton:focus, a.button:active, a.bluebutton:active, .snippet a.snippetbluebutton:active, button.button[type="submit"]:focus, button.button[type="submit"]:active { outline: 0px none; }
button.button[type="submit"], a.button, a.bluebutton, .snippet a.snippetbluebutton { position: relative; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.1em; float: left; clear: both; text-decoration: none; border-radius: 5px; margin-bottom: 12px; display: inline-block; min-width: 110px; text-align: center; border: 0px none; min-height: 30px; padding: 0px; }
button.button[type="submit"] { cursor: pointer; }
button.blue[type="submit"], a.blue, a.bluebutton, .snippet a.snippetbluebutton { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(1, 126, 182); }
button.blue[type="submit"]:hover, a.blue:hover, a.bluebutton:hover, .snippet a.snippetbluebutton:hover, button.blue[type="submit"]:focus, a.blue:focus, a.bluebutton:focus, .snippet a.snippetbluebutton:focus, button.blue[type="submit"]:active, a.blue:active, a.bluebutton:active, .snippet a.snippetbluebutton:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 104, 151); }
.ftb a.button:focus, .ftb a.bluebutton:focus, .ftb .snippet a.snippetbluebutton:focus, .snippet .ftb a.snippetbluebutton:focus, .ftb a.button:active, .ftb a.bluebutton:active, .ftb .snippet a.snippetbluebutton:active, .snippet .ftb a.snippetbluebutton:active, .ftb button.button[type="submit"]:focus, .ftb button.button[type="submit"]:active { outline: 0px none; }
.ftb button.button[type="submit"], .ftb a.button, .ftb a.bluebutton, .ftb .snippet a.snippetbluebutton, .snippet .ftb a.snippetbluebutton { position: relative; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.1em; float: left; clear: both; text-decoration: none; border-radius: 5px; margin-bottom: 12px; display: inline-block; min-width: 110px; text-align: center; border: 0px none; min-height: 30px; }
.ftb button.button[type="submit"] { cursor: pointer; }
.ftb button.blue[type="submit"], .ftb a.blue, .ftb a.bluebutton, .ftb .snippet a.snippetbluebutton, .snippet .ftb a.snippetbluebutton { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(1, 126, 182); }
.ftb button.blue[type="submit"]:hover, .ftb a.blue:hover, .ftb a.bluebutton:hover, .ftb .snippet a.snippetbluebutton:hover, .snippet .ftb a.snippetbluebutton:hover, .ftb button.blue[type="submit"]:focus, .ftb a.blue:focus, .ftb a.bluebutton:focus, .ftb .snippet a.snippetbluebutton:focus, .snippet .ftb a.snippetbluebutton:focus, .ftb button.blue[type="submit"]:active, .ftb a.blue:active, .ftb a.bluebutton:active, .ftb .snippet a.snippetbluebutton:active, .snippet .ftb a.snippetbluebutton:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 104, 151); }
@font-face {
	font-family: "expertsans-regular";
	src: url('expertsans-regular-webfont.eot') format("embedded-opentype"), url('expertsans-regular-webfont.woff') format("woff"), url('expertsans-regular-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-regularitalic";
	src: url('expertsans-regularitalic-webfont.eot') format("embedded-opentype"), url('expertsans-regularitalic-webfont.woff') format("woff"), url('expertsans-regularitalic-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-light";
	src: url('expertsans-light-webfont.eot') format("embedded-opentype"), url('expertsans-light-webfont.woff') format("woff"), url('expertsans-light-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-lightitalic";
	src: url('expertsans-lightitalic-webfont.eot') format("embedded-opentype"), url('expertsans-lightitalic-webfont.woff') format("woff"), url('expertsans-lightitalic-webfont.ttf') format("truetype"), url('expertsans-lightitalic-webfont.svg') format("svg");
}
@font-face {
	font-family: "expertsans-extralight";
	src: url('expertsans-extralight-webfont.eot') format("embedded-opentype"), url('expertsans-extralight-webfont.woff') format("woff"), url('expertsans-extralight-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-extralightitalic";
	src: url('expertsans-extralightitalic-webfont.eot') format("embedded-opentype"), url('expertsans-extralightitalic-webfont.woff') format("woff"), url('expertsans-extralightitalic-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-black";
	src: url('expertsans-black-webfont.eot') format("embedded-opentype"), url('expertsans-black-webfont.woff') format("woff"), url('expertsans-black-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-bold";
	src: url('expertsans-bold-webfont.eot') format("embedded-opentype"), url('expertsans-bold-webfont.woff') format("woff"), url('expertsans-bold-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-bolditalic";
	src: url('expertsans-bolditalic-webfont.eot') format("embedded-opentype"), url('expertsans-bolditalic-webfont.woff') format("woff"), url('expertsans-bolditalic-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "expertsans-extrabold";
	src: url('expertsans-extrabold-webfont.eot') format("embedded-opentype"), url('expertsans-extrabold-webfont.woff') format("woff"), url('expertsans-extrabold-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "ftb-new-login-icons";
	font-style: normal;
	font-weight: normal;
	src: url('ftb-new-login-icons.eot') format("embedded-opentype"), url('ftb-new-login-icons.woff') format("woff"), url('ftb-new-login-icons.ttf') format("truetype"), url('ftb-new-login-icons.svg') format("svg");
}
[data-icon]::before { font-family: "ftb-new-login-icons" ! important; content: attr(data-icon); font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; }
[class^="icon-"]::before, [class*=" icon-"]::before { font-family: "ftb-new-login-icons" ! important; font-style: normal ! important; font-weight: normal ! important; font-variant: normal ! important; text-transform: none ! important; font-size: 1.3rem; }
.icon-info { display: inline-block; }
.icon-info::before { content: "a"; display: inline-block; text-decoration: none; color: rgb(255, 190, 16); line-height: 29px; }
.icon-umbrella-error-cross::before { content: "b"; float: left; margin: 0px 0px 0px 15px; color: rgb(157, 6, 59); background: none repeat scroll 0% 0% rgb(245, 230, 235); line-height: 29px; }
.icon-error-cross::before { content: "b"; float: left; margin-left: 10px; color: rgb(157, 6, 59); line-height: 29px; }
.icon-question::before { content: "c"; float: left; margin-left: 10px; color: rgb(2, 125, 184); }
#page .icon-question::before { line-height: 29px; }
.icon-check::before { content: "d"; float: left; margin: 0px 15px 0px 20px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(102, 173, 109); line-height: 29px; }
.icon-exclamation-snippet::before { content: "e"; float: left; margin: 1px 0px 0px 15px; color: rgb(255, 190, 16); background: none repeat scroll 0% 0% rgb(255, 239, 195); line-height: 29px; }
.icon-exclamation-server-error::before { content: "e"; float: left; margin: 0px 0px 0px 15px; color: rgb(157, 6, 59); background: none repeat scroll 0% 0% rgb(245, 230, 235); }
.icon-tooltip-legal::before { content: "m"; float: left; margin-left: 10px; color: rgb(2, 125, 184); line-height: 29px; }
.ftb .icon-info::before { content: "a"; font-size: 1.4rem; display: inline-block; text-decoration: none; color: rgb(255, 190, 16); }
input.text[type="text"], input.text[type="password"], input.text[type="memorableWord"], input.cardDigits[type="text"], input.securityCode[type="password"], input.card-number[type="text"], input.sort-code[type="text"], input.account-number[type="text"], input.date-picker[type="text"], input.email[type="email"], input.email-confirm[type="email"], input[type="text"][name="oneTimePasscode1"], input[type="text"][name="oneTimePasscode2"] { position: relative; float: left; border: 1px solid rgb(204, 204, 204); border-radius: 5px; padding: 5px 10px; outline: 0px none; color: rgb(2, 125, 184); font-size: 1.25em; }
input.text[type="text"], input.email[type="email"], input.email-confirm[type="email"] { display: inline; float: left; width: 263px; margin: 0px; }
input.account-number[type="text"] { width: 70px; margin: 0px 0px 20px; }
input.card-number[type="text"] { margin-top: 1px; width: 40px; clear: none; }
input#debitCardSet1, input#debitCardSet2, input#debitCardSet3 { margin: 0px 12px 0px 0px; }
input.sort-code[type="text"] { width: 22px; clear: none; margin: 0px 0px 20px; }
span.divider { float: left; }
input.text[type="text"]:focus, input.text[type="password"]:focus, input.card-number[type="text"]:focus, input.sort-code[type="text"]:focus, input.security-code[type="password"]:focus, input.account-number[type="text"]:focus, input.date-picker[type="text"]:focus, input.email[type="email"]:focus, input.email-confirm[type="email"]:focus { border: 1px solid rgb(2, 125, 184); outline: 0px none; }
input.sort-code[type="text"]:focus ~ input.sort-code[type="text"], input.sort-code[type="text"]:focus ~ input.account-number[type="text"], input.card-number[type="text"]:focus ~ input.card-number[type="text"] { border: 1px solid rgb(2, 125, 184); outline: 0px none; }
#nav-footer, #footer { clear: both; display: inline; float: left; width: 1170px; margin: 0px 0px 10px; padding: 0px 0px 10px; }
#nav-footer .footnote, #footer .footnote { clear: both; display: inline; float: left; width: 1170px; margin-left: 0px; margin-right: 0px; border-width: 1px 0px 0px; border-color: rgb(204, 204, 204); border-style: solid; padding: 30px 0px; }
#nav-footer .footnote a, #footer .footnote a { text-decoration: underline; }
#nav-footer .footnote p, #footer .footnote p { font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.2em; color: rgb(119, 118, 118); padding: 0px 0px 20px; line-height: 1.4em; }
#nav-footer .footnote p a, #footer .footnote p a { color: rgb(0, 128, 170); }
#content .login-ctr.ftb { position: relative; display: inline; float: left; margin-right: 15px; width: 870px; margin-left: 0px; }
#content .login-ctr.ftb #page .accordion { width: 870px; margin-left: 0px; margin-right: 0px; position: relative; display: inline-block; float: left; margin-top: 20px; min-height: 20px; padding: 0px; border-radius: 3px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#content .login-ctr.ftb #page .accordion > h2 { font-family: "expertsans-light","Verdana","Arial","Helvetica","Sans Serif"; font-size: 2em; padding: 12px 0px; text-indent: 15px; display: inline; float: left; width: 870px; margin-left: 0px; margin-right: 0px; border-radius: 3px 3px 0px 0px; }
#content .login-ctr.ftb #page .accordion form .accordion-page { border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 3px 3px; position: relative; float: left; clear: both; padding: 0px; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid { position: relative; display: inline; float: left; width: 870px; margin-left: 0px; margin-right: 0px; list-style-type: none; padding: 0px; font-size: 1.1em; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li { float: left; width: 90%; padding: 0px 0px 20px 15px; border-left: 50px solid rgb(238, 238, 238); }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li label { display: inline; float: left; margin-right: 15px; width: 220px; margin-left: 0px; font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.25em; color: rgb(102, 102, 102); padding: 8px 0px 0px; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li label.hide { position: absolute; left: -5000px; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li span.assistLink { display: block; clear: left; margin-left: 235px; padding-top: 3px; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li span.assistLink a { color: rgb(0, 128, 170); font-size: 1em; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li p { font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.25em; color: rgb(102, 102, 102); line-height: 150%; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid > li div#authenticationDiv ul.radio-list li input[type="radio"][id="mobileAuthentication-radio"]:not(:checked) + label + div { display: none; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid li:first-child { padding: 40px 0px 20px 15px; }
#content .login-ctr.ftb #page .accordion form .accordion-page ul.form-grid li:last-child { padding: 0px 0px 20px 15px; }
#content .login-ctr.ftb #page .accordion.disabled form .accordion-page { border: 0px none; }
#content .login-ctr.ftb #page .accordion.disabled > h2 { background: url('login-panel-header-disabled-arrow.gif') no-repeat scroll 98% 50% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 3px; color: rgb(102, 102, 102); }
#content .login-ctr.ftb #page .accordion.active > h2 { background: url('login-panel-header-active-arrow.gif') no-repeat scroll 98% 50% rgb(0, 114, 182); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(0, 114, 182) rgb(0, 114, 182) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li fieldset { display: inline-block; float: left; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li fieldset legend { display: inline; float: left; margin-right: 15px; width: 220px; margin-left: 0px; color: rgb(102, 102, 102); font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.2em; padding: 8px 0px 0px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li fieldset legend.large-caption { display: inline; float: left; margin-right: 15px; width: 370px; margin-left: 0px; font-size: 1.8em; color: rgb(0, 51, 102); padding: 0px 0px 35px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list { float: left; width: 98%; padding: 0px; margin: 0px; list-style-type: none; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li { float: left; width: 100%; height: 40px; padding: 0px 0px 10px; border: 0px none; position: relative; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"] { display: none; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"] + label { margin-right: 15px; width: 185px; margin-left: 0px; font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.25em; float: left; color: rgb(102, 102, 102); padding-left: 35px; display: inline-block; background-repeat: no-repeat; background-position: 0px -27px; vertical-align: middle; cursor: pointer; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li label { float: left; color: rgb(102, 102, 102); display: inline-block; line-height: 1.2em; min-height: 21px; max-width: 95%; padding-bottom: 0px; vertical-align: middle; font-size: 1.2em; word-wrap: break-word; background-image: url('radio-sprite.gif'); -moz-user-select: none; font-weight: normal; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li label.hide { position: absolute; left: -5000px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li span.divider { float: left; font-size: 1.4em; font-weight: bold; line-height: 30px; margin: 0px 6px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label { background-position: -31px 5px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label + fieldset { display: inherit; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li span.divider { color: rgb(102, 102, 102); font-size: 1em; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[name="membershipNumber"], #content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li span[name="assistLink"], #content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.card-no, #content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.sortcode-account-no { display: none; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label + input[name="membershipNumber"], #content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label + fieldset.card-no, #content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label + fieldset.sortcode-account-no { display: inline-block; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="radio"]:checked + label + input[name="membershipNumber"] + div + span[name="assistLink"] { display: block; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.sortcode-account-no { float: left; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.sortcode-account-no input.sort-code { margin: 0px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.card-no { float: left; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li fieldset.card-no input.card-number { margin-top: 0px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li input[type="text"] { font-size: 1.25em; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li ul.radio-list li a { color: rgb(0, 128, 170); }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li div.checkbox input[type="checkbox"] { display: none; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li div.checkbox label { display: inline; float: left; width: 770px; margin-left: 0px; margin-right: 0px; background: url('checkbox-sprite.png') no-repeat scroll 0px -31px transparent; padding: 5px 0px 0px 30px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li div.checkbox label span p { font-size: 1em; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li div.checkbox input[type="checkbox"]:checked ~ label { background-position: -31px 2px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li div.line-break { border-top: 1px solid rgb(204, 204, 204); padding-top: 30px; margin-top: 10px; }
#content .login-ctr.ftb #page .accordion.active form .accordion-page ul.form-grid li button#forward { float: left; clear: none; }
div.tooltip { outline: 0px none; text-decoration: none; cursor: pointer; }
div.tooltip > span { max-width: 190px; padding: 10px 23px; min-height: 20px; opacity: 0; visibility: hidden; z-index: 10; position: absolute; font-family: Arial; font-size: 12px; font-style: normal; word-wrap: break-word; border-radius: 3px; transform: translate(20px, 7px); transition: all 0.25s ease-out 0s; color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); }
div.tooltip:focus > span, div.tooltip:hover > span { opacity: 1; text-decoration: none; visibility: visible; overflow: visible; margin-top: -15px; display: inline-block; vertical-align: top; }
div.tooltip span b { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-top: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); width: 15px; height: 15px; margin-left: -32px; margin-top: 5px; display: block; position: absolute; transform: rotate(-135deg); }
div.tooltip span .content { display: inline-block; max-width: 185px; min-width: 120px; }
div.tooltip span .content p { line-height: 115% ! important; }
.help-card-link { text-decoration: none; }
.helplink { display: inline-block; vertical-align: top; cursor: pointer; }
.rememberMe { float: left; margin-left: 30px; }
.helplinktext { font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1em; text-decoration: none; margin-top: 8px; margin-left: 5px; display: inline-block; vertical-align: super; color: rgb(0, 114, 182); }
#content div.right-info div.help-centre, #content div.right-wrp div.help-centre, .takeover-wnd div.right-info div.help-centre, .takeover-wnd div.right-wrp div.help-centre, #takeover div.right-info div.help-centre, #takeover div.right-wrp div.help-centre, .ftb #targetForLoad-payee-new div.help-centre { display: inline; float: left; width: 270px; margin-left: 0px; margin-right: 0px; }
#content div.right-info div.help-centre ul.help-centre, #content div.right-wrp div.help-centre ul.help-centre, .takeover-wnd div.right-info div.help-centre ul.help-centre, .takeover-wnd div.right-wrp div.help-centre ul.help-centre, #takeover div.right-info div.help-centre ul.help-centre, #takeover div.right-wrp div.help-centre ul.help-centre, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre { display: inline; float: left; width: 270px; margin-left: 0px; margin-right: 0px; overflow: visible; border: 0px solid rgb(255, 190, 16); border-radius: 3px; }
#content div.right-info div.help-centre ul.help-centre > li, #content div.right-wrp div.help-centre ul.help-centre > li, .takeover-wnd div.right-info div.help-centre ul.help-centre > li, .takeover-wnd div.right-wrp div.help-centre ul.help-centre > li, #takeover div.right-info div.help-centre ul.help-centre > li, #takeover div.right-wrp div.help-centre ul.help-centre > li, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre > li { float: left; width: 268px; font-family: "expertsans-regular","Verdana","Arial","Helvetica","Sans Serif"; background: none repeat scroll 0% 0% rgb(255, 239, 195); border-left: 1px solid rgb(255, 223, 139); border-right: 1px solid rgb(255, 223, 139); }
#content div.right-info div.help-centre ul.help-centre > li:first-child, #content div.right-wrp div.help-centre ul.help-centre > li:first-child, .takeover-wnd div.right-info div.help-centre ul.help-centre > li:first-child, .takeover-wnd div.right-wrp div.help-centre ul.help-centre > li:first-child, #takeover div.right-info div.help-centre ul.help-centre > li:first-child, #takeover div.right-wrp div.help-centre ul.help-centre > li:first-child, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre > li:first-child { border: 1px solid rgb(255, 190, 16); border-radius: 3px 3px 0px 0px; background: none repeat scroll 0% 0% rgb(255, 206, 76); position: relative; }
#content div.right-info div.help-centre ul.help-centre > li:first-child h2, #content div.right-wrp div.help-centre ul.help-centre > li:first-child h2, .takeover-wnd div.right-info div.help-centre ul.help-centre > li:first-child h2, .takeover-wnd div.right-wrp div.help-centre ul.help-centre > li:first-child h2, #takeover div.right-info div.help-centre ul.help-centre > li:first-child h2, #takeover div.right-wrp div.help-centre ul.help-centre > li:first-child h2, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre > li:first-child h2 { float: left; display: inline-block; color: rgb(0, 57, 93); margin: 0px; padding: 15px; font-size: 2em; }
#content div.right-info div.help-centre ul.help-centre > li:last-child, #content div.right-wrp div.help-centre ul.help-centre > li:last-child, .takeover-wnd div.right-info div.help-centre ul.help-centre > li:last-child, .takeover-wnd div.right-wrp div.help-centre ul.help-centre > li:last-child, #takeover div.right-info div.help-centre ul.help-centre > li:last-child, #takeover div.right-wrp div.help-centre ul.help-centre > li:last-child, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre > li:last-child { border: 1px solid rgb(255, 223, 139); border-radius: 0px 0px 3px 3px; text-align: center; position: relative; z-index: 1; }
#content div.right-info div.help-centre ul.help-centre > li:last-child button, #content div.right-wrp div.help-centre ul.help-centre > li:last-child button, .takeover-wnd div.right-info div.help-centre ul.help-centre > li:last-child button, .takeover-wnd div.right-wrp div.help-centre ul.help-centre > li:last-child button, #takeover div.right-info div.help-centre ul.help-centre > li:last-child button, #takeover div.right-wrp div.help-centre ul.help-centre > li:last-child button, .ftb #targetForLoad-payee-new div.help-centre ul.help-centre > li:last-child button { float: none; width: 90%; margin: 15px 0px; font-size: 1.3em; }
#content div.right-info ul.help-centre-body, #content div.right-wrp ul.help-centre-body, .takeover-wnd div.right-info ul.help-centre-body, .takeover-wnd div.right-wrp ul.help-centre-body, #takeover div.right-info ul.help-centre-body, #takeover div.right-wrp ul.help-centre-body, .ftb #targetForLoad-payee-new ul.help-centre-body { position: relative; }
#content div.right-info ul.help-centre-body > li, #content div.right-wrp ul.help-centre-body > li, .takeover-wnd div.right-info ul.help-centre-body > li, .takeover-wnd div.right-wrp ul.help-centre-body > li, #takeover div.right-info ul.help-centre-body > li, #takeover div.right-wrp ul.help-centre-body > li, .ftb #targetForLoad-payee-new ul.help-centre-body > li { width: 100%; font-family: "expertsans-regular","Verdana","Arial","Helvetica","Sans Serif"; display: inline; float: left; border-bottom: 1px solid rgb(255, 223, 139); }
#content div.right-info ul.help-centre-body > li .help-card-link, #content div.right-wrp ul.help-centre-body > li .help-card-link, .takeover-wnd div.right-info ul.help-centre-body > li .help-card-link, .takeover-wnd div.right-wrp ul.help-centre-body > li .help-card-link, #takeover div.right-info ul.help-centre-body > li .help-card-link, #takeover div.right-wrp ul.help-centre-body > li .help-card-link, .ftb #targetForLoad-payee-new ul.help-centre-body > li .help-card-link { cursor: pointer; float: left; padding: 15px 10px 15px 38px; color: rgb(0, 111, 157); background-image: url('side-bar-arrow.png'); background-position: 18px 22px; background-repeat: no-repeat; font-size: 1.3em; line-height: 1.8em; width: 77%; text-align: left; text-decoration: none; }
#content div.right-info ul.help-centre-body > li:first-child, #content div.right-wrp ul.help-centre-body > li:first-child, .takeover-wnd div.right-info ul.help-centre-body > li:first-child, .takeover-wnd div.right-wrp ul.help-centre-body > li:first-child, #takeover div.right-info ul.help-centre-body > li:first-child, #takeover div.right-wrp ul.help-centre-body > li:first-child, .ftb #targetForLoad-payee-new ul.help-centre-body > li:first-child { border-bottom: 0px none; }
#content div.right-info ul.help-centre-body > li:last-child, #content div.right-wrp ul.help-centre-body > li:last-child, .takeover-wnd div.right-info ul.help-centre-body > li:last-child, .takeover-wnd div.right-wrp ul.help-centre-body > li:last-child, #takeover div.right-info ul.help-centre-body > li:last-child, #takeover div.right-wrp ul.help-centre-body > li:last-child, .ftb #targetForLoad-payee-new ul.help-centre-body > li:last-child { border-bottom: 0px none; }
#content div.right-info li#help-centre-dialog, #content div.right-wrp li#help-centre-dialog, .takeover-wnd div.right-info li#help-centre-dialog, .takeover-wnd div.right-wrp li#help-centre-dialog, #takeover div.right-info li#help-centre-dialog, #takeover div.right-wrp li#help-centre-dialog, .ftb #targetForLoad-payee-new li#help-centre-dialog { position: absolute; z-index: 9999; float: left; width: 470px; margin-left: 0px; margin-right: 0px; top: -2px; right: 1px; display: none; box-shadow: -1px 1px 1px rgb(217, 217, 217); border-radius: 5px; }
#content div.right-info li#help-centre-dialog > ul > li, #content div.right-wrp li#help-centre-dialog > ul > li, .takeover-wnd div.right-info li#help-centre-dialog > ul > li, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li, #takeover div.right-info li#help-centre-dialog > ul > li, #takeover div.right-wrp li#help-centre-dialog > ul > li, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li { display: inline; float: left; width: 470px; margin-left: 0px; margin-right: 0px; border-width: 0px 1px; border-style: solid; border-color: rgb(217, 217, 217); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#content div.right-info li#help-centre-dialog > ul > li:first-child, #content div.right-wrp li#help-centre-dialog > ul > li:first-child, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:first-child, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:first-child, #takeover div.right-info li#help-centre-dialog > ul > li:first-child, #takeover div.right-wrp li#help-centre-dialog > ul > li:first-child, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:first-child { border-radius: 5px 5px 0px 0px; border-width: 1px 1px 0px; border-style: solid; border-color: rgb(255, 190, 16); background: none repeat scroll 0% 0% rgb(255, 206, 76); cursor: move; }
#content div.right-info li#help-centre-dialog > ul > li:first-child h3, #content div.right-wrp li#help-centre-dialog > ul > li:first-child h3, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:first-child h3, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:first-child h3, #takeover div.right-info li#help-centre-dialog > ul > li:first-child h3, #takeover div.right-wrp li#help-centre-dialog > ul > li:first-child h3, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:first-child h3 { float: left; padding: 5px 0px 0px 15px; color: rgb(0, 57, 93); font-size: 1.3em; line-height: 1.8em; max-width: 90%; text-align: left; }
#content div.right-info li#help-centre-dialog > ul > li:first-child span, #content div.right-wrp li#help-centre-dialog > ul > li:first-child span, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:first-child span, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:first-child span, #takeover div.right-info li#help-centre-dialog > ul > li:first-child span, #takeover div.right-wrp li#help-centre-dialog > ul > li:first-child span, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:first-child span { float: right; height: 27px; width: 27px; color: rgb(0, 57, 93); background: url('close-contextual-help.gif') no-repeat scroll 0px 10px transparent; padding: 5px 0px; text-indent: 20px; cursor: pointer; }
#content div.right-info li#help-centre-dialog > ul > li:last-child, #content div.right-wrp li#help-centre-dialog > ul > li:last-child, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child, #takeover div.right-info li#help-centre-dialog > ul > li:last-child, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child { border-radius: 0px 0px 5px 5px; border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217); padding: 20px 0px; }
#content div.right-info li#help-centre-dialog > ul > li:last-child a, #content div.right-wrp li#help-centre-dialog > ul > li:last-child a, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child a, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child a, #takeover div.right-info li#help-centre-dialog > ul > li:last-child a, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child a, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child a { padding-top: 8px; min-height: 22px; }
#content div.right-info li#help-centre-dialog > ul > li:last-child div, #content div.right-wrp li#help-centre-dialog > ul > li:last-child div, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child div, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child div, #takeover div.right-info li#help-centre-dialog > ul > li:last-child div, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child div, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child div { padding-top: 2px; }
#content div.right-info li#help-centre-dialog > ul > li:last-child a, #content div.right-wrp li#help-centre-dialog > ul > li:last-child a, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child a, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child a, #takeover div.right-info li#help-centre-dialog > ul > li:last-child a, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child a, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child a, #content div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox, #content div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox, #takeover div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child div.checkbox { float: left; margin: 0px 0px 0px 20px; width: auto; }
#content div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], #content div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], #takeover div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child a input[type="checkbox"], #content div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], #content div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], #takeover div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"], .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"] { display: none; }
#content div.right-info li#help-centre-dialog > ul > li:last-child a label, #content div.right-wrp li#help-centre-dialog > ul > li:last-child a label, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child a label, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child a label, #takeover div.right-info li#help-centre-dialog > ul > li:last-child a label, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child a label, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child a label, #content div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox label, #content div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox label, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox label, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox label, #takeover div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox label, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox label, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child div.checkbox label { width: auto; float: left; min-height: 22px; font-size: 1.3em; padding: 6px 0px 0px 38px; background: url('checkbox-sprite.png') no-repeat scroll 0px -31px transparent; }
#content div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, #content div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, #takeover div.right-info li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child a input[type="checkbox"]:checked ~ label, #content div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, #content div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, .takeover-wnd div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, .takeover-wnd div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, #takeover div.right-info li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, #takeover div.right-wrp li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label, .ftb #targetForLoad-payee-new li#help-centre-dialog > ul > li:last-child div.checkbox input[type="checkbox"]:checked ~ label { background-position: -31px 2px; }
#content div.right-info, #content div.right-wrp, .takeover-wnd div.right-info, .takeover-wnd div.right-wrp, #takeover div.right-info, #takeover div.right-wrp { overflow: visible; display: inline; float: left; margin-left: 15px; width: 270px; margin-top: 20px; margin-right: 0px; }
#content div.right-info div.channel-info-container #channel-info, #content div.right-wrp div.channel-info-container #channel-info, .takeover-wnd div.right-info div.channel-info-container #channel-info, .takeover-wnd div.right-wrp div.channel-info-container #channel-info, #takeover div.right-info div.channel-info-container #channel-info, #takeover div.right-wrp div.channel-info-container #channel-info { clear: left; display: none; margin-left: 13px; width: 235px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-arrow, #content div.right-wrp div.channel-info-container #channel-info #channel-info-arrow, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-arrow, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-arrow, #takeover div.right-info div.channel-info-container #channel-info #channel-info-arrow, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-arrow { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-width: 1px 1px 0px 0px; border-style: solid solid none none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; z-index: 11; width: 12px; height: 12px; margin-left: 114px; margin-top: -12px; position: absolute; display: block; transform: rotate(-45deg); }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup { z-index: 10; margin-top: -6px; position: absolute; color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); width: 235px; border-radius: 3px; padding: 3px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup .sprite, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup .sprite, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup .sprite, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup .sprite, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup .sprite, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup .sprite { background: url('help-centre-sprite.png') no-repeat scroll left top transparent; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup .close-cross, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup .close-cross, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup .close-cross, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup .close-cross, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup .close-cross, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup .close-cross { background-position: -295px -17px; width: 14px; height: 13px; float: right; cursor: pointer; margin: 4px 4px 0px 0px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content { width: 100%; border-radius: 0px 0px 3px 3px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content ul { padding: 0px 0px 14px ! important; margin: 0px 0px 0px 37px ! important; color: rgb(0, 51, 102) ! important; font-family: verdana,arial,helvetica,clean,sans-serif ! important; font-size: small ! important; font-style: normal ! important; font-variant: normal ! important; font-weight: normal ! important; letter-spacing: normal ! important; line-height: 16.003px ! important; text-align: start ! important; text-indent: 0px ! important; text-transform: none ! important; white-space: normal ! important; word-spacing: 0px ! important; clear: both ! important; list-style-type: disc ! important; list-style-position: outside ! important; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li { margin-bottom: 20px ! important; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-sprite::before { background: url('help-centre-sprite.png') no-repeat scroll left top transparent; list-style-type: none; position: absolute; margin-left: -35px; width: 30px; height: 20px; content: ""; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-chat-icon::before { background-position: -264px -40px; width: 21px; height: 18px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-info-icon::before { background-position: -164px -130px; width: 15px; height: 15px; }
#content div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before, #content div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before, .takeover-wnd div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before, .takeover-wnd div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before, #takeover div.right-info div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before, #takeover div.right-wrp div.channel-info-container #channel-info #channel-info-popup #channel-info-content li.help-phone-icon::before { background-position: -109px -180px; width: 20px; height: 20px; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); -moz-user-select: none; }
input { -moz-user-select: text ! important; }
a { color: rgb(0, 102, 153); }
a:hover { text-decoration: underline; }
div#skip-links { float: left; width: 100%; display: none; background: none repeat scroll 0% 0% rgb(0, 114, 182); font-size: 0.8em; font-weight: bold; text-align: center; }
#container { width: 1170px; float: none; display: block; margin: 0px auto; min-height: 686px; text-align: left; z-index: 100; font-size: 0.7em; }
#container header, #container header nav, #container article, #container footer { clear: both; }
#container #content { position: relative; z-index: 200; margin: 0px; padding-bottom: 40px; overflow: visible; display: inline; float: left; width: 1170px; }
#container #content .interstitial #page > div.container > :nth-child(2) { padding-top: 10px; }
:-moz-placeholder { color: rgb(119, 118, 118); }
*::-moz-placeholder { color: rgb(119, 118, 118); }
#container div#access-links { display: inline; float: left; width: 1170px; margin-left: 0px; margin-right: 0px; font-size: 0.85em; overflow: hidden; padding: 30px 0px 0px; }
#container div#access-links ul.access-link-list { float: right; clear: both; padding: 0px 20px 8px; border-radius: 0px 0px 5px 5px; min-height: 2em; }
#container div#access-links ul.access-link-list li { float: left; text-align: center; font-size: 1.4em; }
#container div#access-links ul.access-link-list li a { float: left; padding: 2px 10px; display: block; text-decoration: none; color: rgb(0, 114, 182); }
#container div#access-links ul.access-link-list li a:hover, #container div#access-links ul.access-link-list li a:focus { text-decoration: underline; }
#container div#access-links ul.access-link-list li:first-child a { border: 0px none; }
#container #masthead { position: relative; display: inline; float: left; width: 1170px; margin-left: 0px; margin-right: 0px; }
#container #masthead p.logo { position: relative; float: left; padding: 30px 0px 5px; }
#container #masthead p.logo a { float: left; width: 267px; height: 46px; }
#container #masthead p.logo a.default { background: url('barclays-logo.gif') no-repeat scroll 0px 0px transparent; }
#container #masthead p.logo img.pronly { display: none; }
#container #masthead div#user-controls .main-content .info div div#flyoutMenu dl dd ul li:first-child:nth-last-child(1) { border-top: 0px none; }
#container #masthead div#login { clear: both; display: inline; float: left; margin-left: 15px; margin-right: 15px; width: 1170px; padding: 38px 0px 15px; }
#container #masthead div#login h1 { clear: both; font-family: "expertsans-light","Verdana","Arial","Helvetica","Sans Serif"; font-size: 3em; margin: 0px; padding: 0px 0px 12px; color: rgb(0, 51, 102); display: inline; float: left; width: 1170px; }
#container #masthead div#login h1 strong { font-family: "expertsans-bold","Verdana","Arial","Helvetica","Sans Serif"; }
#container #masthead div#login p { font-family: "Verdana","Arial","Helvetica","Sans Serif"; font-size: 1.25em; float: left; clear: both; color: rgb(102, 102, 102); line-height: 150%; }
#container #masthead div#login p a { color: rgb(0, 128, 170); }
div.logon-snippet-ftb { display: inline; width: 870px; padding: 12px 0px; margin: 20px 0px 5px; position: relative; float: left; font-family: "Verdana","Arial","Helvetica","Sans Serif"; min-height: 20px; border: 1px solid rgb(255, 206, 76); border-radius: 3px; background: none repeat scroll 0px 0px rgb(255, 239, 195); text-align: left; text-decoration: none; }
div.logon-snippet-ftb p { font-size: 1.2em; color: rgb(102, 102, 102); padding: 4px 20px 5px 50px; text-indent: 0px; line-height: 1.2em; }
div.logon-snippet-ftb p a { color: rgb(0, 128, 170); }
div.right-info-snippet { overflow: visible; display: inline; margin: 25px 0px 0px; float: left; text-align: center; border-radius: 3px; }
div.right-info-snippet p { float: left; font-size: 1.2em; padding: 12px 0px 4px; line-height: 1.6em; }
.mboxDefault { visibility: hidden; }
