@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-image:url(../../images/main_top_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	background-color:#246494;
}
.left_rpt{
	background-image:url(../../images/left_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}
.right_rpt{
	background-image:url(../../images/right_rpt.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}
.btm_rpt{
	background-image:url(../../images/btm_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
.blu_bdr_btm{
	border-bottom:solid 1px #5ca8cb;
}
.menu_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	background-image:url(../../tab.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	width:106px;
	margin:0px 2px 0px 1px;
	line-height:24px;
	display:block;
	text-align:center;
	font-weight:bold;
}
.menu_link:hover{
	background-image:url(../../tab_hover.jpg);
}
.menu_link_act{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	background-image:url(../../tab_hover.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	width:106px;
	margin:0px 2px 0px 1px;
	line-height:24px;
	display:block;
	text-align:center;
	font-weight:bold;
}
.field_bdr{
	border:1px solid #089acf;
}
.search_bg{
	background-image:url(../../images/search_bg.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#025073;
	line-height:15px;
	background-color:#0aade2;
	text-decoration:none;
	font-weight:bold;
	border:1px solid #045d86;
}
.blue_box_rpt{
	background-image:url(../../images/blue_box_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
.title_blue{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	color:#024969;
	font-weight:bold;
}
td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#4d4d4d;
}
.light_blue{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#06ace1;
}
.orange_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#ec6916;
}
.orange_link:hover{
	text-decoration:none;
}
.left_box-bdr{
	border-bottom:6px solid #236797;
	border-right:6px solid #236797;
	border-top:6px solid #236797;
}
.bdr_top{
	border-top:#bcbcbc solid 1px;
}
.left_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	background-image:url(../../images/arrow.jpg);
	background-position: 5px 2px;
	background-repeat:no-repeat;
	color:#555555;
	padding-left:20px;
	font-weight:bold;
}
.left_link:hover{
	color:#024969;
}	
.left_link_act{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	background-image:url(../../images/arrow.jpg);
	background-position: 5px 2px;
	background-repeat:no-repeat;
	color:#024969;
	padding-left:20px;
	font-weight:bold;
}
.blue_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#024969;
	text-decoration:none;
}
.black_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4d4d4d;
	text-decoration:none;
}
.title-black_20{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#3e3e3e;
	text-decoration:none;
	font-weight:bold;
}
.black_16{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#3e3e3e;
	text-decoration:none;
	font-weight:bold;
}
.title-blue_20{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#024969;
	text-decoration:none;
	font-weight:bold;
}
.orange_bdr{
	border:2px solid #fc712b;
}
.dot_rpt{
	background-image:url(../../images/dot_rpt.jpg);
	background-position: left center;
	background-repeat:repeat-x;
}
.orange_14{
	font-family:Arial, Helvetica, sans-serif;
	color:#ff802d;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.white_12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
.white_12_sm{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
}
.gray_rpt{
	background-image:url(../../images/gray_rpt.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
.white_bdr{
	border:2px solid #ffffff;
}
.black_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4d4d4d;
	text-decoration:underline;
}
.black_link:hover{
	text-decoration:none;
}
.blue_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#0c7eb2;
	font-weight:bold;
}
.blue_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#0c7eb2;
	font-weight:bold;
}
.white_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
}
.white_11_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
}
.white_11_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#FFFFFF;
}
.orange_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#f17f01;
}
.church_bg{
	background-image:url(../../images/hdr.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}
.white_18{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
.blue_bdr{
	border:solid 2px #539fee;
}
.blue_11{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#246494;
}
.blue_11_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#246494;
}
.blue_11_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#246494;
}
.white_12_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
}
.white_12_link:hover{
	color:#37c0ed;
}
.white_12_link_act{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#37c0ed;
}
.gray_bdr{
	border:1px solid #999999;
	padding:3px;
}
.mobile_bg{
	background-image:url(../../images/mobile.gif);
	background-position:right bottom;
	background-repeat:no-repeat;
}
.darkblue_bdr{
	border:solid 1px #246494;
	padding:2px;
}
#mp3{
	width:200px;
	position:absolute;
	z-index:500;
	margin-left:700px;
}
/* Paging */
.LinkGray10 {
font-weight:bold;
}
.LinkRed1{
	border:1px solid #0080FF;
	background-color:#D8F9FE;
	text-align:center;
	font-weight:bold;
	padding: 3px;
	display:inline-block;
}
.LinkGray1{
	color:#CC0000;
	border:1px solid #FF8040;
	background-color:#FFE3D7;
	text-align:center;
	padding: 3px;
	display:inline-block;
}
.LinkGray{
	color:#CC0000;
	border:1px solid #FF8040;
	background-color:#FFE3D7;
	
	text-align:center;	
	padding: 2px;
	margin:0px 1px 0px 1px;
	display:inline-block;	
	float:left;
}
span.LinkRed{
	border:1px solid #0080FF;
	background-color:#D8F9FE;
	text-align:center;
	padding: 2px;
	margin:0px 1px 0px 1px;
	display:inline-block;
	float:left;
}